ul.archive {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}

ul.archive li {
  list-style: none;
  display: inline-block;
  float: left;
  margin: 14px;
}

ul.archive .image {
  height: 290px;
  width: 290px;
  background-size: 290px 290px;
  background-repeat: no-repeat;
}

.title {
  width: 290px;
  height: 80px;
  text-align: center;
  background-color: #c0c0c0;
   color: #545358;
  vertical-align: middle;
}

.date {
  font-size: 15px;
  color: #545358;
  margin-bottom: 0px;
  margin-left: 10px;
}

span.wrap {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}

span.text {
  display: inline-block;
  font-size: 16px;
  line-height: 1.2em;
  width: 290px;
  height: 55px;
  white-space: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
