/* Body */
body {
  overflow-x: hidden;
  position: relative;
  left: 0px;
  transition: all 200ms linear; 
}
/* Preloader */
body:before {
  display: none;
  content: url('/images/settings/activity_icon_selected@2x.png')
           url('/images/settings/creditcard_icon_selected@2x.png')
           url('/images/settings/graph_icon_selected@2x.png')
           url('/images/settings/home_icon_selected@2x.png')
           url('/images/settings/insights_icon_selected@2x.png')
           url('/images/settings/members_icon_selected@2x.png')
           url('/images/settings/settings_icon_selected@2x.png')
           url('/images/settings/survey_icon_selected@2x.png')
           url('/images/settings/useradd_icon_selected@2x.png');
}

.body-push {
  left: 284px;
  transition: all 200ms linear; 
  overflow: hidden;
}


/* Navigation Bar */

.navbar-header {
  height: 75px;
  text-align: center;
  padding-top: 12px;
  transition: all 200ms linear; 
}

.navbar-title {
  font-size: 38px;
  width: 100px;
  margin: auto;
  font-weight: 300;
}

#registration .navbar-title,
#login .navbar-title {
  background: url('/images/logo.png');
  color: transparent;
  background-size: 151px 61px;
  width: 151px;
  position: absolute;
  left: 0px;
  top: 7px;
  height: 61px;
}

.menu-icon {
  width: 36px;
  height: 36px;
  background-size: 36px;
  position: absolute;
  left: 0px;
  top: 18px;
}

.plus-icon {
  width: 36px;
  height: 36px;
  background-size: 36px;
  position: absolute;
  right: 0px;
  top: 18px;
}

.avatar-menu {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 20%;
  top: 16px;
  font-size: 14px;
}

.tool-tip {
  background-image: url('/images/icons/tooltip_icon_blue.png');
  background-size: 7px 4px;
  width: 7px;
  height: 4px;
  position: relative;
  left: 48px;
  bottom: 20px;
}

.user-menu {
  position: absolute; 
  left: 60%;
  background: #FBFCFF;
  width: 120px;
  border-radius: 2px;
  display: none;
}

.user-menu:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 12px 15px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 100;
  top: -10px;
  left: 12px;
}

.user-menu a {
  color: #656772;
  width: 100%;
  display: block;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}

.user-menu a:hover {
  background-color: #3e6a9e;
  color: #ffffff;
}

.user-menu a:active {
  color: #ffffff;
}

.user-menu ul {
  margin: 0px auto;
  width: 100%;
  float: left;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  z-index: 500;
  position: relative;
}

.user-menu li {
  list-style: none;
  border-bottom: 1px #e4e5ea solid;
  padding: 6px 0px;
}

.user-menu li:last-child {
  border: none;
}

.login-button {
  width: 120px;
  font-size: 20px;
  padding-top: 6px;
}

.login-button a:hover {
  text-decoration: none;
}

/* Settings Menu */
.settings {
  width:454px;
  background-color: #3c485e;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: -454px;
  z-index: 6000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
  padding-left: 154px;
  transition: all 200ms linear; 
  overflow-y: auto;
}

.settings ul.extended
{
  border-top: 1px solid #485769;
}

.settings-avatar-menu {
  height: 75px;
  background-color: #2F394D;
  display: table;
  width: 100%;
  padding-left: 88px;
  padding-right: 35px;
}

.settings-avatar-menu .user-menu {
  left: 306px;
  top: 71px;
}

.settings-avatar-menu .user-menu:after {
    left: 91px;
}

.settings-tool-tip {
    width: 7px;
    height: 4px;
    background: url('/images/icons/tooltip_icon_white.png');
    background-repeat: no-repeat;
    position: relative;
    bottom: 32px;
}

.settings-avatar-menu .prizm-avatar-xs {
  height: 21px;
  width: 21px;
  display: table-cell;
  vertical-align: middle;
  margin: 26px 0px;
}

.settings-avatar-menu p {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  width: 130px;
  line-height: 15px;
  color: #fefefe;
  font-weight: 700;
}

.settings-menu a {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: 700;
  color: inherit;
  font-height: 17px;
}
.settings-menu ul {
  width: 100%;
  list-style: none;
  padding: 30px 0px 14px 110px;
}


.settings-menu li { 
  padding-left: 165px;
  margin: 18px 35px 3px -130px;
  color: #b2b6bd;
}

.settings-menu li:hover  {
  background-color: #333e51;
}

.settings-menu li.selected, .settings-menu li:active {
  background-color: #3e6a9e;
  color: #ffffff;
}
 

.settings-menu-button {
  background-image: url('/images/icons/menu_icon_white.png');
  background-size: 40px;
  width: 40px;
  height: 40px;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

.settings-menu {
  margin-top: 50px;
}

.settings-visable {
  left: -154px;
  transition: all 200ms linear; 
}

.settings-icon {
  background-repeat: no-repeat;
  background-position-x: 132px;
  background-position-y: 7px;
  background-size: 14px;
}

.home-button {
  background-image: url('/images/settings/home_icon@2x.png');
  background-position-y: 6px;
}

.home-button.selected {
  background-image: url('/images/settings/home_icon_selected@2x.png');
}

.activity-button {
  background-size: 11px 16px;
  background-position-y: 6px;
  background-image: url('/images/settings/activity_icon@2x.png');
}

.activity-button.selected {
  background-image: url('/images/settings/activity_icon_selected@2x.png');
}

.insights-button {
  background-position-y: 7px;
  background-image: url('/images/settings/insights_icon@2x.png');
}

.insights-button.selected {
  background-image: url('/images/settings/insights_icon_selected@2x.png');
}


.surveys-button {
  background-position-y: 8px;
  background-image: url('/images/settings/survey_icon@2x.png');
}

.surveys-button.selected {
  background-image: url('/images/settings/survey_icon_selected@2x.png');
}

.stats-button {
  background-image: url('/images/settings/graph_icon@2x.png');
}

.stats-button.selected {
  background-image: url('/images/settings/graph_icon_selected@2x.png');
}

.settings-button {
  background-image: url('/images/settings/settings_icon@2x.png');
}

.settings-button.selected {
  background-image: url('/images/settings/settings_icon_selected@2x.png');
}

.members-button {
  background-image: url('/images/settings/members_icon@2x.png');
}

.members-button.selected {
  background-image: url('/images/settings/members_icon_selected@2x.png');
}

.billing-button {
  background-position-y: 8px;
  background-image: url('/images/settings/creditcard_icon@2x.png');
}

.billing-button.selected {
  background-image: url('/images/settings/creditcard_icon_selected@2x.png');
}

.invite-button {
  background-position-y: 6px;
  background-image: url('/images/settings/useradd_icon@2x.png');
}

.invite-button.selected {
  background-image: url('/images/settings/useradd_icon_selected@2x.png');
}

.calendar-button {
  background-image: url('/images/settings/calendar_icon@2x.png');
}

.calendar-button.selected {
  background-image: url('/images/settings/calendar_icon_selected@2x.png');
}

.explore-button {
  background-image: url('/images/settings/explore_icon@2x.png');
}

.explore-button.selected {
  background-image: url('/images/settings/explore_icon_selected@2x.png');
}

.message-button {
  background-image: url('/images/settings/message_icon@2x.png');
}

.message-button.selected {
  background-image: url('/images/settings/message_icon_selected@2x.png');
}

/* Footer */

.footer {
  background-color: #e4e5ea;
  width: 100%;
}

.legal {
  font-size: .6em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  padding-top: 80px;
}

.social {
  display: block;
}

#follow-prizm {
  color: #8698C5;
  font-size: 1.2em;
  margin: 0 auto 20px auto;
  display: block;
  width: 160px;
  height: 2em;
  border-bottom: 1px solid #8698C5;
}

.legal-span {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 24px;
  padding-top: 12px;
  border-top: 1px solid #D4DAEA;
}

#twitter, #instagram, #facebook {
  background-size: 32px 32px;
}

#twitter {
  background-image: url('/images/twitter.png');
}

#facebook {
  background-image: url('/images/facebook.png');
}

#instagram {
  background-image: url('/images/instagram.png');
}

.page-header {
  color: #545358;
  font-size: 30px;
  font-weight: bold;
}


.contact-button {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  background-repeat: none;
}

.mixpanelbadge {
  display: block;
  margin: 36px auto;
}

/** Overlay **/
.overlay {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: -500px;
  left: -500px;
  right: 0;
  bottom: 0;
  z-index: 5000;
}

button[data-is-following="true"] {
  background-color: #3e6a9e !important;
  color: #ffffff !important; 
}

button[data-is-following="false"]{
  background-color: #ffffff !important;
  border: 1px solid #d1d1d2 !important; 
  color: #3e6a9e !important;
}

/* New Post */
#newPostModal .modal-content {
    margin-top: 100px;
    width: 490px;

    height: 655px;
    border-radius: 0px;
    border: none;
}

.modal-body span {
    height: 36px; 
    display: inherit;
    background-color: #e4e5ea;

    color: #545358; font-size: 24px; 
    font-weight: 400;
    text-align: center;
}

form#new-post {

}

form#new-post output {
    width: 110px;
    height: 110px;
    display: inline-block;
    margin: 35px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
    padding: 0px
}

form#new-post output div {
  width: 100% !important;
  height: 100% !important;
  background-size: 110px !important;
}


.form-row>span {
    opacity: 0.7; color: #050506; font-size: 14px;
    line-height: 36px;
    text-align: left;
    padding-left: 34px;
}

form#new-post btn-post {

}

input#post-text {
    color: #545358; font-size: 19px;
  
    display: inline-block;
    height: 110px;
    width: 275px;
    margin-top: 35px;
    position: absolute;
    border: none;
}

.btn-post {
    width: 122px; height: 71px; background-color: #f2f3f9;
  
    border-radius: 0px;
    border-color: #fff;
    border-right: none;
    /* border-bottom: none; */
    /* border-top: none; */
}

.btn-image {
    /* position: relative; */
    /* overflow: hidden; */
    background-image: url('/images/posts/camera_icon.png');
    background-size: 36px 28px;
    background-repeat: no-repeat;
    background-position-x: 43px;
    background-position-y: 21px;
}
.btn-image input[type=file] {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* font-size: 100px; */
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-location {
  background-image: url('/images/posts/locationpin_icon.png');
  background-size: 24px 33px;
  background-repeat: no-repeat;
  background-position-x: 50px;
  background-position-y: 19px;
}

.btn-tag {
  background-image: url('/images/posts/usertag_icon.png');
  background-size: 36px 35px;
  background-repeat: no-repeat;
  background-position-x: 44px;
  background-position-y: 18px;
}

.btn-trust {
/*   background-image: url('/images/posts/globe_icon.png');
  background-size: 36px;
  background-repeat: no-repeat;
  background-position-x: 45px;
  background-position-y: 20px; */
  padding: 0px;
}

.btn-trust input[type=checkbox] {
    margin: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    top: 0px;
    z-index: 500;
    opacity: 0;
}

.btn-trust input[type=checkbox] + span {
  background-image: url('/images/posts/globe_icon.png');
  background-size: 36px;
  background-repeat: no-repeat;
  background-position-x: 45px;
  background-position-y: 17px;
  height: 100%;
  width: 100%;
  position: relative;
  right: 121px;
  background-color: inherit;
}

.btn-trust input[type=checkbox]:checked + span {
  background-color: #ffffff;
}

.btn-category {
   width: 163px;
  
   height: 98px;
   padding: 0px;
   position: relative;
   z-index: 0;
}

.btn-category span {
  background: inherit;
  color: #545358;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
  height: 100%;
  position: relative;
  right: 162px;
  padding-top: 69px;
  z-index: 0;
  vertical-align: top;
}

.btn-category input[type=radio] {
    position: relative;

    height: 100%;
    width: 100%;
    z-index: 1000;
    margin-top: 0px;
    opacity: 0;
}

.btn-category input[type=radio]:checked + span {
  background-color: #fff;
}

input#aspiration + span {
  background-image: url('/images/posts/aspirations_icon.png');
  background-size: 34px 26px;
  background-repeat: no-repeat;
  background-position: 64px 30px;
}

input#passion + span {
  background-image: url('/images/posts/passions_icon.png');
  background-size: 34px 30px;
  background-repeat: no-repeat;
  background-position: 64px 26px;
}

input#experiences + span {
  background-image: url('/images/posts/experiences_icon.png');
  background-size: 34px 35px;
  background-repeat: no-repeat;
  background-position: 64px 21px;
}

input#achievements + span {
  background-image: url('/images/posts/achievements_icon.png');
  background-size: 34px 35px;
  background-repeat: no-repeat;
  background-position: 64px 21px;
}

input#inspirations + span{
  background-image: url('/images/posts/inspirations_icon.png');
  background-size: 19px 34px;
  background-repeat: no-repeat;
  background-position: 72px 22px;
}

input#personal + span {
  background-image: url('/images/posts/personal_icon.png');
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: 63px 21px;
}

.btn-create-post {
    width: 162px;
  
    height: 37px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

@media screen and (max-width:500px) {
  /* Navbar */
  .menu-icon {
    height: 28px;
    width: 26px;
    background-size: 30px;
    background-position-y: 5px;
    left: 15px;
  }

  .navbar-title {
    font-size: 32px;
  }

  .plus-icon {
    right: 15px;
    width: 30px;
    height: 30px;
    background-size: 30px;
  }

  .avatar-menu {
    right: 20%;
    height: 30px;
    width: 30px;
    top: 18px;
  }

  .avatar-menu .prizm-avatar-xs {
    height: 30px;
    width: 30px;
  }
  .tool-tip {
    left: 34px;
    bottom: 15px;
  }
  .user-menu {
    position: fixed;
    top: 75px;
    right: 0px;
    left: 0px;
    width: auto;
    border-radius: 0px;
  }
  
  .user-menu:after {
    display: none;
  }

  /* Settings */
  .settings-tool-tip {
    display: none;
  }

  /* Footer */
  .legal-span {
    width: 80%;
  }
}
