/* Body */
body {
  overflow-x: hidden;
  position: relative;
  left: 0px;
  -webkit-transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1); 
  -o-transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1); 
  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1); 
}


.body-push {
  left: 304px;
  -webkit-transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715);
     -moz-transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715); 
       -o-transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715); 
          transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715); 
}
/* Navigation Bar */
.navbar {
  z-index: 50;
  -webkit-transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1); 
  -o-transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1); 
  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1); 
}

.navbar-header {
  height: 75px;
  text-align: center;
  padding-top: 12px;
}

.navbar-title {
  font-size: 38px;
  width: 100px;
  margin: auto;
}

.menu-icon {
  width: 36px;
  height: 36px;
  background-size: 36px;
  position: absolute;
  left: 0px;
  top: 18px;
}

.plus-icon {
  width: 36px;
  height: 36px;
  background-size: 36px;
  position: absolute;
  right: 0px;
  top: 18px;
}

.avatar-menu {
  height: 40px;
  width: 40px;
  position: absolute;
  right: 16%;
  top: 16px;
  font-size: 14px;
}

.tool-tip {
  background-image: url('/images/icons/tool_tip_icon.png');
  background-size: 9px;
  width: 9px;
  height: 9px;
  position: relative;
  left: 44px;
  bottom: 28px;
}

.user-menu {
  position: absolute; 
  left: 60%;
  background: #FBFCFF;
  width: 120px;
  border-radius: 2px;
  display: none;
}

.user-menu:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 12px 15px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 12px;
}

.user-menu a {
  color: #656772;
}

.user-menu a:hover {
  color: #2443a1;
}

.user-menu a:active {
  color: rgba(36, 67, 161, .6);
}

.user-menu ul {
  margin: 0px auto;
  width: 100%;
  float: left;
  padding: 0px;
  text-align: center;
}

.user-menu li {
  list-style: none;
  border-bottom: 1px #e4e5ea solid;
  padding: 12px;
}

.user-menu li:last-child {
  border: none;
}

.rotated {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.login-button {
  width: 120px;
  font-size: 20px;
  padding-top: 6px;
}

.login-button a:hover {
  text-decoration: none;
}

/* Settings Menu */
.settings {
  width:454px;
  background-color: #3c485e;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: -454px;
  z-index: 1250;
  color: #ffffff;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
  padding-left: 179px;
  -webkit-transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1);
  -moz-transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1); 
  -o-transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1); 
  transition: all 500ms cubic-bezier(0.39, 0.575, 0.565, 1); 

}

.settings a {
  color: #ffffff
}

.settings ul {
  width: 250px;
  list-style: none;
  padding: 14px 0px 23px 110px;
}

.settings li {
  padding-left: 165px;
  margin: 18px 0px 3px -130px;
}
/**
.settings li:hover {
  background-color: #3e6a9e;
}
  **/

.settings-menu-button {
  background-image: url('/images/icons/menu_icon_white.png');
  background-size: 40px;
  width: 40px;
  height: 40px;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

.settings-menu {
  margin-top: 80px;
}

.settings-visable {
  left: -179px;
 -webkit-transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715);
     -moz-transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715); 
       -o-transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715); 
          transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715); 
}

.settings-icon {
  background-size: 16px;
  background-repeat: no-repeat;
  background-position-x: 132px;
  background-position-y: 2px;
}

.home-button {
  background-image: url('/images/settings/settings_home.png');
}

.activity-button {
  background-image: url('/images/settings/settings_activity.png');
}

.insights-button {
  background-image: url('/images/settings/settings_insights.png');
}

.surveys-button {
  background-image: url('/images/settings/settings_survey.png');
}

.stats-button {
  background-image: url('/images/settings/settings_stats.png');
}

.settings-button {
  background-image: url('/images/settings/settings_settings.png');
}

.members-button {
  background-image: url('/images/settings/settings_members.png');
}

.billing-button {
  background-image: url('/images/settings/settings_billing.png');
}

.invite-button {
  background-image: url('/images/settings/settings_invite.png');
}

/* Footer */

.footer {
  background-color: #e4e5ea;
  width: 100%;
}

.legal {
  font-size: .6em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  padding-top: 80px;
}

.social {
  display: block;
}

#follow-prizm {
  color: #8698C5;
  font-size: 1.2em;
  margin: 0 auto 20px auto;
  display: block;
  width: 160px;
  height: 2em;
  border-bottom: 1px solid #8698C5;
}

.legal-span {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 24px;
  padding-top: 12px;
  border-top: 1px solid #D4DAEA;
}

#twitter, #instagram, #facebook {
  background-size: 32px 32px;
}

#twitter {
  background-image: url('/images/twitter.png');
}

#facebook {
  background-image: url('/images/facebook.png');
}

#instagram {
  background-image: url('/images/instagram.png');
}


.contact-button {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  background-repeat: none;
}

.mixpanelbadge {
  display: block;
  margin: 36px auto;
}

/** Overlay **/
.overlay {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: -500px;
  right: 0;
  bottom: 0;
  z-index: 100;
}

@media screen and (max-width:500px) {
  /* Navbar */
  .menu-icon {
    left: 15px;
  }

  .plus-icon {
    right: 15px;
  }

  /* Footer */
  .legal-span {
    width: 80%;
  }
}
