/* Body */

input {
  outline: none;
}

body {
  overflow-x: hidden;
  position: relative;
  left: 0px;
  transition: all 200ms linear; 
}

#activityBar {
  position: fixed;
  top: -40px;
  left: 0;
  right: 0;
  height: 40px;
  background-color: #fe7328;
  color: #fefefe;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  vertical-align: center;
  z-index: 3000;
  transition: all 500ms linear; 
}

#activityBar.visible {
  top: 0px;
  transition: all 500ms linear;
}

/* Preloader */
.body-push {
  left: 30% !important;
  transition: all 200ms linear; 
  overflow: hidden;
}

.container.topnav-offset {
  width: 986px;
}

body.noscroll {
  overflow: hidden !important;
}

/* Navigation Bar */
.navbar {
  height: 75px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  z-index: 1000;
  background-color: #E4E5EA;
  box-shadow: 0 1px 1px #d4dae9;
  transition: all 500ms linear;
}

#activityBar.visible + .navbar {
  top: 40px;
  transition: all 500ms linear;
}

.navbar>.container {
  position: relative;
  width: 986px;
  height: 75px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  transition: all 200ms linear; 
 
}

.navbar-header {
  margin-left: 443px;
  display: block;
  height: 75px;
  width: 100px;
  text-align: center;
  padding-top: 12px;
}

.navbar-title {
  float: left;
  font-size: 38px;
  display: inline-block;
  height: 75px;
  width: 100px;
  margin-left: 407px;
  line-height: 75px;
  vertical-align: middle;
  font-weight: 300;
  clear: none;
}

#registration .navbar-title,
#login .navbar-title {
  background: url('/images/logo.png');
  color: transparent;
  background-size: 151px 61px;
  width: 151px;
  position: absolute;
  margin-left: 0px;
  left: 0px;
  top: 7px;
  height: 61px;
}

.menu-icon {
  width: 36px;
  height: 36px;
  background-size: 36px;
  float: left;
  clear: none;
  margin: 18px 0 0 0;
}

.plus-icon {
  width: 36px;
  height: 36px;
  background-size: 36px;
  margin-top: 18px;
  float: right;
  z-index: 500;
}

.message-icon {
  width: 34px;
  height: 36px;
  background-image: url('/images/icons/message_icon.png');
  background-repeat: no-repeat;
  background-size: 34px 36px;
  background-position: center;
  margin-top: 20px;
  float: right;
}

.avatar-menu {
  height: 40px;
  width: 40px;
  float: right;
  margin-top: 16px;
  font-size: 14px;
  margin-right: 72px;
  clear: none;
}

.tool-tip {
  background-image: url('/images/icons/tooltip_icon_blue.png');
  background-size: 7px 4px;
  width: 7px;
  height: 4px;
  position: relative;
  left: 48px;
  bottom: 20px;
}

.user-menu {
  margin-top: 15px; 
  position: absolute; 
  margin-left: 28px;
  background: #FBFCFF;
  width: 123px;
  border-radius: 2px;
  display: none;
  border: 1px solid rgba(83, 107, 180, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 0;
}

.user-menu:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 12px 13px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 0;
  top: -10px;
  left: 12px;
}

.user-menu a {
  color: #656772;
  width: 100%;
  display: block;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  padding-left: 15px;
}

.user-menu a:hover {
  background-color: #3e6a9e;
  color: #ffffff;
}

.user-menu a:active {
  color: #ffffff;
}

.user-menu ul {
  width: 100%;
  padding: 0px;
  text-align: left;
  font-size: 14px;
  font-weight: 100;
  z-index: 500;
  height: 100%;
  margin-bottom: 0;
}

.user-menu li {
  list-style: none;
  padding: 4px 0;
}

.user-menu li:last-child {
  border: none;
}

.login-button {
  width: 120px;
  font-size: 20px;
  padding-top: 6px;
}

.login-button a:hover {
  text-decoration: none;
}

/* Settings Menu */
.settings {
  width: 30%;
  background-color: #3c485e;
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: -30%;
  z-index: 6000;
  color: #ffffff;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
  padding: 0;
  transition: all 200ms linear; 
  overflow-y: auto;
}

.settings ul.extended
{
  border-top: 1px solid #485769;
}

.settings-avatar-wrap {
  width: 100%;
  height: 75px;
  background-color: #2F394D;
  text-align: right;
}

.settings-avatar-menu {
  height: 75px;
  display: inline-block;
  width: 202px;
  text-align: left;
}

.settings-avatar-menu .user-menu {
  top: 62px;
  margin-left: 64px;
  left: initial;
}

.settings-avatar-menu .user-menu:after {
    left: 91px;
}

.settings-tool-tip {
    width: 7px;
    height: 4px;
    background: url('/images/icons/tooltip_icon_white.png');
    background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
}


.settings-avatar-menu .prizm-avatar-xs {
  height: 21px;
  width: 21px;
  vertical-align: middle;
  margin: 26px 0px;
}

.settings-avatar-menu p {
  vertical-align: middle;
  font-size: 14px;
  width: 130px;
  color: #fefefe;
  font-weight: 700;
  display: inline-block;
  padding: 0;
  margin: 0 0 0 12px;
  height: 75px;
  line-height: 75px;
}

span.name-wrap {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}

span.name {
  display: inline-block;
  line-height: 15px;
}

.settings-menu a {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: 700;
  color: inherit;
  font-height: 17px;
}
.settings-menu ul {
  width: 100%;
  list-style: none;
  padding: 14px 0px 14px 110px;
  text-align: right;
  margin-right: 35px;
}


.settings-menu li { 
  text-align: right;
  margin: 18px 35px 3px -130px;
  font-size: 17px;
  line-height: 30px;
  height: 30px;
  font-weight: 700;
}

.settings-menu li.new div::before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fe7328;
  margin-left: -22px;
  margin-top: 7px;
}

.settings-menu li.item {
  color: #b2b6bd;
  cursor: pointer;
}

.settings-menu li.item:hover  {
  background-color: #333e51;
}

.settings-menu li.item.selected, .settings-menu li.item:active {
  background-color: #3e6a9e;
  color: #ffffff;
}
 

.settings-menu-button {
  background-image: url('/images/icons/menu_icon_white.png');
  background-size: 40px;
  width: 40px;
  height: 40px;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
}

.settings-menu {
  margin-top: 50px;
}

.settings-visable {
  left: 0;
  transition: all 200ms linear; 
}

.settings-icon {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 7px;
  background-size: 14px;
  width: 170px;
  text-align: left;
  padding-left: 32px;
}

.settings-header {
  height: 30px;
  line-height: 22px;
  display: inline-block;
  width: 170px;
  text-align: left;
  color: #fff !important;
}


.home-button {
  background-image: url('/images/settings/home_icon@2x.png');
  background-position-y: 6px;
}

.home-button.selected {
  background-image: url('/images/settings/home_icon_selected@2x.png');
}

.activity-button {
  background-size: 11px 16px;
  background-position-y: 6px;
  background-image: url('/images/settings/activity_icon@2x.png');
}

.activity-button.selected {
  background-image: url('/images/settings/activity_icon_selected@2x.png');
}

.insights-button {
  background-position-y: 7px;
  background-image: url('/images/settings/insights_icon@2x.png');
}

.insights-button.selected {
  background-image: url('/images/settings/insights_icon_selected@2x.png');
}


.surveys-button {
  background-position-y: 8px;
  background-image: url('/images/settings/survey_icon@2x.png');
}

.surveys-button.selected {
  background-image: url('/images/settings/survey_icon_selected@2x.png');
}

.stats-button {
  background-image: url('/images/settings/graph_icon@2x.png');
}

.stats-button.selected {
  background-image: url('/images/settings/graph_icon_selected@2x.png');
}

.settings-button {
  background-image: url('/images/settings/settings_icon@2x.png');
}

.settings-button.selected {
  background-image: url('/images/settings/settings_icon_selected@2x.png');
}

.members-button {
  background-position-y: 8px;
  background-image: url('/images/settings/members_icon@2x.png');
}

.members-button.selected {
  background-image: url('/images/settings/members_icon_selected@2x.png');
}

.billing-button {
  background-position-y: 9px;
  background-image: url('/images/settings/creditcard_icon@2x.png');
}

.billing-button.selected {
  background-image: url('/images/settings/creditcard_icon_selected@2x.png');
}

.invite-button {
  background-position-y: 6px;
  background-image: url('/images/settings/useradd_icon@2x.png');
}

.invite-button.selected {
  background-image: url('/images/settings/useradd_icon_selected@2x.png');
}

.calendar-button {
  background-image: url('/images/settings/calendar_icon@2x.png');
}

.calendar-button.selected {
  background-image: url('/images/settings/calendar_icon_selected@2x.png');
}

.explore-button {
  background-image: url('/images/settings/explore_icon@2x.png');
}

.explore-button.selected {
  background-image: url('/images/settings/explore_icon_selected@2x.png');
}

.message-button {
  background-image: url('/images/settings/message_icon@2x.png');
}

.message-button.selected {
  background-image: url('/images/settings/message_icon_selected@2x.png');
}

/* Footer */

.footer {
  background-color: #e4e5ea;
  width: 100%;
}

.legal {
  font-size: .6em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  padding-top: 80px;
}

.social {
  display: block;
}

#follow-prizm {
  color: #8698C5;
  font-size: 1.2em;
  margin: 0 auto 20px auto;
  display: block;
  width: 160px;
  height: 2em;
  border-bottom: 1px solid #8698C5;
}

.legal-span {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 24px;
  padding-top: 12px;
  border-top: 1px solid #D4DAEA;
}

#twitter, #instagram, #facebook {
  background-size: 32px 32px;
}

#twitter {
  background-image: url('/images/twitter.png');
}

#facebook {
  background-image: url('/images/facebook.png');
}

#instagram {
  background-image: url('/images/instagram.png');
}

.page-header {
  color: #545358;
  font-size: 30px;
  font-weight: bold;
}


.contact-button {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  background-repeat: none;
}

.mixpanelbadge {
  display: block;
  margin: 36px auto;
}

/** Overlay **/
.overlay {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: -500px;
  left: -500px;
  right: 0;
  bottom: 0;
  z-index: 5000;
}

button[data-is-following="true"] {
  background-color: #3e6a9e !important;
  color: #ffffff !important; 
}

button[data-is-following="false"]{
  background-color: #ffffff !important;
  border: 1px solid #d1d1d2 !important; 
  color: #3e6a9e !important;
}

/* New Post */
#newPostModal .modal-content {
    margin-top: 100px;
    width: 490px;

    height: 655px;
    border-radius: 0px;
    border: none;
}

.modal-body span {
    height: 36px; 
    display: inherit;
    background-color: #e4e5ea;

    color: #545358; font-size: 24px; 
    font-weight: 400;
    text-align: center;
}

form#new-post {

}

form#new-post output {
    width: 110px;
    height: 110px;
    display: inline-block;
    margin: 35px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
    padding: 0px
}

form#new-post output div {
  width: 100% !important;
  height: 100% !important;
  background-size: 110px !important;
}


.form-row>span {
    opacity: 0.7; color: #050506; font-size: 14px;
    line-height: 36px;
    text-align: left;
    padding-left: 34px;
}

form#new-post btn-post {

}

input#post-text {
    color: #545358; font-size: 19px;
  
    display: inline-block;
    height: 110px;
    width: 275px;
    margin-top: 35px;
    position: absolute;
    border: none;
}

.btn-post {
    width: 122px; height: 71px; background-color: #f2f3f9;
  
    border-radius: 0px;
    border-color: #fff;
    border-right: none;
    /* border-bottom: none; */
    /* border-top: none; */
}

.btn-image {
    /* position: relative; */
    /* overflow: hidden; */
    background-image: url('/images/posts/camera_icon.png');
    background-size: 36px 28px;
    background-repeat: no-repeat;
    background-position: center;
}
.btn-image input[type=file] {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* font-size: 100px; */
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-location {
  background-image: url('/images/posts/locationpin_icon.png');
  background-size: 24px 33px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-tag {
  background-image: url('/images/posts/usertag_icon.png');
  background-size: 36px 35px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-trust {
/*   background-image: url('/images/posts/globe_icon.png');
  background-size: 36px;
  background-repeat: no-repeat;
  background-position-x: 45px;
  background-position-y: 20px; */
  padding: 0px;
}

.btn-trust input[type=checkbox] {
    margin: 0px;
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    top: 0px;
    z-index: 500;
    opacity: 0;
}

.btn-trust input[type=checkbox] + span {
  background-image: url('/images/posts/globe_icon.png');
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  position: relative;
  right: 121px;
  background-color: inherit;
}

.btn-trust input[type=checkbox]:checked + span {
  background-color: #ffffff;
}

.btn-category {
   width: 163px;
  
   height: 98px;
   padding: 0px;
   position: relative;
   z-index: 0;
}

.btn-category span {
  background: inherit;
  color: #545358;
  font-size: 14px;
  line-height: 14px;
  width: 100%;
  height: 100%;
  position: relative;
  right: 162px;
  padding-top: 69px;
  z-index: 0;
  vertical-align: top;
}

.btn-category input[type=radio] {
    position: relative;

    height: 100%;
    width: 100%;
    z-index: 1000;
    margin-top: 0px;
    opacity: 0;
}

.btn-category input[type=radio]:checked + span {
  background-color: #fff;
}

input#aspiration + span {
  background-image: url('/images/posts/aspirations_icon.png');
  background-size: 34px 26px;
  background-repeat: no-repeat;
  background-position: center;
}

input#passion + span {
  background-image: url('/images/posts/passions_icon.png');
  background-size: 34px 30px;
  background-repeat: no-repeat;
  background-position: center;
}

input#experiences + span {
  background-image: url('/images/posts/experiences_icon.png');
  background-size: 34px 35px;
  background-repeat: no-repeat;
  background-position: center;
}

input#achievements + span {
  background-image: url('/images/posts/achievements_icon.png');
  background-size: 34px 35px;
  background-repeat: no-repeat;
  background-position: center;
}

input#inspirations + span{
  background-image: url('/images/posts/inspirations_icon.png');
  background-size: 19px 34px;
  background-repeat: no-repeat;
  background-position: center;
}

input#personal + span {
  background-image: url('/images/icons/lock.png');
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: center;
}

.btn-create-post {
    width: 162px;
  
    height: 37px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.plus-menu {
  width: 108px;
  background-color: #fefefe;
  margin: 0;
  padding: 0;
  position: absolute; 
  margin-top: 57px;
  margin-left: -72px;
  border: 1px solid rgba(83, 107, 180, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}



.plus-menu:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 12px 13px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  top: -10px;
  left: 78px;
  z-index: 0;
}

.plus-menu ul {
  width: 108px;
  margin: 0;
  padding: 0;
  z-index: 500;
}

#menuItems li {
  list-style: none;
  padding: 4px 0;
}

#menuItems li span {
  width: 108px;
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  color: #656772;
  font-weight: 400;
  padding-left: 15px;
  text-align: left;
}

#menuItems li:hover span {
  background-color: #3e6a9e;
  color: white;
}



@media screen and (max-width: 900px) {
  .body-push {
    left: 40%;
  }

  .settings {
    left: -40%;
    width: 40%;
  }

  .settings-visable {
    left: 0px;
  }

}

@media screen and (max-width:600px) {
 .body-push {
    left: 60%;
  }

  .container.body-push {
    margin-left: 60%;
  }

  .container.topnav-offset {
    width: 520px;
  }

  .navbar .container {
    width: 520px;
  }

  .navbar-title {
    margin-left: 184px;
  }

  .settings {
    left: -60%;
    width: 60%;
  }

  .settings-visable {
    left: 0px;
  }
  /* Navbar */
  .menu-icon {
    height: 28px;
    width: 26px;
    background-size: 30px;
    background-position-y: 5px;
    left: 15px;
  }

  .navbar-title {
    font-size: 32px;
  }

  .plus-icon {
    right: 15px;
    width: 30px;
    height: 30px;
    background-size: 30px;
  }

  .message-icon {
    right: 15px;
    width: 28px;
    height: 30px;
    background-size: 28px 30px;
  }


  .avatar-menu {
    right: 20%;
    height: 30px;
    width: 30px;
    top: 18px;
  }

  .avatar-menu .prizm-avatar-xs {
    height: 30px;
    width: 30px;
  }
  .tool-tip {
    left: 34px;
    bottom: 15px;
  }
  .user-menu, .plus-menu {
    position: fixed;
    margin: 0;
    top: 75px;
    right: 0px;
    left: 0px;
    width: auto;
    border-radius: 0px;
  }
  
  .user-menu:after, .plus-menu:after {
    display: none;
  }

  .plus-menu ul {
    width: 100%;
  }

  #menuItems li, .user-menu li {
    width: 100%;
    border-bottom: 1px solid rgba(83, 107, 180, 0.1);
  }

  /* Settings */
  .settings-tool-tip {
    display: none;
  }

  /* Footer */
  .legal-span {
    width: 80%;
  }
  
  .modal-dialog: {
    margin: 0 auto;
    width: 498px;
  }

  #newPostModal .modal-content {
    width: 498px;
  }
  
  input#post-text {
    margin-top: 5px;
    width: 175px;
  }

  form#new-post output {
    margin: 15px;
  }
  
  .btn-post {
    height: 44px;
    width: 124px;
  }

  .btn-trust input[type=checkbox] + span {
    right: 123px;
  } 

  .btn-category {
    width: 166px;
    height: 69px;
  }
  .btn-category span {
    right: 165px;
    padding-top: 52px;
  }

  .btn-create-post {
    height: 44px;
    width: 478px;
    margin: 33px 10px;
  }
}

@media screen and (max-width: 488px) {
  .body-push {
    left: 280px;
  }

  .container.body-push {
    left: 400px;
  }

  .settings {
    left: -280px;
    width: 280px;
  }

  .settings-visable {
    left: 0px;
  }
  .modal-dialog {
    margin: 0 auto;
    width: 420px
  }

  .container.topnav-offset {
    width: 420px;
  }

  .navbar .container {
    width: 420px;
  }

  .navbar-title {
    margin-left: 134px;
  }

  #newPostModal .modal-content {
    width: 420px;
  }
  
  input#post-text {
    margin-top: 5px;
    width: 175px;
  }

  form#new-post output {
    margin: 15px;
  }
  
  .btn-post {
    height: 44px;
    width: 105px;
  }

  .btn-trust input[type=checkbox] + span {
    right: 104px;
  } 

  .btn-category {
    width: 140px;
    height: 69px;
  }
  .btn-category span {
    right: 139px;
    padding-top: 52px;
  }

  .btn-create-post {
    height: 44px;
    width: 400px;
    margin: 33px 10px;
  }
}

@media screen and (max-width: 410px) {
  .modal-dialog {
    margin: 0 auto;
    width: 318px;
  }

  .container.topnav-offset {
    width: 318px;
  }
  
  .navbar .container {
    width: 318px;
  }

  .avatar-menu {

    margin-right: 30px;
  }

  .navbar-title {
    margin-left: 85px;
  }
  
  #newPostModal .modal-content {
    width: 318px;
  }

  input#post-text {
    margin-top: 5px;
    width: 175px;
  }

  form#new-post output {
    margin: 15px;
  }
  
  .btn-post {
    height: 44px;
    width: 79px;
  }

  .btn-trust input[type=checkbox] + span {
    right: 78px;
  } 

  .btn-category {
    width: 106px;
    height: 69px;
  }
  .btn-category span {
    right: 105px;
    padding-top: 52px;
  }

  .btn-create-post {
    height: 44px;
    width: 298px;
    margin: 33px 10px;
  }
}

