#register.panel
  h2.full-width.underline Sign Up for Your Free Trial
  p
    | No credit card required. Integration takes seconds.
  form#registration
    .fieldset
      label(for="name") Organization Name
      input#name.v-item(type="text" name="first_name")
    .fieldset
      label(for="type") Type
      select#type(name="type")
        option -
    .fieldset
      label(for="email") Email
      input#email(type="email" name="email")
    .fieldset
      label.v-item(for="password") Password
      input#password.v-item(type="password" name="password")
    .fieldset
      label.v-item(for="confirm") Confirm Password
      input#confirm.v-item(type="password" name="confirm")


