#steps.panel
  h2 Let's Get Started!
  p Start Connection With Your Members in 3 Easy Steps:
  ul.steps
    li Sign up with your organization and contact info.
    li Invite your members to join Prizm.
    li Send your first message!
  button.go.blue(onclick='prizm.stepsNext()') GO!
