extends ../layouts/register_layout

block menu 
  a(href='/#new-home')
          img(id='logo'
              src='/images/prizmlogo.svg')
  .menu
    p.already Already have an account?
    a.blue.login(href='/login') LOG IN


block form
  #who.panel
    h2 Tell us about yourself
    .buttons
      button.individual
        | I am an individual
      button.organization
        | I am an organization
    button.next.blue(disabled=true) Next
    script(type='text/javascript').
      $(document).ready(function(){
        $('.buttons button').click(function(){
          $('.buttons button').attr('selected', false);
          $(this).attr('selected', true);
          $('button.next').attr('disabled', false);
        });
      });
      $('button.next').click(function(){
        var b = $('.buttons button[selected="selected"]');
        var p = 0;
        if (b.hasClass('individual')) {
          p = 6;
        } else if (b.hasClass('organization')) {
          p = 2;
        }
        $.ajax({
          url: '/getstarted?p=' + p,
          type: 'GET',
          headers : {user: '#{user}'},
          success : function(res){
            $('body').prepend(res);
            $('#who.panel').remove();
            window.scrollTo(0, 0); 
          }
        });


      });
