/* Login Form */
#login {
  background-color: #eef0f4;
}

#login .login-button {
  display: none;
}

.back {
  display: none;
}

.form-signin {
  height: 465px;
  width: 380px;
  padding: 0px 0px 40px 0px;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

#message {
  width: 380px;
  height: 64px;
  line-height: 64px;
  border: 1px solid #e4e5ea;
  border-left: 4px solid red;
  margin: 32px auto -96px auto;
}

#message.hidden {
  display: none;
}

#message .error {
  display: inline-block;
  float: left;
  width: 64px;
  height: 64px;
  background: url('/images/warning_icon@2x.png');
  background-size: 20px 17px; 
  background-repeat: no-repeat;
  background-position: center;
}

.form-signin-header h4 {
  margin-top: 0px;
}

.form-signin-header {
  background-color: #e4e5ea;
  height: 80px;
  border-bottom: 1px solid #b8c0d8;
  margin-bottom: 36px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: #334b8f;
}

.form-signin-heading {
  padding: 30px;
}

.form-signin p {
  text-align: center;
  font-weight: 900;
}

.form-signin .checkbox {
  font-weight: normal;
  text-transform: none;
  float: left;
  padding-left: 18px;
  margin: 0px;
}

.form-signin .link {
  float: right;
  padding-right: 18px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .btn {
  margin-bottom: 40px;
  width: 120px;
}

.go {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.log-in {
  margin: 20px 22px 60px 48px;
}

.sign-up {
  margin: 20px 48px 60px 22px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 3px;
  margin-top: 72px;
  height: 54px;
  background: url(../../images/login/email_icon.png) no-repeat left center;
  background-size: 26px 16px;
  background-color: #F8F8F8;
  background-position-x: 18px;
  padding-left: 62px;
}

.form-signin input[type="password"] {
  margin-bottom: 40px;
  height: 54px;
  background: url(../../images/login/password_icon.png) no-repeat left center;
  background-size: 22px 28px;
  background-color: #F8F8F8;
  background-position-x: 20px;
  padding-left: 62px;
}

.form-signin input[type="checkbox"] {
  margin-top: 3px;
}

.form-signin label {
  font-size: 16px
}

.form-signin a {
  font-size: 16px
}

.facebook-login img {
  width: 64px;
  height: 64px;
  display: inline-block;
  float: left;
  margin: 20px 0px 20px 84px;
}

.twitter-login img {
  width: 64px;
  height: 64px;
  display: inline-block;
  margin: 20px 0px 20px 84px;
}

.underline-left {
  border-bottom: 1px solid;
  width: 120px;
  float: left;
  margin: 10px 15px 24px 48px;
}

.underline-middle {
  float: left;
  width: 14px;
}

.underline-right {
  border-bottom: 1px solid;
  width: 120px;
  float: left;
  margin: 10px 48px 24px 15px;
}

/* Login Modal */
.modal-body .form-signin {
  margin-top: 0px;
  margin-bottom: 0px;
}

#loginModal > .modal-dialog {
  width: 380px;
}

#loginModal > .modal-content {
  width: 380px;
  height: 465px;
}

.modal-body {
  padding: 0px;
}

@media screen and (max-width:500px) {
  .form-signin {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }
}
