/* Login Form */
#login {
  background-color: #eef0f4;
}

#login .login-button {
  display: none;
}

.back {
  display: none;
}

.form-signin {
  height: 465px;
  width: 380px;
  padding: 0px 0px 40px 0px;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  background: white;
}

#message {
  width: 380px;
  height: 58px;
  line-height: 58px;
  border-left: 4px solid red;
  box-shadow: 0 1px 0 rgba(191, 192, 196, 0.75);
  margin: 28px auto -108px auto;
  background-color: #ffffff;
}

#message.hidden {
  display: none;
}

#message .error {
  display: inline-block;
  float: left;
  width: 58px;
  height: 58px;
  background-image: url('/images/warning_icon.png');
  background-size: 26px 22px; 
  background-repeat: no-repeat;
  background-position: center;
}

.form-signin-header h4 {
  margin-top: 0px;
}

.form-signin-header {
  background-color: #e4e5ea;
  height: 80px;
  border-bottom: 1px solid #b8c0d8;
  margin-bottom: 36px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  color: #334b8f;
}

.form-signin-heading {
  padding: 30px;
}

.form-signin p {
  text-align: center;
  font-weight: 900;
}

.form-signin .checkbox {
  font-weight: normal;
  text-transform: none;
  float: left;
  padding-left: 18px;
  margin: 0px;
}

.form-signin .link {
  float: right;
  padding-right: 18px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .btn {
  margin-bottom: 40px;
  width: 120px;
}

.go {
  margin-left: auto;
  margin-right: auto;
}

.log-in {
  float: left;
  margin-left: 34px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.sign-up {
  float: right;
  margin-right: 48px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"], .form-signin input[type="email"]:-webkit-autofill {
  margin-bottom: 3px;
  margin-top: 72px;
  height: 54px;
  padding-left: 62px;
}

#email-icon {
  position: relative;
  display: inline-block;
  background-image: url('/images/login/email_icon.png');
  background-repeat: no-repeat;
  background-size: 26px 16px;
  height: 16px;
  width: 26px;
  top: -38px;
  left: 18px;
  z-index: 5000;
}


.form-signin input[type="password"], .form-signin input[type="password"]:-webkit-autofill {
  margin-bottom: 40px;
  margin-top: -20px;
  height: 54px;
  padding-left: 62px;
}

#password-icon {
  position: relative;
  display: inline-block;
  background-image: url('/images/login/password_icon.png');
  background-repeat: no-repeat;
  background-size: 22px 28px;
  height: 28px;
  width: 22px;
  top: -83px;
  left: 20px;
  z-index: 5000;
}

input:-webkit-autofill, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px #F8F8F8 inset;
}

.form-signin input[type="checkbox"] {
  margin-top: 3px;
}

.form-signin label {
  font-size: 16px
}

.form-signin a {
  font-size: 16px
}

.facebook-login {
  width: 50%;
  display: inline-block;
  text-align: right;
  margin-bottom: 18px;
  padding-right: 22px;
}

.facebook-login a {
  width: 120px;
  border-bottom: 1px solid #334b8f;
  display: inline-block;
}

.facebook-login img {
  width: 64px;
  height: 64px;
  margin: 16px 24px 48px 0px;
}

.twitter-login {
  width: 50%;
  display: inline-block;
  text-align: left;
  padding-left: 22px;
}

.twitter-login a {
  width: 120px;   
  border-bottom: 1px solid #334b8f;   
  display: inline-block;
}
.twitter-login img {
  width: 64px;
  height: 64px;
  display: inline-block;
  margin: 16px 0px 48px 24px;
}

.underline-middle {
  position: relative;
  margin: 0px auto 10px auto;
  bottom: 29px;
  width: 14px;
}

.go {
  margin-bottom: 38px !important;
}

/* Login Modal */
.modal-body .form-signin {
  margin-top: 0px;
  margin-bottom: 0px;
}

#loginModal > .modal-dialog {
  width: 380px;
}

#loginModal > .modal-content {
  width: 380px;
  height: 465px;
}

.modal-body {
  padding: 0px;
}

@media screen and (max-width:500px) {
  .form-signin {
    margin-left: 0px;
    width: 100%;
    margin-right: 0px;
  }
  #loginModal > .modal-dialog {
    width: 100%;
    margin: 0px;
    position: absolute;
  }
}
