.col-sm-12
  table.table.table-striped.members-table
    thead
      tr
        th
        th
          | Name
        th
          | Status
        th
          | Date
        th
          | Action
    tbody
      each member in members
        tr
          th
            img(src='https://#{member.profile_photo_url.substr(7)}'
                class='prizm-avatar-sm')
          th
            | #{member.name}
          th
            | Member
          th
            | #{member.create_date}
          th
            | Various Actions