extends ../layouts/layout_app

block head
  script(src='/javascripts/profile/profile.js' type='text/javascript')
  script(src='/javascripts/profile/profile_home.js' type='text/javascript')
  link(rel='stylesheet', href='/stylesheets/profile/profile.css')
  link(rel='stylesheet', href='/stylesheets/profile/profile_home.css')

block content
  .container.topnav-offset
    ul#feed.infinite-feed
      if posts.length == 0
        li
          h2 This profile is not following any users. 
      include profile_feed 
