extends ../layouts/layout_app

block head
  script(src='/javascripts/profile/profile_activity.js' type='text/javascript')
  link(rel='stylesheet' href='/stylesheets/profile/profile_activity.css')

block content
  .container.topnav-offset
    
    .activity-header.page-header
      | Activity 
    ul.nav.nav-tabs(role='tablist' id='activity-tab')
      li(role='presentation' class='active' onclick='activity.notificationTab()'
       data-toggle='tab')
          | Notifications
      li(role='presentation' onclick='activity.requestTab()' 
      data-toggle='tab')
          | Requests
    #notifications
      include profile_activity_notifications
    #requests
      include profile_activity_requests
