h3 Support
ul.support
  li(onclick='nav.navigate("/terms")')
    | Terms of Use
  li(onclick='nav.navigate("/privacy")')
    | Privacy Policy
  li(onclick='nav.navigate("http://www.prizmapp.desk.com")')
    | Support Questions
  li(onclick='alert("This feature is coming soon.")')
    | Disable Account
