extends new_site_layout

block head
  link(rel='stylesheet' href='/stylesheets/getstarted.css' type='text/css')
  script(type='text/javascript' src='/javascripts/getstarted.js')
  script(type='text/javascript' src='/javascripts/profile/profile.js')

block content
  block form
