html
  head
    title Text
    link(rel='stylesheet' href='/stylesheets/text_processor.css')
    script(src='/javascripts/jquery-1.11.1.min.js' type='text/javascript')
    script(src='/javascripts/text_processor.js' type='text/javascript')
  body
    div#text #{text}
    p#fontSize
    p#wrappedText
