<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include include.ejs %>
  </head>
  <body>
    <div class="wrap" id="body-info">
      <%- include navbar.ejs %>
    </div>
    <div class="full-width blue-background" id="about-block">
      <div class="about-left wrap">
        <h2>About</h2>
        <p class="column">Prizm is a mobile app that helps you collect your inspirations and achievements in one place, kind of like a journal and a trophy case combined. Your Prizm reflects who you are by bringing the posts you choose from apps like Instagram and Twitter together with posts you create inside of Prizm. Colleges and companies want to see who you are beyond what’s on paper. Prizm is your chance to show people what you’re all about. </p>
      </div>
      <div class="sphere1"></div>
      <div class="sphere2"></div>
      <div class="sphere3"></div>
      <div class="sphere4"></div>
      <div class="sphere5"></div>
    </div>
    
    <div class="wrap">
      <div id="about-phone1"></div>
      <div id="about-mission" class="top-500">
        <h2>Mission</h2>
        <p class="column">We developed Prizm as a tool to help you connect the dots between where you are now and where you want to be. We believe that exploring your interests today can spur choices for the future. </p>
      </div>
      <div id="about-phone2"></div>
      <div id="about-result">
        <h2>The Result</h2>
        <p class="column">Prizm is a positive mobile community where you can uniquely you and discover how your interests and achievements match up with different colleges, military, community organizations, and career paths. </p>
      </div>
    </div>
  </div>
  <%- include legal.ejs %>
  </body>
</html>
