<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include include.ejs %>
  </head>
  <body>
    <div class="wrap" id="body-info">
      <%- include navbar.ejs %>
    </div>
    <div class="full-width blue-background" id="about-block">
      <div class="about-left wrap">
        <h2>About</h2>
        <p class="column">Prizm is a mobile app that lets you showcase your 
        achievements and aspirations. Prizm helps you connect the dots between
        where you are and where you want to be, introducing you to future 
        opportunities based on your interests.</p>
      </div>
    </div>
    
    <div class="wrap">
      <div id="about-phone1"></div>
      <div id="about-phone2"></div>
      <div id="about-mission" class="top-500">
        <h2>Our Mission</h2>
        <p class="column">We built Prizm because we saw an opportunity for 
        people to become inspired and learn more about themselves by curating a
        visual journal made up of their own posts, and those of luminaries, 
        institutions and fellow students that they discover in the app. Users 
        can capture their inspiring moments and accomplishments by pulling posts
        they choose from social networks like Instagram, Twitter or creating 
        original posts inside Prizm.</p>
      </div>
      <div id="about-result">
        <h2>The Result</h2>
        <p class="column">A positive mobile community where people can explore
        how their interests and achievements match up with different colleges, 
        military, community organizations, and career paths. People learn where
        they are now, where they want to be, and connect to people and
        organizations that can help get them there.
      </div>
    </div>
  </div>
  <%- include legal.ejs %>
  </body>
</html>
