extends layout

block content
  #about-block.full-width.blue-background
    .about-left.wrap
      h2 About
      p.column
        | Prizm is a mobile app that helps you collect your inspirations and
        | achievements in one place, kind of like a journal and a trophy case
        | combined. Your Prizm reflects who you are by bringing the posts you 
        | choose from apps like Instagram and Twitter together with posts you
        | create inside of Prizm. Colleges and companies want to see who you are
        | beyond what's on paper. Prizm is your chance to show people what 
        | you're all about.
  #mission-block.full-width
    .wrap
      #about-phone1
      #about-mission.top-500
        h2 Mission
        p.column
          | We developed Prizm as a tool to help you connect the dots between
          | where you are now and where you want to be. We believe that exploring
          | your interests today can spur choices for the future.
      #about-phone2
      #about-result
        h2 The Result
        p.column 
          | Prizm is a positive mobile community where you can be uniquely you
          | and discover how your interests and achievements match up different
          | colleges, military, community organizations, and career paths.
