<div class="full-width blue-background" id="about-block">
  <div id="about" class="anchor"></div>
  <div class="about-right">
    <h2>About</h2>
    <p class="column">Prizm is a mobile app that helps you collect your inspirations and achievements in one place, kind of like a journal and a trophy case combined. Your Prizm reflects who you are by bringing the posts you choose from apps like Instagram and Twitter together with posts you create inside of Prizm. You can explore your interests and discover new people that inspire you.</p>
  </div>
  <div id="about-phone"></div>
</div>
<div class="full-width" id="insight-block">
  <div id="insight" class="anchor"></div>
  <div class="insight-left">
    <h2>Insight</h2>
    <p class="column">As Prizm gets to know you based off your selected interests, posts, hashtags, and you who're following, it iwll send periodic insights that we hope will spark your interest. It could be info about a college that might be a good fit for you, tips from someone at the top of their game, or a possible career to explore</p>
  </div>
  <div id="insight-phone"></div>
</div>
<div class="full-width blue-background" id="mission-block">
  <div id="mission" class="anchor"></div>
  <div class="mission-right">
    <h2>Mission</h2>
    <p class="column">We developed Prizm as a tool to help you connect the dots between where you are now and where you want to be. We believe that exploring your interests today can spark choices for the future. </p>
    <h2>The Result</h2>
    <p class="column">A positive mobile community where you can discover how your interests and achievements match up with different colleges, military, community organizations, and career paths. </p>
  </div>
  <div id="mission-phone"></div>
</div>