<h2 class="form-confirm-title">Thank You</h2>
<p class="form-confirm-text">
Thanks for your interest in the Prizm private beta. An email from us with next steps should
be in your in-box. We-re excited to get you started!
</p>
<p class="form-confirm-close">
Please check your spam mail folder if you don't see the email.
</p>
