<!DOCTYPE html>
<html>
<head>
  <title>Prizm | <%= title %></title>
  <meta name="twitter:card" content="app" />
  <meta name="twitter:site" content="@beprizmatic" />
  <meta name="twitter:creator" content="@beprizmatic" />
  <meta name="twitter:domain" content="prizmapp.com" />
  <meta name="twitter:title" content="Prizm App" />
  <meta name="twitter:description" content="Capture and share personal
    inspirations and achievements as they happen." />
  <meta name="twitter:app:country" content="US" />
  <meta name="twitter:app:name:iphone" content="Prizm App" />
  <meta name="twitter:app:id:iphone" content="903458597" />
  <meta property="fb:app_id" content="1408826952716972" />

  <%- include include.ejs %>
  <script type="text/javascript">
  <!--
  prizm.goHome();
  -->
  </script>
</head>
<body>

</body>
</html>
