<div id="info-form" class="hidden">
  <div class="form-header">
    <button id="close" class="close"></button>
    <h1 class="logo"><span class="hidden">Prizm</span></h1>
  </div>
  <div id="form-body">
    <div class="form-section form-instructions">
      <p>Enter Your Information</p>
    </div>
    <div class="form-section">
      <label for="name">Name:</label>
      <input name="name" id="name" type="text" class="input-block" 
        placeholder="First and Last" />
    </div>
    <div class="form-section">
      <label for="age">Age:</label>
      <input name="age" id="age" type="text" class="input-block" />
    </div>
    <div class="form-section">
      <span class="radio-label">Gender:</span>
      <input type="radio" name="gender" id="male" value="male">
        <label id="male-label" for="male">M</label>
      <input type="radio" name="gender" value="female" id="female">
<label id="female-label" for="female">F</label>
    </div> 
    <div class="form-section">
      <label for="city-state">City &amp; State:</label>
      <input name="city-state" id="city-state" type="text" class="input-block" />
    </div>  
    <div class="form-section">
      <label for="email">Email:</label>
      <input name="email" id="email" type="text" class="input-block" />
    </div> 
    <div class="form-section">
      <label for="mobile">Mobile:</label>
      <input name="mobile" id="mobile" type="text" class="input-block" />
    </div>
    <div class="form-footer">
      <button id="send" onclick="prizm.submitForm()">Send</button> 
    </div>
  </div>
</div>
