extends layout

block content
  #insight-block.full-width
    .insight-left.wrap
      h2 Insights
      p.column
        | As Prizm gets to know you based on your selected interests, posts, hashtags
        | and who you're following, it will send periodic insights that we hope will
        | spark your interest. It could be info about a college that might be a good
        | fit for you, tips from someone at the top of their game, or a possible career
        | to explore.
    #insight-phone
