<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%- include include.ejs %>
	</head>
	<body>
		<div class="wrap" id="body-info">
      <%- include navbar.ejs %>
    </div>
    <div class="full-width" id="insight-block">
    	<div class="insight-left wrap">
    		<h2>Insights</h2>
    		<p class="column">As Prizm gets to know you based on your selected interests, posts, hashtags, and who you’re following, it will send periodic insights that we hope will spark your interest. It could be info about a college that might be a good fit for you, tips from someone at the top of their game, or a possible career to explore.</p>
    	</div>
    	<div id="insight-phone"></div>
    </div>
    <div class="insight-footer">
	    <%- include legal.ejs %>
	  </div>
	</body>
