extends layouts/app_layout

block head
  link(rel='stylesheet' type='text/css' href='/stylesheets/graph.css')
  script(type='text/javascript' src='https://www.google.com/jsapi')
  script(type='text/javascript').
    google.load('visualization', '1', {packages:['corechart']});
    google.setOnLoadCallback(drawChart);
    function drawChart(){
      var raw = !{JSON.stringify(data)};
      var height = raw.length * 50;
      var data = google.visualization.arrayToDataTable(raw);
      var view = new google.visualization.DataView(data);
      var options = {
        title: 'Interests By Gender',
        annotations: {
          alwaysOutside: true,
          textStyle: {
            color: '#333333'
          }
        },
        isStacked: true,
        fontSize: 12,
        focusTarget: 'category',
        chartArea: {
          top: 100
        },
        colors: ['#5a9bd4', '#d77fb4', '#9e67ab'],
        // theme: 'maximized',
        height: height,
        width: 1200,
        legend: {position: 'top', maxLines: 3},
        backgroundColor: '#E4E5EA',
        hAxis: {
          textStyle: {
            fontSize: 12
          }
        },
        vAxis: {
          textStyle: {
            fontSize: 12
          }
        }
      };
      var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
      chart.draw(view, options);
    }
block content
  .wrap.top75
    h2 Total Users: #{count}
    #chart_div
   


