<h1 id="logo" onClick="prizm.goHome()"><span class="hidden">Prizm</span></h1>
<span class="legal-span">
	<p class="legal-block">
		COPYRIGHT &copy; 2014. All Rights Reserverd. PRIZM POWERED BY
		<a class="underline" href="http://www.higheraltitude.co">
			HIGHER ALTITUDE INC.
		</a>
		<br>
		<a class="underline" href="/privacy">
			PRIVACY POLICY
		</a> -
		<a class="underline" href="/terms">
			TERMS OF SERVICE
		</a> - 
		<a class="underline" href="https://www.prizmapp.desk.com">
			SUPPORT
		</a>
	</p>
</span>
<%- include analytics.ejs %>
<span class="social">
	<span id="follow-prizm">FOLLOW PRIZM</span>
	<a id="facebook" class="contact-button" href="https://www.facebook.com/prizmapp"></a>
	<a id="twitter" class="contact-button" href="https://www.twitter.com/beprizmatic"></a>
	<a id="instagram" class="contact-button" href="https://www.instagram.com/beprizmatic"></a>
</span>
