<p class="<%= selected=='home'?'legal':'legal-block'%>">
  <span class="legal-span">
  Copyright &copy; 2014 Prizm Powered by Higher Altitude Inc. - 
  <a href="file:///Users/boonej/work/Prizm/index.html#">
    Privacy Policy
  </a> -
  <a href="file:///Users/boonej/work/Prizm/index.html#">
    Terms of Service
  </a> - 
  <a href="file:///Users/boonej/work/Prizm/index.html#">
    Support
  </a>
  </span>
</p>
