<p class="<%= selected=='home'?'legal':'legal-block'%>">
  <span class="legal-span">
  Copyright &copy; 2014 Prizm Powered by Higher Altitude Inc. - 
  <a class="underline" href="/privacy">
    Privacy Policy
  </a> -
  <a class="underline" href="/terms">
    Terms of Service
  </a> - 
  <a class="underline" href="http://www.prizmapp.desk.com">
    Support
  </a>
  </span>
</p>
