<div class="nav-top">
  <h1 id="logo"><span class="hidden">Prizm</span></h1>
  <div class="menu">
    <span class="menu-button">
      <a href="#">Home</a>
    </span>
    <span class="menu-button">
      <a href="#">About</a>
    </span>  
    <span class="menu-button">
      <a href="#">Blog</a>
    </span>
    <span class="menu-button">
      <a href="#">Press</a>
    </span>
  </div>
</div><!-- end nav-top -->
