extends layouts/layout_app

block content
  .container
    .row
      .col-mob-12.topnav-offset
        form(action='/passwordreset' method='POST')
          label(for='email') Email:
          input#email(type='text' name='email')
          br
          label(for='password') Password:
          input#password(type='text' name='password')
          br
          button(type='submit') Submit
