<!DOCTYPE html>
<html>
  <head>
    <title>Prizm >> Post</title>
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="@beprizmatic" />
    <meta property="twitter:title" content="<%= post.text %>" />
    <meta property="twitter:description" content="<%= post.hashtags %>" />
    <meta property="twitter:image" content="<%= post.file_path %>" />
  </head>
  <body>
  </body>
</html>
