<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include include.ejs %>
  </head>
  <body>
      <div class="wrap" id="terms">
        <%- include navbar.ejs %>
        <h2>Prizm Terms and Conditions</h2>
        <h3>PRIZMAPP.COM TERMS OF USE</h3>
        <h3>READ THESE TERMS OF USE CAREFULLY.</h3>
        <p>These Terms of Use were last updated on May 21, 2014</p>
        <p>PLEASE READ THESE TERMS OF USE CAREFULLY.</p>
        <p>Prizm App is owned and operated by Higher Altitude, Inc. 
        ("Higher Altitude")</p>
        <p>These terms of use ("Terms of Use") set out important information 
        regarding the rights, obligations and restrictions that may apply to 
        you as a user ("you," "your," or "User") when you use or download the 
        Prizm application for mobile devices (the "App") and any services 
        offered in conjunction with the App ("Services") as they are made 
        available on various digital media devices ("Devices"), and networks, 
        including but not limited to mobile operators and internet service 
        providers ("Networks").</p>
        <p>Please read these Terms of Use carefully before you download, 
        install or use the App. By downloading, installing or using the App, 
        you indicate that you accept these Terms of Use and that you agree to 
        abide by them. Your download, installation or use of the App 
        constitutes your acceptance of these Terms of Use which takes effect 
        on the date on which you download, install or use the App. If you do 
        not agree with these Terms of Use, you should cease downloading, 
        installing or using the App immediately. The Prizmapp.com website 
        (the "Site"), the App and their content are designed to comply with 
        U.S. laws and regulations. Higher Altitude reserves the right to 
        change these Terms of Use at any time without notice to you by posting 
        changes on the www.prizmapp.com website or by updating the App to 
        incorporate the new terms of use. You are responsible for regularly 
        reviewing information posted online to obtain timely notice of such 
        changes. Your continued use of the App after changes are posted 
        constitutes your acceptance of the amended Terms of Use.</p>
        <h3>1. ACCEPTANCE OF TERMS OF USE</h3>
        <p>Higher Altitude offers various services and software (the Site, the 
        App, services and software are collectively referred to as the 
        "Services"). By accessing and using the Services, or by downloading, 
        installing or using the App, you indicate that you accept these Terms 
        of Use and that you agree to be bound by them. Your download, 
        installation or use of the App constitutes your acceptance of these 
        Terms of Use which takes effect on the date on which you download, 
        install or use the App. IF YOU DO NOT AGREE TO ALL OF THE TERMS AND 
        CONDITIONS CONTAINED IN THESE TERMS OF USE, DO NOT USE THE SERVICES. 
        Higher Altitude reserves the right to limit or terminate your access 
        to the Services if you do not comply with these Terms of Use.</p>
        <h3>2. RESTRICTIONS ON USE OF THE SERVICES</h3>
        <p>Age restrictions</p>
        <p>To download, install, access or use the App, you must be 13 years of
        age or over. If you are under 13 and you wish to use download, install, 
        access or use the App, you must get consent from your parent or 
        guardian before doing so.</p>
        <p>Content You Post to the Services</p>
        <p>You may post comments and content with other users through the 
        Services (including, but not limited to the Site and the App). By using
        the Services, you agree not to upload, post, transmit, cause the 
        display or performance of, or otherwise make available any content 
        that:</p>
        <ul>
          <li>is harmful, threatening, abusive, harassing, tortious, vulgar, 
          hateful, or racially, ethnically or otherwise offensive or 
          discriminatory;</li>
          <li>is obscene, pornographic, excessively violent or harmful to minors 
          or depicts minors engaged in sexually explicit conduct or in a sexually 
          explicit manner;</li>
          <li>is illegal;</li>
          <li>is tortious, defamatory, libelous or invasive of another's privacy 
          or publicity rights;</li>
          <li>infringes any patent, trademark, trade secret, copyright or other 
          proprietary or intellectual property rights of any party;</li>
          <li>you do not have a right to make available under law or contractual 
          or fiduciary relationships;</li>
          <li>includes copyrighted materials for which you do not possess 
          appropriate rights to so display, perform or otherwise make 
          available;</li>
          <li>bears any false, disguised or misleading origin;</li>
          <li>contains software viruses or any other computer code, files or 
          programs designed to destroy, interrupt or otherwise limit the 
          functionality of any computer software, computer hardware or other 
          equipment.</li>
        </ul>
        <p>All messages, information, digital files or other materials, whether 
        publicly posted, displayed or performed on, or privately transmitted, 
        are the sole responsibility of the person who sends or publishes such 
        items. Accordingly, you are responsible for all items that you message, 
        upload, post, cause the display or performance of, email, transmit or 
        otherwise make available via the Services.</p>
        <p>Higher Altitude reserves the right to, but has no obligation to, 
        monitor or screen the content transmitted through, displayed or posted 
        through the Services and to remove any content in its sole discretion. 
        Nevertheless, YOU REMAIN SOLELY RESPONSIBLE FOR THE CONTENT OF THE 
        MATERIALS YOU TRANSMIT, DISPLAY OR POST THROUGH THE SERVICES.</p>
        <p>Prohibited Activities</p>
        <p>You may not use the Services to do any of the following:</p>
        <ul>
          <li>harass or advocate harassment of another person or entity;</li>
          <li>Perform any activities that violate, intentionally or unintentionally, 
          any applicable state, local, federal, or international laws or regulations 
          promulgated by governmental agencies that have the force of law;</li>
          <li>provide resources to or otherwise support any organization(s) 
          designated by the United States government as a foreign terrorist 
          organization under section 219 of the Immigration and Nationality 
          Act;</li>
          <li>impersonate any person or entity or misrepresent in any way your 
          affiliation with a person or entity;</li>
          <li>transmit unsolicited mass mailings, "spim" or "spam;"</li>
          <li>collect or store any information about other users or members, other 
          than in the normal course of using the Services for their intended purpose 
          of facilitating voluntary communication among users;</li>
          <li>transmit any virus, worm, defect, Trojan horse or similar destructive or 
          harmful item.</li>
        </ul>
        <p>You may not do any of the following to the Services:</p>
        <ul>
          <li>use the Services in any manner that could damage, disable, overburden, 
          disrupt or impair the Services or any Prizm server, or the network(s) connected 
          to any Prizm server, or interfere with any other party's use and enjoyment of 
          the Services;</li>
          <li>disobey any applicable policies or regulations of networks connected to the 
          Services;</li>
          <li>modify, adapt, translate or reverse engineer the Services</li>
          <li>use any robot, spider, site search/retrieval application, or other device 
          to retrieve or index any portion of the Services;</li>
          <li>frame the Services or reformat them in any way; or</li>
          <li>create user accounts using any automated means or under false 
          pretenses.</li>
        </ul>
        <h3>3. NO RESPONSIBILITY FOR THIRD PARTY CONTENT OR ACTIONS</h3>
        <p>You understand that Higher Altitude and the Services act only as a forum and 
        technical interface between users and that Higher Altitude does not itself verify 
        the qualifications of users and does not evaluate or control exchanges between 
        users. Any opinions or statements expressed by a user are those of the user alone, 
        and are not to be attributed to Higher Altitude. Higher Altitude cannot and does 
        not assume responsibility for the accuracy, completeness, safety, reliability, 
        timeliness, innocuousness, or legality of anything said, written, posted, 
        displayed or otherwise made available by any user. You understand that you may be 
        exposed to content that you find offensive to you and that you use the Services at 
        your own risk.</p>
        <h3>4. CREATING A PRIZM ACCOUNT</h3>
        <p>In order to access and use Prizm, you will need to register and create an account 
        (your "Account"). By creating an Account, you represent that you are of legal age to 
        form a binding contract and are not a person barred from receiving services under the 
        laws of the United States or other applicable jurisdiction. When creating an Account, 
        you may be required to provide certain personal information about yourself and will 
        establish a username and a password. You agree to provide accurate, current and 
        complete information about your Account.</p>
        <p>When creating an account, don't:</p>
        <ul>
          <li>provide any false personal information to us (including a false username) or 
          create any account for anyone other than yourself without such other person’s 
          permission;</li>
          <li>use a username that is the name of another person with the intent to 
          impersonate that person;</li>
          <li>use a username that is subject to rights of another person without appropriate 
          authorization; or</li>
          <li>use a username that is offensive, vulgar or obscene or otherwise in bad 
          taste.</li>
        </ul>
        <p>We reserve the right to suspend or terminate your Account if any information 
        provided during the registration process or thereafter proves to be inaccurate, 
        false or misleading or to reclaim any username that you create through the Service 
        that violates our Terms. You are responsible for maintaining the confidentiality of 
        your password and Account, and agree to notify us if your password is lost, stolen, 
        or disclosed to an unauthorized third party, or otherwise may have been 
        compromised. You are responsible for activities that occur under your Account.</p>
        <p>You can link your Account to various webmail, social networking, and other 
        online accounts. You may only link your own accounts. We will access and retrieve 
        your account information from these sites on your behalf (in some cases, by using 
        your username and password) to make certain information or services available to 
        you through the Service. By linking your other accounts, you expressly authorize us 
        to access your account information from those third party accounts, on your behalf 
        as your agent and permit us to access, use and, in some cases, store your account 
        information to accomplish the foregoing.</p>
        <h3>5. INTERSTATE AND INTERNATIONAL USE</h3>
        <p>You consent to the collection and processing of personal information in the 
        United States regardless of where you are located. All users understand the 
        potential cross-border nature of communications made using the Services and 
        acknowledge that using the Services may result in interstate and international 
        transmission of data.</p>
        <h3>6. LICENSE AND CONFIDENTIAL INFORMATION</h3>
        <p>By sending messages or posting information or content to the Services you 
        automatically grant, and you represent and warrant that you have the right to grant, 
        to Higher Altitude an irrevocable, perpetual, non-exclusive, fully-paid, worldwide 
        license to use, copy, publicly perform, publicly display and distribute such 
        information and content and to prepare derivative works of, or incorporate into 
        other works, such information and content, and to grant and authorize sub-licenses 
        of the foregoing.</p>
        <p>No information or content of any kind that you submit to Prizm, upload, post, 
        cause to be displayed or performed, transmit or otherwise make available using the 
        Services shall be deemed confidential or secret information. Notwithstanding the 
        foregoing, Higher Altitude will only disclose communications or content posted in 
        accordance with the Prizm Privacy Policy.</p>
        <h3>7. USER SUBMISSIONS</h3>
        <p>Any material, information or other communication you transmit or post to 
        prizmapp.com or through the App will be considered non-confidential and 
        non-proprietary ("Communications"). Higher Altitude will have no obligations with 
        respect to the Communications. You agree that from time to time Higher Altitude may 
        invite or otherwise make you aware of certain educational, promotional or financial 
        opportunities relating to your Communications and profile.</p>
        <p>Higher Altitude and its designees will be free to use for any purpose, copy, 
        disclose, sell, distribute, perform, incorporate and otherwise use the Communications 
        and all data, images, sounds, text, and other things embodied therein for any and all 
        commercial or non-commercial purposes to the extent permitted by applicable law. 
        Higher Altitude shall be free to use any ideas, concepts, know-how or techniques 
        contained in such information for any purpose whatsoever including, but not limited 
        to, developing, manufacturing, and marketing products and services incorporating such 
        information.</p>
        <h3>8. COPYRIGHT AND TRADEMARKS INFORMATION</h3>
        <p><strong>COPYRIGHT NOTICE:</strong> Copyright &copy; 2014 Higher Altitude, Inc. All 
        Rights Reserved. "Prizm" is a registered trademark of Higher Altitude, Inc.</p>
        <p>In addition to any other use restrictions set forth in this Agreement, you may not 
        engage in or facilitate the posting, modification, distribution, or reproduction of 
        any copyrighted material, trademarks, or other proprietary information belonging to 
        others without obtaining the prior written consent of the owner of such proprietary 
        rights. It is the policy of Higher Altitude to terminate all privileges of any user 
        who repeatedly infringes the copyright rights of others upon receipt of prompt 
        notification to Company by the copyright owner or the copyright owner's legal 
        agent.</p>
        <h3>COPYRIGHT POLICY</h3>
        <p>Prizm respects the intellectual property rights of others. In accordance with the Digital Millennium Copyright Act ("DMCA") and other applicable laws, we have adopted a policy of, upon notice, restricting access to or deleting content that infringes a third party's copyright and, in appropriate circumstances and in our sole discretion, terminating account holders or other users of the Services who are deemed to be repeat infringers of a third party's copyrighted work.</p>
        <p>If you believe that anything on the Services infringes any copyright that you own or control, you may file a notice of such infringement, in compliance with the requirements of <a href="www.copyright.gov/eco/notice_special.html">17 U.S.C. &sect; 512(c)(3)</a>, with our designated agent:</p>
        <p>Higher Altitude Inc.</p>
        <p>Attn: Copyright Agent  347</p>
        <p>copyright&#64;higheraltitude.co</p>
        <h3>9. PRIVACY POLICY</h3>
        <p>Higher Altitude respects your desire for privacy. Prizm's Privacy Policy can be found at <a href="/privacy">www.prizmapp.com/privacy</a>. By using the Services, you are consenting to the terms of our Privacy Policy.</p>
        <h3>10. THIRD PARTY WEB SITES, SERVICES, AND CONTENT</h3>
        <p>The Services may contain links to third-party sites that are not under the control of Higher Altitude, and Higher Altitude is not responsible for, nor does it guarantee the accuracy or integrity of, the content(s) of any linked site or any link contained in a linked site, or any changes or updates to such sites. The inclusion of any link does not imply that Higher Altitude endorses or accepts any responsibility for the content on any third-party site. Your correspondence or business dealings with, or participation in promotions of, any third party website found through the Services, including payment and delivery of related goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such third party. Higher Altitude is not responsible or liable for any loss or damage of any kind incurred as the result of any such dealings or as the result of the presence of links to such third party websites on the Services.</p>
        <p>In addition, links to advertising that has not been approved by Higher Altitude may be embedded in third party content displayed on the Services. Higher Altitude is not responsible for any content, cookies, or other technology used in connection with such advertising.</p>
        <h3>11. DISCLAIMER OF WARRANTY AND LIMITATION OF LIABILITY; ABILITY TO CHANGE OR TERMINATE SERVICES</h3>
        <p>EXCEPT AS EXPRESSLY PROVIDED OTHERWISE, THE SERVICES AND ALL INFORMATION ARE PROVIDED "AS-IS" WITHOUT WARRANTY OF ANY KIND AND HIGHER ALTITUDE HEREBY DISCLAIMS ALL WARRANTIES EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. IN ADDITION, EXCEPT AS EXPRESSLY PROVIDED OTHERWISE, HIGHER ALTITUDE DISCLAIMS ANY WARRANTIES OF NON-INFRINGEMENT, TITLE, OR QUIET ENJOYMENT. Because some jurisdictions do not allow the exclusion of implied warranties, some of these exclusions may not apply to you. If any state or other jurisdiction does not allow the exclusion or warranties, then Higher Altitude's warranties shall be limited in those jurisdictions to the extent permitted by law.</p>
        <p>IN NO EVENT SHALL HIGHER ALTITUDE BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL DAMAGES, OR ANY DAMAGES WHATSOEVER, RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OF THE SERVICES OR INFORMATION AVAILABLE FROM THE SERVICES. If any state or other jurisdiction does not allow the exclusion or limitation of liability for damages, then Higher Altitude’s liability shall be limited in those jurisdictions to the extent permitted by law.</p>
        <p>Except as expressly provided otherwise, you assume all risks concerning the suitability and accuracy of the information within the Services. The Services may contain technical inaccuracies or typographical errors. Higher Altitude assumes no responsibility for and disclaims all liability for any such inaccuracies, errors, or omissions on the Services.</p>
        <p>Higher Altitude may terminate or make changes to all or any portion of the Services, product offerings, and any other information and materials available on or through the Services and may delete any content that has been submitted to the Services at any time and without notice or liability.</p>
        <h3>12. INDEMNITY</h3>
        <p>You agree to indemnify, defend, and hold Higher Altitude and its affiliates, officers, agents, co-branders, partners, and employees harmless from any claim or demand made by any third party due to or arising out of your use of the Services, your connection to the Services, your violation of the Terms of Use or Privacy Policy, or your violation of any rights of other users of the Services. Any such indemnification shall include the payment of reasonable attorneys fees incurred in the defense of such claim.</p>
        <h3>13. TERMINATION OF ACCESS TO PRIZM;</h3>
        <h3>CONSEQUENCES OF VIOLATION OF TERMS OF USE</h3>
        <p>Higher Altitude reserves the right to terminate your privilege to use the Services at any time for any reason. In addition, Higher Altitude shall have the right to (i) remove any material that in its sole opinion may violate, or that is alleged to violate, any applicable law or these Terms of Use; (ii) terminate a Prizm Profile or any other portion of the Services, and/or remove a user or users from a Prizm Profile or otherwise terminate any use of the Services if Higher Altitude determines in its sole discretion or had a good faith concern that such use is unlawful and/or prohibited by these Terms of Use; and (iii) inform law enforcement of any illegal activity or material Higher Altitude suspects or discovers on, through, or otherwise relating to the Services and provide law enforcement officials with all requested information about the user account from which the illegal activity or material originated.</p>
        <h3>14. NOTICES</h3>
        <p>We may be required by state or federal law to notify you of certain events. In addition, we may need to notify you from time to time regarding changes to these Terms of Use or to the Services. You agree that such notices will be effective upon our posting them on the Site, sending them to you through email or postal mail, or notifying you via other means required by law. If you do not provide us with accurate information to contact you, we will not be held liable if we fail to notify you.</p>
        <p>You consent to receiving any notices regarding the Terms of Service or the Privacy Policy or any notice required by law, including notice of a any breach of security involving your personally identifiable information, through email. Any notices that we send to you by email will be sent to the email address you provided when you registered for an account or the email address in your profile.</p>
        <h3>15. FORCE MAJEURE</h3>
        <p>Higher Altitude shall not be liable for any failure or unavailability of the Site, the App, or the Materials or failure by Higher Altitude to perform a transaction as a result of strikes, lockouts, calamities, acts of God, unavailability of suppliers, the loss or destruction of data, the deletion or corruption of storage media, power failures, natural phenomena, riots, acts of vandalism, acts or omissions of civil or military authority, war, terrorism or any other event beyond Higher Altitude's control.</p>
        <h3>16. DISPUTE RESOLUTION</h3>
        <p>Any dispute between Higher Altitude and you arising out of this Agreement shall be resolved first by direct communication with one or more of Higher Altitude's management team members. Should Higher Altitude and you be unable to resolve the dispute by communication and both you and Higher Altitude jointly agree to do so, Higher Altitude or you may submit any dispute arising out of or relating to this Agreement, or the breach thereof, to final and binding arbitration administered by the American Arbitration Association nearest the place of Higher Altitude's headquarters and pursuant to Delaware’s law. The arbitrator shall fully implement the intent and purposes of this Agreement and indemnify non-breaching parties for and hold them harmless from all losses, costs, and expenses (including costs of arbitration and reasonable attorneys' fees) resulting from any breach or from defending against any allegations of a breach determined to be unfounded.</p>
        <h3>17. COMMENTS AND QUESTIONS</h3>
        <p>If you have any comments or questions you may address them to the customer service department at Higher Altitude at http://www.prizmapp.com/support, via mail addressed to Customer Service, Higher Altitude Inc., 860 Johnson Ferry Rd NE, Suite 140-132, Atlanta GA 30342.</p>
        <h3>18. Contest Terms &amp; Conditions:</h3>
        <ul>
          <li>By entering any Higher Altitude, Inc. Contest ("Contest"), entrants conclusively are deemed to have agreed to be bound by these terms and conditions as well as by any additional rules specific to such Contest ("Terms and Conditions"). This is an irrevocable condition of entry. Winning a prize is contingent upon compliance with these Terms &amp; Conditions.</li>
          <li>These Terms &amp; Conditions and all similar rules governing the Contest may be subject to modification or annulment at any time at the sole and absolute discretion of Higher Altitude, Inc. ("Sponsor"). Sponsor also reserves the right in its sole and absolute discretion to terminate any contest at any time without prior notice.</li>
          <li>All entrants and winners must be residents of the United States.</li>
          <li>Entries received after the deadline set forth in the Contest announcement are ineligible, null, and void.</li>
          <li>Entries received within thirty (30) days of a previous Contest win are ineligible, null, and void.</li>
          <li>Only one entry per person will be considered for contest entry unless the contest announcement specifically says that multiple entries are allowed.</li>
          <li>Sponsor reserves the right to refuse the award of prizes upon Sponsor's suspicion that entrant has contravened these Terms &amp; Conditions or engaged in any other form of cheating. Sponsor additionally reserves the right to terminate entrant's membership based on such suspicion.</li>
        </ul>
        <%- include legal.ejs %>
      </div>
  </body>
</html>
