<h2>What is Prizm</h2>
<p class="text-box">Prizm is a mobile app that helps students learn about themselves and
connect the dots between where they are now and where they want to be. 
At the same time, Prizm provides a mobile platform for organizations to
present engaging, original content to students who are actively looking
for a worthwhile post-high school experience. We consider Prizm to be a
social discovery tool complementary to current social networks because 
students and partners can seamlessly leverage content from Instagram, 
Twitter and Tumblr.</p>

