.container.topnav-offset {
  padding-left: 22px;
  padding-bottom: 40px;
}

.insights-header {
  display: block;
  height: 42px;
  line-height: 36px;
  background-image: url('/images/insights/insights_header.png');
  background-size: 36px;
  background-repeat: no-repeat;
  padding-left: 52px;
  vertical-align: middle;
  font-size: 24px;
}

#insightTab {
  display: block;
  width: 942px;
  height: 42px;
}

#insightTab li {
  cursor: pointer;
  display: inline-block;
  width: 471px;
  height: 42px;
  line-height: 42px;
  vertical-align: middle;
  font-size: 18px;
  text-align: center;
  color: #555;
  background-color: #e4e5ea;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#insightTab li.active {
  background-color: #fefefe;
  color: #334b8f;
}

#insights {
  list-style: none;
  width: 942px;
  margin-bottom: 40px;
  padding: 20px 0px;
  background-color: #fefefe;
  font-size: 0;
  max-height: 760px;
  overflow-y: auto;
}

#insights li{
  display: block;
  width: 512px; 
  margin: 22px auto 0px auto;
  border: 1px solid #e4e5ea;
  background-color: #ffffff;
}

#insights li:first-child {
  margin-top: 0px;
}

.insight-header, .insight-footer {
  height: 78px;
  width: 100%;
  line-height: 78px;
}

/* INSIGHT HEADER */

.insight-header {
  border-bottom: 1px solid #e4e5ea;
}

.insight-header span {
  float: left;
}

.insight-header .profile-icon {
  display: inline-block;
  height: 51px;
  width: 51px;
  background-size: 51px 51px;
  background-repeat: none;
  background-position: center;
  border: 1px solid #8989a3;
  border-radius: 50%;
  margin-top: 13px;
  margin-left: 12px;
  cursor: pointer;
}

.insight-header .name {
  height: 78px;
  line-height: 78px;
  vertical-align: middle;
  color: #484849;
  font-weight: 400;
  font-size: 17px;
  margin-left: 14px;
  margin-top: 0px;
  cursor: pointer;
}

.insight-header .delete, .insight-header .archive {
  display: inline-block;
  float: right;
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-repeat: none;
  margin-top: 28px;
  cursor: pointer;
  margin-right: 12px;
}

.insight-header .delete {
  background-image: url('/images/insights/delete.png');
}

.insight-header .archive {
  background-image: url('/images/insights/archive.png');
}

#insights.archive .insight-header .delete, #insights.archive .insight-header .archive {
  display: none;
} 
/** INSIGHT FOOTER **/

.insight-footer {
  border-top: 1px solid #e4e5ea;
  vertical-align: middle;
}

.insight-footer .title-wrap {
  display: inline-block;
  line-height: 0;
  vertical-align: middle;
}

.insight-footer .title {
  margin-left: 12px;
  display: inline-block;
  font-size: 17px;
  line-height: 1.5em;
  color: #484849;
  width: 250px;
}

.insight-footer .open {
  float: right;
  display: inline-block;
  height: 24px;
  width: 24px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-image: url('/images/insights/shareicon.png');
  margin-right: 12px;
  margin-top: 27px;
}

/** INSIGHT IMAGE **/

ul#insights .image {
  display: block;
  height: 510px;
  width: 510px;
}

ul#insights .image img {
  height: 510px;
  width: 510px;
}

ul#insights .image .hashtags {
  height: 40px;
  width: 510px;
  display: block;
  line-height: 40px;
  font-size: 24px; 
  color: #e4e5ea;
  position: relative;
  top: -45px;
  left: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/** ARCHIVE **/
ul#insights.archive {
  padding: 0;
}

#insights li.archive {
  height: 99px;
  line-height: 99px;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #484849;
  border: none;
}

#insights li.archive>.content {
  height: 99px;
  width: 739px;
  border-bottom: 1px solid #c5c8cc; 
  margin: 0 0 0 15px;
  padding: 0;
  float: left;
}

li.archive .profile-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px 48px;
  border: 1px solid #8989a3;
  margin: 25px 0px 0px 41px;
  float: left;
  cursor: pointer;
}

li.archive .name, li.archive .title {
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

li.archive .name {
  width: 40%;
}

li.archive .title {
  width: 60%;
}

img.archive-image {
  width: 99px;
  height: 99px;
  float: right;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid #c5c8cc; 
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .container.topnav-offset {
    width: 520px;
    padding: 0 0 20px 0;
  }

  .insights-header {
    display: none;
  }

  #insightTab {
    width: 498px;
    position: fixed;
    z-index: 500;
    margin-left: 11px;
    height: 44px;
  }

  #insightTab li {
    width: 249px;
    height: 44px;
    line-height: 44px;
  }

  #insights {
    width: 498px;
    padding-top: 62px;
    margin: 0 auto;
    max-height: initial;
  }

  #insights li {
    width: 490px;
  }

  #insights li .image {
    width: 488px;
    height: 488px;
    background-size: 488px 488px;
  }

  ul#insights .image img {
    height: 488px;
    width: 488px;
  }

  ul#insights .image .hashtags {
    width: 488px;
  }

}

@media screen and (max-width: 488px) {
  .container.topnav-offset {
    width: 420px;
    padding: 0;
  }

  #insightTab {
    width: 420px;
    margin: 0;
  }

  #insightTab li {
    width: 210px;
  }

  #insights {
    width: 420px;
    padding-top: 62px;
    margin: 0 auto;
  }

  #insights li {
    width: 400px;
  }

  #insights li .image {
    width: 398px;
    height: 398px;
    background-size: 398px 398px;
  }
  
  ul#insights .image img {
    height: 398px;
    width: 398px;
  }

  ul#insights .image .hashtags {
    width: 398px;
    font-size: 18px;
  }
  
  .insight-footer .title {
    width: 200px;
    font-size: 16px;
  }

}

@media screen and (max-width: 410px) {
  .container.topnav-offset {
    width: 320px;
    padding: 0;
  }

  #insightTab {
    width: 320px;
    margin: 0;
  }

  #insightTab li {
    width: 160px;
  }

  #insights {
    width: 320px;
    padding-top: 62px;
    margin: 0 auto;
  }

  #insights li {
    width: 300px;
  }

  #insights li .image {
    width: 298px;
    height: 298px;
    background-size: 298px 298px;
  }

  ul#insights .image img {
    height: 298px;
    width: 298px;
  }

  ul#insights .image .hashtags {
    width: 298px;
    font-size: 18px;
  }

}

