/* Profile Page */
#profile-header {
  margin-top: 30px;
  text-align: center;
  background-repeat: no-repeat;
  color: whitesmoke;
  overflow: hidden;
  background: url('/images/profile/profile_header.png');
  padding: 0px;
}

#profile-header h2 {
  font-weight: 100;
  font-size: 32px;
}

.background-tile-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.background-tile {
  height: 50%;
  width: 12.5%;
  background-size: 150px 150px;
  float: left;
  padding: 0px;
  margin: 0px auto;
}

.background-tile img {
  width: 100%;
  height: 100%;
}

.background-tile-overlay {
  height: 300px;
  width: 100%;
  position: absolute;
  z-index: 500;
  background: rgba(57, 80, 109, .75);
}

.luminary-icon {
  background-image: url('/images/icons/luminary_icon.png');
  background-size: 19px 36px;
  height: 36px;
  width: 19px;
  position: relative;
  left: 25.5%;
}

.luminary-icon p {
  margin-left: 24px;
  padding-top: 8px;
  font-size: 19px;
}

.luminary-card {
  margin-top: 15px;
  width: 20%;
  height: 108px;
  display: inline-block;
}

.slider {
  position: relative;
  width: 33.33%;
  height: 300px;
  z-index: 500;
  float: left;
  margin: 0px auto;
  padding: 45px;
}

.slider-container {
  height: 100%;
  width: 300%;
}

.slider-nav {
  position: relative;
  bottom: 54px;
  z-index: 5;
  padding: 7px;
  height: 0px;
  width: 200px;
  margin: 0px auto;
  z-index: 1000;
}

.slider-nav ul {
  list-style: none;
  padding: 0px;
}

.slider-nav li {
  position: relative;
  background: none repeat scroll 0 0 #aaaaaa;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  height: 12px;
  margin: 0px 5px 0px 5px;
  width: 12px;
  display: inline-block;
}

.slider-nav li.active {
  background-color: #e4e5ea;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
  background-repeat: repeat-x;
}

.slider-nav li:hover {
  background: none repeat scroll 0 0 #EEEEEE;
}

.profile-info  {
  background-color: #fff
;
  /* height: 76px; */
}

.profile-info ul {
    padding: 0px;
    list-style: none;
    text-align: center;
    background: #fbfbfc;
    color: #818284;
    border: 1px #d1d1d2 solid;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 900;
    line-height: 1.25em;
}

.profile-info li {
    list-style: none;
    display: inline-block;
    width: 33%;
}

.profile-info li:first-child {
  border-right: 1px #d1d1d2 solid;
}

.profile-info li:last-child {
  border-left: 1px #d1d1d2 solid;
}

#membersToggle {
  margin: 19px 0px;
  position: absolute;
}

.toggle-label {
    position: absolute;
  
    left: 83px;
    margin: 29px 0px 29px 15px;
    font-size: 18px;
    line-height: 1em;
}

#membersToggle > .toggle-switch {
  background: #134b9f;
}

.profile-posts-container {
  background-color: #eef0f4;
  padding-bottom: 30px;
  color: #B6B8D2;
}

.members-posts-container {
  display: none;
  background-color: #eef0f4;
  padding-bottom: 30px;
  color: #B6B8D2;
}

.post {
  height: auto;
  background-color: #FBFCFF;
  border: 1px #d4daea solid;
  margin-top: 30px;
  position: relative;
}

.post-image img {
  width: 100%;
  height: 100%;
}

.post-footer {
  width: 100%;
  height: 46px;
}

.like-icon {
  display: inline-block;
  margin: 10px 1px 12px 15px;
  float: left;
}

.icon-text {
  display: inline-block;
  margin: 14px 2px auto;
  float: left
}

.time-text {
  display: inline-block;
  margin: 14px 15px 0px 2px;
  float: right;}

.comment-icon {
  display: inline-block;
  margin: 11px 2px 0px 20px;
  float: left
}

.clock-icon {
  margin: 15px 2px 0px 2px;
  float: right;
}


.clock-icon + .icon-text {
  float: right
}

.action-icon {
  margin: 10px 15px 12px 10px;
  float: right;
}

/* Single Post Modal */
.container > .modal-dialog {
  width: 100%;
}

.no-padding {
  padding: 0px;
}

.dismiss {
    background-image: url('/images/posts/dismiss.png');

    width: 20px;
    height: 20px;
    background-size: 20px;
    position: absolute;
    top: -26px;
    right: 5px;
}

.next-post-right {
    background-image: url('/images/posts/arrow_right.png');
  
    width: 40px;
    height: 40px;
    background-size: 40px;
    position: absolute;
    top: 50%;
    right: -50px;
}

.next-post-left {
    background-image: url('/images/posts/arrow_left.png');
  
    width: 40px;
    height: 40px;
    background-size: 40px;
    position: absolute;
    top: 50%;
    left: -50px;
}

.absolute-height {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
}

.comments-header {
  width: 100%;
  background: #E4E5EA;
  padding: 15px;
  position: absolute;
  height: 96px;
  display: inline-flex;
}

.comments-header #clock-image {
  top: 39px;
  position: absolute;
  left: 21.5%;
  padding-left: 20px;
}

.post-modal-avatar {
  position: relative;
  top: 0px;
  bottom: 0px;
  width: 20%;
  float: left;
}

.post-comments {
  width: 100%;
  height: 28px;
  position: absolute;
  top: 96px;
  text-align: center;
  background: #f3f5f7;
}

.post-comments p {
  font-size: 20px;
  margin: 0px;
}

.comment-container {
  max-width: 100%;
  height: 112px;
  display: block;
  padding: 15px;
}

.avatar-name {
  width: 80%;
  font-size: 18px;
  float: right;
}

.comment-text {
  width: 80%;
  display: inline-block;
  float: right;
}

.comment-info {
  position: relative;
  top: 4px;
  clear: right;
  margin-left: 20%;
}


.comment-info #clock-image {
  display: inline-block;
  margin-right: 4px;
}

.comment-info #time {
  display: inline-block;
  margin-right: 8px;
  vertical-align: text-bottom;
}

.comment-info .like-icon {
  display: inline-block;
  float: none;
  margin: 0px 4px 0px 0px;
  width: 16px;
  height: 15px;
  background-size: 16px;
}

.comment-likes {
  display: inline-block;
  margin-right: 4px;
  vertical-align: text-bottom;
}

.comment-likes-count {
  display: inline-block;
  vertical-align: text-bottom;
}

#like .like-icon {
  display: inline-block;
  width: 16px;
  height: 13px;
  background-size: 16px 13px;
}

.comment-scroll {
  background: white;
  overflow-y: auto;
  width: 100%;
  position: absolute;
  top: 124px;
  bottom: 68px;
}

.comments-footer {
  height: 68px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.comments-like {
  display: inline-block;
  float: left;
  height: 100%;
  width: 14%;
  background: #E4E5EA;
  padding: 20px;
}

.comments-like img {
  width: 100%;
}

.comments-post {
  display: inline-block;
  width: 86%;
  height: 100%;
}

.comment-post {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: #f3f5f7;
}

form #inputComment {
  float: left;
  width: 85%;
  height: 68px;
  padding-left: 50px;
  padding-bottom: 2px;
  background: inherit;
  background-image: url('/images/icons/write_icon.png');
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-x: 14px;
  background-position-y: 23px;
  box-shadow: none;
  color: #b8b8d3;
  font-size: 16px;
}

#inputComment::-webkit-input-placeholder {
    color: #babad5;
}
#inputComment::-moz-placeholder {
    color: #babad5;
}
#inputComment:-ms-input-placeholder {
    color: #babad5;
}

.post-button {
  float: right;
  width: 15%;
  margin: 22px auto;
  border-radius: 12px;
  color: #babad5;
  text-shadow: none;
  font-size: 16px;
}

/* Mobile Screen */
@media screen and (max-width:500px) {
  #profile-header {
    height: 200px;
  }

  .background-tile {
    width: 20%;
  }

  .luminary-icon {
    background-size: 13px 27px;
    height: 27px;
    width: 13px;
    left: 11.5%;
  }

  .luminary-icon p {
    margin-left: 20px;
    padding-top: 4px;
    font-size: 16px;
  }

  .luminary-card {
    margin-top: 6px;
    width: 28%;
    display: inline-block;
  }

  .post {
    margin-left: 15px;
    margin-right: 15px;
  }

  .slider {
    padding: 15px;
  }

  .profile-info ul {
    margin-left: 15px;
    margin-right: 15px;
  }

  #postModal .modal-dialog {
    position: fixed;
  
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: 0px;
}

  .comments-header {
    display: none;
  }

  .post-comments {
    height: 64px;
    top: 0px;
  }

  .post-comments > p {
    margin: 18px auto;
  }

  .back-button {
    background-image: url('/images/profile/members_arrow.png');
    background-size: 18px;
    background-repeat: no-repeat;
    height: 31px;
    width: 18px;
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    position: absolute;
    top: 15px;
    left: 15px;
}
}
