.container.topnav-offset {
  padding: 0;
}
.table {
 
}


.nav-tabs li
{
  width: 50%!important;
  height: 42px; 
  line-height: 42px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  color: #555;
  background-color: #e4e5ea;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}




.background-column {
  width: 97.93%;
  margin: 0 auto;
}

.nav-tabs {
  width: 97.93%;
  margin: 0 auto;
  border-bottom: none;
}


#activity-tab li.active {
  color: #334b8f;
  background-color: #fff;
}

#requests {
  display: none;
}

table {
  background: #fefefe;
}

table tr {
  height: 100px;
  color: #484849;
  vertical-align: bottom;
  /* margin: 10px; */
}

.table>tbody>tr>td {
  vertical-align: middle;
  padding: 0px;
}

table tr:first-child {
  border-top: 1px solid #ddd;
}

table tr>td:first-child {
  width: 12%;
  border-bottom: 0px !important;
  border-top: 0px;
  text-align: right;
  padding-right: 8px;
}

table tr>td:nth-child(2) {
  width: 27%;
  font-size: 18px;
  font-weight: 400;
  padding-left: 8px;
}

table tr>td:nth-child(3) {
  width: 35%;
  font-size: 16px;
  font-weight: 400;
}

table tr>td:nth-child(4) {
  width: 10%;
  font-size: 15px;
  font-weight: 300;
}

table tr>td:nth-child(5) {
  width: 16%;
}

tr .prizm-avatar-sm {
   width: 53px;
   height: 53px;
}

.activity-header {
  height: 107px;
  padding-top: 56px;
  line-height: 24px;
  padding-bottom: 0;
  width: 100%;
  margin: 0;
  vertical-align: baseline;
  background-image: url('/images/profile/activity/activity_header.png');
  background-repeat: no-repeat;
  font-size: 24px;

  color: #545358;
  background-position: 15px 48px;
  padding-left: 68px;
}

.activity-action {
  padding-left: 38px;
  background-repeat: no-repeat;
  height: 25px;
}

.activity-action.like {
    background-image: url('/images/activity/like.png');
}

.activity-action.comment {
  background-image: url('/images/activity/comment.png');
}

.activity-action.follow {
  background-image: url('/images/activity/follow.png');
  background-size: 24px 24px;
}

.activity-action.post {
  background-image: url('/images/activity/post.png');
background-size: 24px 24px;
}

.activity-action.insight {
  background-image: url('/images/activity/insight.png');
 background-size: 24px 24px;
}

.activity-action.group_joined {
  background-image: url('/images/activity/member_pending.png');
  background-size: 24px 24px;
}

.activity-action.group_approved {
  background-image: url('/images/activity/member_pending.png');
  background-size: 24px 24px;
}

.activity-action.group_added {
  background-image: url('/images/activity/group.png');
  background-size: 24px 24px;
}

.activity-action.leader {
  background-image: url('/images/activity/leader.png');
  background-size: 31px 24px;
}

.activity-action.tag {
  background-image: url('/images/activity/tag.png');
  background-size: 33px 24px;
}

.activity-time {
  background-image: url('/images/profile/activity/activity_clock.png');
  background-repeat: no-repeat;
  padding-left: 24px;
}

.activity-menu.accepted {
  height: 34px;
  width: 34px;
  background: url('/images/profile/activity/accepted.png');
  
  background-repeat: no-repeat;
  background-size: 34px;
  float: right;
  margin-right: 22px;
}

.activity-menu.accept {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-image: url('/images/profile/activity/accept.png');
  margin-left: 28px;
}

.activity-menu.deny {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-image: url('/images/profile/activity/deny.png');
  float: right;
  margin-right: 24px;
}

img.activity-photo {
    width: 80px; 
    float: right;
}

img.activity-photo {
  width: 100px; 
  float: right;
}

@media screen and (max-width: 600px) {
  .activity-header {
    display: none;
  }
  .nav-tabs, .background-column {
    margin-left: 0px;
  }

  .nav-tabs {
    position: fixed;
    z-index: 100;
    width: 498px !important;
  }
  .nav-tabs li {
    width: 249px !important;
    display: inline-block;
  }

  .background-column {
    width: 498px;
  }

  .container.topnav-offset {
    width: 498px;
    margin-left: auto;
    margin-right: auto;
  }

  table.table {
    margin-top: 42px;
    width: 498px !important;
  }

  table tr>td:nth-child(2) {
    font-size: 16px;
  }

  table tr>td:nth-child(3) {
    font-size: 14px;
  }

  table tr>td:nth-child(4) {
    font-size: 13px;
  }

  .activity-action {
    padding-left: 0px;
  }

  .activity-action.comment, .activity-action.like {
    background-image: none;
  }
}

@media screen and (max-width: 488px) {
  .activity-header {
    display: none;
  }
  .nav-tabs, .background-column {
    margin-left: 0px;
  }

  .nav-tabs {
    position: fixed;
    z-index: 100;
    width: 420px !important;
  }

  .background-column {
    width: 420px;
  }

  .nav-tabs li {
    width: 210px !important;
    display: inline-block;
  }

  .container.topnav-offset {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
  }

  table.table {
    margin-top: 42px;
    width: 420px !important;
  }

  table tr>td:nth-child(2) {
    font-size: 16px;
  }

  table tr>td:nth-child(3) {
    font-size: 14px;
  }

  table tr>td:nth-child(4) {
    font-size: 13px;
  }
}

@media screen and (max-width: 410px) {
  .activity-header {
    display: none;
  }
  .nav-tabs, .background-column {
    margin-left: 0px;
  }

  .nav-tabs {
    position: fixed;
    z-index: 100;
    width: 318px !important;
  }

  .background-column {
    width: 318px;
  }

  .nav-tabs li {
    width: 159px !important;
    display: inline-block;
  }

  .container.topnav-offset {
    width: 318px;
    margin-left: auto;
    margin-right: auto;
  }

  table.table {
    margin-top: 42px;
    width: 318px !important;
  }

  table tr>td:nth-child(2) {
    font-size: 15px;
  }

  table tr>td:nth-child(3) {
    font-size: 13px;
  }

  table tr>td:nth-child(4) {
    font-size: 12px;
  }
  
  table tr>td:nth-child(5) {
    width: 60px; 
  }

  img.activity-photo {
    width: 60px;
  }
}
