/* Single Post Modal */
.modal-dialog.post-modal {
    width: 1200px;
}

.modal-content.post-modal {
    width: 100%;
    height: auto;
    border-radius: 0px;
    border: 0px;
}

.modal-body.post-modal {
    height: 100%;
}

.post-modal-left {
    width: 660px;
    display: inline-block;
}

.post-modal-left img {
  width: 100%;
  height: auto;
}

.post-modal-right {
  width: 540px;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0px;
}

.comments-header {
  height: 96px;
  background: #E4E5EA;
}

.comments-header #clock-image {
  position: relative;
  right: 122px;
  top: 18px;
  padding-left: 20px;
}

.post-creator-avatar {
  display: inline-block;
  padding: 16px;
}

.post-creator-name {
  display:inline-block;
  font-size: 20px
}

.post-comments {
  width: 100%;
  text-align: center;
  background: #f3f5f7;
}

.post-comments p {
  font-size: 20px;
  margin: 0px;
}

.comment-container {
  max-width: 100%;
  height: 112px;
  display: table-header-group;
}

.commenter-avatar {
  display: table-cell;
  width: 96px;
  height: 112px;
  padding: 12px 16px 0px 16px;
}

.commenter-name {
  position: relative;
  top: -11px;
  font-size: 18px;
}

.comment-text {
  position: relative;
  top: -10px;
}

.comment-info {
  position: relative;
  top: 4px;
}

.comment-info #clock-image {
  display: inline-block;
  margin-right: 4px;
}

.comment-info #time {
  display: inline-block;
  margin-right: 8px;
  vertical-align: text-bottom;
}

.comment-info .like-icon {
  display: inline-block;
  float: none;
  margin: 0px 4px 0px 0px;
  width: 16px;
  height: 13px;
  background-size: 16px 13px;
}

.comment-likes {
  display: inline-block;
  margin-right: 4px;
  vertical-align: text-bottom;
}

.comment-likes-count {
  display: inline-block;
  vertical-align: text-bottom;
}

#like .like-icon {
  display: inline-block;
  width: 16px;
  height: 13px;
  background-size: 16px 13px;
}

.comment-scroll {
  overflow-y: auto;
  height: 467px;
}

.comments-footer {
  height: 68px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.comments-like {
  display: inline-block;
  height: 68px;
  width: 68px;
  background: #E4E5EA;
}

.comments-like .like-icon {
  float: none;
  height: 100%;
  width: 100%;
  display: inline-block;
  margin: 0px auto;
  background-repeat: no-repeat;
  background-position: 22px 24px;
}

.comments-post {
  display: inline-block;
  width: 471px;
  height: 68px;
}

.comment-post {
  display: inline-block;
  width: 100%;
  background: #f3f5f7;
  padding-right: 12px;
}

form #inputComment {
  float: left;
  width: 400px;
  height: 68px;
  padding-left: 50px;
  padding-bottom: 2px;
  background: inherit;
  background-image: url('/images/posts/write_comment.png');
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-x: 14px;
  background-position-y: 23px;
  box-shadow: none;
  color: #b8b8d3;
  font-size: 16px;
}

#inputComment::-webkit-input-placeholder {
    color: #babad5;
}
#inputComment::-moz-placeholder {
    color: #babad5;
}
#inputComment:-ms-input-placeholder {
    color: #babad5;
}

.post-button {
  display: inline-block;
  float: right;
  height: 24px;
  width: 48px;
  margin: 22px auto;
  border-radius: 12px;
  color: #babad5;
  text-shadow: none;
  font-size: 16px;
}

@media screen and (max-width:500px) {
  .modal-body.post-modal {
    height: 100%;
  }
  .modal-content.post-modal{
    height: 100%
  }
  .modal-dialog.post-modal {
    width: 100%;
    height: 100%;
    margin: 0px;
    position: absolute;
  }
  .post-modal-left {
    display: none;
  }
  .post-modal-right {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .comment-scroll {
    width: 100%;
    height: auto;
    background: #fff;
    position: absolute;
    top: 64px;
    bottom: 68px;
  }
  .comments-header {
    display: none;
  }
  .post-comments {
    height: 64px;
    position: absolute;
    top: 0px;
  }
  p.comments-title {
    font-size: 24px;
    padding-top: 12px
  }
  .comments-like {
    display: none;
  }
  .comments-post {
    width: 100%;
  }
  .comment-post {
    padding: 0px;
    position: relative;
    bottom: 0px;
  }
  .modal-open .modal {
    overflow-y: hidden;
    position: fixed;
  }
  form #inputComment {
    width: 80%;
  }
  .post-button {
    margin-right: 16px;
  }
}