.background-column {
  background-color: #f4f5f7;
  padding-right: 30px;
  padding-left: 30px;
  border-left: 1px solid #D0D2D6;
  border-right: 1px solid #D0D2D6;
  padding-bottom: 30px;
}

ul#feed {
  perspective: 1300px;
  padding: 0px;
}

ul#feed li {
  color: #b7c2d4;
  transform-style: preserve-3d;
}

ul#feed li animate {
  transform: translateZ(400px) translateY(300px) rotateX(-90deg);
  animation: fallPerspective .8s ease-in-out forwards;
}

@keyframes fallPerspective {
  100% { transform: translateZ(0px) translateY(opx) rotateX(0deg); opacity: 1;}
}

.post-header {
  padding: 20px 15px 0px 15px;
}

.post-header img {
  float: left;
  margin-right: 13px;
}

.post-header h3 {
  color: #7e7e7f;
  margin: 0px;
  font-weight: 900;
  position: relative;
}

.time-since {
  color: #b7c2d4;
  font-size: 15px;
  line-height: 100%;
  position: initial;
}

.time-since .clock-icon {
  float: left;
  height: 18px;
  width: 18px;
  margin: 1px 2px 0px 0px;
  background-size: 18px;
}

.category-icon {
  position: absolute;
  top: 18px;
  right: 15px;
  background-size: 26px;
  width: 26px;
  height: 26px;
}

.post-via {
  position: absolute;
  right: 15px;
  top: 46px;
  color: #b7c2d4;
  font-size: 17px;
  font-weight: 900;
}

.post-footer {
  height: 69px;
  padding: 18px 15px;
  font-size: 28px;
}

.icon-text {
    margin: 0px;
}

.like-icon {
  margin: 0px 12px 0px 0px;
  background-size: 36px;
  width: 36px;
  height: 36px;
}

.comment-icon {
  margin: 2px 12px 0px 27px;
  width: 36px;
  height: 36px;
  background-size: 36px;
}

.repost-icon {
  position: absolute;
  right: 45%;
  background-size: 40px;
  width: 40px;
  height: 40px;
  margin-top: -2px;
  margin-right: auto;
  margin-left: auto;
}

.action-icon {
  position: absolute;
  right: 20%;
  margin: 0px;
  background-size: 34px;
  width: 34px;
  height: 34px;
}

.location-icon {
  float: right;
  background-size: 34px;
  height: 34px;
  width: 34px;
  position: absolute; 
  right: 15px;
}

.comment-drawer {
  background-color: #F3F5F7;
  display: none;
  min-width: 300px;
}

.post-comments {
  position: static;
  color: #bdc7d8;
  font-weight: 900;
  background-color: #eef0f4;
  border-bottom: 1px #d4daea solid;
  border-top: 1px #d4daea solid;
}

.comment-container {
    padding: 22px 15px;
    min-width: 300px;
    position: relative;
    height: auto;
    min-height: 75px;
    border-bottom: 1px #d4daea solid;
    background: #fff;
}

.post-modal-avatar {
    width: 10%;
    height: 80%;
    min-width: 30px;
    min-height: 55px;
    float: left;
}

.avatar-name {
  width: 90%;
  font-size: 22px;
  font-weight: 900;
  color: #7e7e7f;
  float: none;
  position: relative;
  top: 0px;
}

.comment-text {
  font-size: 18px;
  font-weight: 900;
  color: #7e7e7f;
  float: none;
}

.comment-info {
  width: 90%;
  color: #7e7e7f;
  float: none;
  margin-left: 10%;
}

#home-feed .comments-post {
  padding-left: 0px;
  height: 50px;
  display: block;
}

form #inputComment {
  height: 50px;
  background-position-x: 15px; 
  background-position-y: 12px;
}

.post-button {
  margin: 12px 15px 0px 0px;
  width: auto;
  min-width: 60px;
}

#home-feed > .container {
  background-color: #EFF1F4;
}

@media screen and (max-width:800px) {
  .background-column {
    background-color: #f4f5f7;
    padding-right: inherit;
    padding-left: inherit;
    border-left: none;
    border-right: none;
    padding-bottom: 30px;
    min-width: 320px;
  }

  .post-header {
    padding: 10px;
  }

  .post-header p {
    margin-bottom: 0px;
  }

  .post-header h3 {
    font-size: 20px;
  }

  .category-icon {
    top: 10px;
    right: 10px;
  }

  .time-since {
    font-size: 15px;
  }

  .time-since .clock-icon {
    height: 15px;
    width: 15px;
    background-size: 15px;
    margin: 0px 2px 0px 0px;
  }

  .post-footer {
    padding: 10px;
    font-size: 20px;
    height: 50px;
  }

  .icon-text {
    margin: 0px;
  }

  .like-icon {
    margin: 0px 6px 0px 0px;
    background-size: 28px;
    width: 28px;
    height: 28px;
  }

  .comment-icon {
    margin: 1px 6px 0px 14px;
    width: 28px;
    height: 28px;
    background-size: 28px;
  }

  .repost-icon {
    position: absolute;
    right: 45%;
    background-size: 30px;
    width: 30px;
    height: 30px;
    margin-top: -1px;
    margin-right: auto;
    margin-left: auto;
  }

  .action-icon {
    position: absolute;
    right: 20%;
    margin: 0px;
    background-size: 26px;
    width: 26px;
    height: 26px;
  }

  .location-icon {
    float: right;
    background-size: 28px;
    height: 28px;
    width: 28px;
    position: absolute; 
    right: 10px;
  }
}
