#activity-tab li a {
  border-radius: 0px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  color: #555;
  background-color: #e4e5ea;
}

#activity-tab li.active a {
  color: #334b8f;
  background-color: #fff;
}

#requests {
  display: none;
}

table {
  background: #fff;
}

table tr {
  height: 100px;
  color: #484849;
  vertical-align: bottom;
  /* margin: 10px; */
}

.table>tbody>tr>td {
  vertical-align: middle;
  padding: 0px;
}

table tr:first-child {
  border-top: 1px solid #ddd;
}

table tr>td:first-child {
  width: 12%;
  border-bottom: 0px !important;
  border-top: 0px;
  text-align: right;
  padding-right: 8px;
}

table tr>td:nth-child(2) {
  width: 27%;
  font-size: 18px;
  font-weight: 400;
  padding-left: 8px;
}

table tr>td:nth-child(3) {
  width: 35%;
  font-size: 16px;
  font-weight: 400;
}

table tr>td:nth-child(4) {
  width: 10%;
  font-size: 15px;
  font-weight: 300;
}

table tr>td:nth-child(5) {
  width: 16%;
}

tr .prizm-avatar-sm {
   width: 53px;
   height: 53px;
}

.activity-header {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  color: #545358;
  margin-top: 50px;
  margin-bottom: 20px;
  background-image: url('/images/profile/activity/activity_header.png');
  background-repeat: no-repeat;

  background-position-x: 15px;
  padding-left: 68px;
}

.activity-status {
  padding-left: 38px;
}

.activity-status.like {
    background-image: url('/images/profile/activity/activity_like.png');
  background
;background-repeat: no-repeat;
}

.activity-status.comment {
  background-image: url('/images/profile/activity/activity_comment.png');
  background-repeat: no-repeat;
}

.activity-time {
  background-image: url('/images/profile/activity/activity_clock.png');
  background-repeat: no-repeat;
  padding-left: 24px;
}

.activity-action.accepted {
  height: 34px;
  width: 34px;
  background: url('/images/profile/activity/accepted.png');
  
  background-repeat: no-repeat;
  background-size: 34px;
  float: right;
  margin-right: 22px;
}

.activity-action.accept {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-image: url('/images/profile/activity/accept.png');
  margin-left: 28px;
}

.activity-action.deny {
  display: inline-block;
  height: 32px;
  width: 32px;
  background-image: url('/images/profile/activity/deny.png');
  float: right;
  margin-right: 24px;
}

img.activity-photo {
    width: 80px; 
    float: right;
}

img.activity-photo {
  width: 100px; 
  float: right;
}