.background-column {
  background-color: #f4f5f7;
  padding-right: 30px;
  padding-left: 30px;
  border-left: 1px solid #D0D2D6;
  border-right: 1px solid #D0D2D6;
  padding-bottom: 30px;
}
.post {
  color: #b7c2d4;
}

.post-header {
  padding: 20px 15px 8px 15px;
}

.post-header img {
  float: left;
  margin-right: 13px;
}

.post-header h3 {
  color: #7e7e7f;
  margin: 0px;
  font-weight: 900;
  position: relative;
}

.time-since {
  color: #b7c2d4;
  font-size: 20px;
  line-height: 100%;
  position: initial;
}

.time-since .clock-icon {
  float: left;
  height: 18px;
  width: 18px;
  margin: 1px 2px 0px 0px;
  background-size: 18px;
}

.category-icon {
  position: absolute;
  top: 18px;
  right: 15px;
  background-size: 26px;
  width: 26px;
  height: 26px;
}

.post-via {
  position: absolute;
  right: 15px;
  top: 46px;
  color: #b7c2d4;
  font-size: 17px;
  font-weight: 900;
}

.post-footer {
  height: 69px;
  padding: 18px 15px;
  font-size: 28px;
}

.icon-text {
    margin: 0px;
}

.like-icon {
  margin: 0px 12px 0px 0px;
  background-size: 36px;
  width: 36px;
  height: 36px;
}

.comment-icon {
  margin: 2px 12px 0px 27px;
  width: 36px;
  height: 36px;
  background-size: 36px;
}

.repost-icon {
  position: absolute;
  right: 45%;
  background-size: 40px;
  width: 40px;
  height: 40px;
  margin-top: -2px;
  margin-right: auto;
  margin-left: auto;
}

.action-icon {
  position: absolute;
  right: 20%;
  margin: 0px;
  background-size: 34px;
  width: 34px;
  height: 34px;
}

.location-icon {
  float: right;
  background-size: 34px;
  height: 34px;
  width: 34px;
  position: absolute; 
  right: 15px;
}

.comment-drawer {
  background-color: #F3F5F7;
  display: none;
}

.post-comments {
  position: static;
  color: #bdc7d8;
  font-weight: 900;
  background-color: #eef0f4;
  border-bottom: 1px #d4daea solid;
  border-top: 1px #d4daea solid;
}

.comment-container {
    padding: 22px 15px;

    position: relative;
    height: auto;
    border-bottom: 1px #d4daea solid;
    background: #fff;
}
.post-comments-avatar {
    width: 10%;
    float: left;
}

.avatar-name {
  width: 90%;
  font-size: 22px;
  font-weight: 900;
  color: #7e7e7f;
  float: none;
  position: relative;
  top: 0px;
}

.comment-text {
  width: 90%;
  font-size: 18px;
  font-weight: 900;
  color: #7e7e7f;
  float: none;
}

.comment-info {
  width: 90%;
  color: #7e7e7f;
  float: none;
  margin-left: 10%;
}

.comments-post {
  width: 100%;
}

form #inputComment {
  height: 46px;
  background-position-x: 15px; 
  background-position-y: 12px;
}

.post-button {
  margin: 12px 15px 0px 0px;
  width: auto;
}

@media screen and (max-width:500px) {
  .background-column {
    background-color: #f4f5f7;
    padding-right: inherit;
    padding-left: inherit;
    border-left: none;
    border-right: none;
    padding-bottom: 30px;
  }
}