.background-column {
  background-color: #f4f5f7;
  padding-right: 30px;
  padding-left: 30px;
  border-left: 1px solid #D0D2D6;
  border-right: 1px solid #D0D2D6;
  padding-bottom: 30px;
}

ul#feed {
  padding: 0px;
  width: 578px;
  margin: 0 auto;
  background-color: #f4f5f7;
  border: 1px solid #e4e5ea;
}

ul#feed li {
  color: #b7c2d4;
  transform-style: preserve-3d;
  width: 512px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #e4e5ea;
}

ul#feed li animate {
  transform: translateZ(400px) translateY(300px) rotateX(-90deg);
  animation: fallPerspective .8s ease-in-out forwards;
}

@keyframes fallPerspective {
  100% { transform: translateZ(0px) translateY(opx) rotateX(0deg); opacity: 1;}
}
.post {
  background-color: #fff;
}
.post-header {
  height: 78px;
  width: 512px;
}

.post-header .profile-image {
  width: 40px;
  height: 40px;
  border: 1px solid #e4e5ea;
  border-radius: 50%;
  background-size: 40px;
  margin: 20px 11px 18px 15px;
  float: left;
}

.post-header h3 {
  color: #7e7e7f;
  font-weight: normal;
  position: relative;
  margin: 20px 0 0 -80px;
  display: inline-block;
}

.time-since {
  display: inline-block;
  color: #b7c2d4;
  font-size: 15px;
  position: initial;
  font-weight: 200;
  margin-top: 47px;
  width: 80px;
  float: left;
}

.time-since .clock-icon {
  float: left;
  height: 18px;
  width: 18px;
  margin: 1px 2px 0px 0px;
  background-size: 18px;
}

form.comment-post {
  float: left;
  width: 100%;
}

.category-icon {
  float: right;
  margin: 18px 17px 8px 0px;
  background-size: 26px;
  width: 26px;
  height: 26px;
}

.post-via {
  position: absolute;
  right: 17px;
  top: 46px;
  color: #b7c2d4;
  font-size: 17px;
}

.post-footer {
  height: 78px;
  line-height: 78px;
  font-size: 22px;
  font-weight: 200;
  display: block;
  width: 100%; 
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.bar-section {
  display: block;
  width: 20%;
  height: 78px;
  line-height: 78px;
  vertical-align: middle;
  margin: 0;
  float: left;
}

.icon-text {
  /**  margin: 24px 0px 0px 8px; **/
  display: inline-block;
  margin: 0 0 0 4px;
  padding: 0;
}

.icon-text.comments-count {
/*  margin-top: 22px; */
}

.like-icon {
  display: inline;
  width: auto;
  height: 22px;
  line-height: 22px;
  min-width: 24px;
  max-width: 100%;
  background-size: 24px 22px;
  float: none;
  margin: 0;
  padding-left: 30px;
}

.comment-icon {
  display: inline;
  width: auto;
  min-width: 24px;
  max-width: 100%;
  height: 24px;
  line-height: 24px;
  background-size: 24px;
  float: none;
  padding-left: 30px;
  margin: 0;
}

.repost-icon {
  background-size: 22px 25px;
  background-position: center;
  display: inline-block;
}

.action-icon {
  background-size: 24px;
  background-position: center;
  display: inline-block;
}

.location-icon {
  background-size: 18px 25px;
  background-position: center;
  display: inline-block;
}

.comment-drawer {
  background-color: #F3F5F7;
  display: none;
  min-width: 300px;
}

.post-comments {
  position: static;
  color: #bdc7d8;
  font-weight: 900;
  background-color: #eef0f4;
  border-bottom: 1px #d4daea solid;
  border-top: 1px #d4daea solid;
}

.comment-container {
    padding: 22px 15px;
    min-width: 300px;
    position: relative;
    height: auto;
    min-height: 75px;
    border-bottom: 1px #d4daea solid;
    background: #fff;
}

.post-modal-avatar {
    width: 10%;
    height: 80%;
    min-width: 30px;
    min-height: 55px;
    float: left;
}

.avatar-name {
  width: 90%;
  font-size: 22px;
  color: #7e7e7f;
  float: none;
  position: relative;
  top: 0px;
}

.comment-text {
  font-size: 18px;
  color: #7e7e7f;
  float: none;
}

.comment-info {
  width: 90%;
  color: #7e7e7f;
  float: none;
  margin-left: 10%;
}

#home-feed .comments-post {
  padding-left: 0px;
  height: 50px;
  display: block;
}

#home-feed .post-image {
  width: 510px;
  height: 510px;
  margin: 0;
}

#home-feed .post-image img {
  width: 510px;
  height: 510px;
  margin: 0;
}

form #inputComment {
  height: 50px;
  background-position-x: 15px; 
  background-position-y: 12px;
}

.post-button {
  margin: 12px 15px 0px 0px;
  width: auto;
  min-width: 60px;
}

#home-feed > .container {
  background-color: #EFF1F4;
}

@media screen and (max-width:600px) {
  .container.topnav-offset {
    padding: 0;
  }

  ul#feed {
    width: 498px;
  }  
  
  ul#feed li {
    width: 480px;
  }

  .post-header {
    width: 480px;
  }

  .post-footer {
    width: 480px;
  }

  #home-feed .post-image, #home-feed .post-image img {
    width: 478px;
    height: 478px;
  }
 
}

@media screen and (max-width:488px) {
  ul#feed {
    width: 420px;
  }  
  
  ul#feed li {
    width: 400px;
  }

  .post-header {
    width: 400px;
  }

  .post-footer {
    width: 400px;
    font-size: 20px;
  }

  .post-header h3 {
    width: 200px;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #home-feed .post-image, #home-feed .post-image img {
    width: 398px;
    height: 398px;
  }
 
}

@media screen and (max-width:410px) {
  ul#feed {
    width: 318px;
  }  
  
  ul#feed li {
    width: 310px;
  }

  .post-header {
    width: 310px;
  }

  

  .post-footer {
    width: 310px;
  }

  #home-feed .post-image, #home-feed .post-image img {
    width: 308px;
    height: 308px;
  }
 
}


/**
@media screen and (max-width:800px) {
  .background-column {
    background-color: #f4f5f7;
    padding-right: inherit;
    padding-left: inherit;
    border-left: none;
    border-right: none;
    padding-bottom: 30px;
    min-width: 320px;
  }

  .post-via {
    top: 38px; 
    font-size: 12px;
  }

  .post-header {
    padding: 10px;
  }

  .post-header p {
    margin-bottom: 0px;
  }

  .post-header h3 {
    font-size: 20px;
  }

  .category-icon {
    top: 10px;
    right: 10px;
    height: 17px;
    width: 17px;
    background-size: 17px;
  }

  .time-since {
    font-size: 15px;
  }

  .time-since .clock-icon {
    height: 15px;
    width: 15px;
    background-size: 15px;
    margin: 0px 2px 0px 0px;
  }

  .post-footer {
    font-size: 20px;
    height: 78px;
    width: 100%;
  }

  .icon-text {
    margin: 0px;
  }

  .like-icon {
    margin: 0px 6px 0px 0px;
    background-size: 24px 22px;
    width: 24px;
    height: 22px;
  }

  .comment-icon {
    margin: 1px 6px 0px 14px;
    width: 28px;
    height: 28px;
    background-size: 28px;
  }

  .repost-icon {
    position: absolute;
    right: 45%;
    background-size: 30px;
    width: 30px;
    height: 30px;
    margin-top: -1px;
    margin-right: auto;
    margin-left: auto;
  }

  .action-icon {
    position: absolute;
    right: 20%;
    margin: 0px;
    background-size: 26px;
    width: 26px;
    height: 26px;
  }

  .location-icon {
    float: right;
    background-size: 28px;
    height: 28px;
    width: 28px;
    position: absolute; 
    right: 10px;
  }
}

**/
