h2 {
  color: black;
  font-weight: 900;
}

li a {
  font-weight: 900;
}

.members-header {
  background: url('/images/profile/members_header_icon.png') no-repeat;
  background-size: 24px 24px;
  background-position: 24px 24px;
  padding-left: 50px;
  padding-bottom: 16px;
}

input[type=search] {
  background-image: url('/images/profile/members_search.png');
  background-size: 14px;
  background-repeat: no-repeat;
  background-position-y: 9px;
  background-position-x: 12px;
  padding-left: 30px;
  margin-top: 6px;
  margin-bottom: 6px;
}

#search::-webkit-input-placeholder {
    color: #808080;
}
#search::-moz-placeholder {
    color: #808080;
}
#search:-ms-input-placeholder {
    color: #808080;
}

tbody:hover>tr {
  opacity: 0.5;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  vertical-align: middle;
}

table {
  background: #fff;
  color: black;
}

.table>thead {
  border-left: 1px solid #e4e5ea;
  border-right: 1px solid #e4e5ea;
}

.table>thead>tr:last-of-type>th {
  border-bottom: none !important
}

table>thead>tr:last-of-type>th {
  padding-top: 24px
}

.table>tbody {
  border: 1px solid #e4e5ea;
}

.table>tbody>tr {
  border-bottom: hidden;
  border-top: hidden;
}

tbody tr:hover td:first-child {
  background-image: url('/images/profile/members_highlight.png');
  background-repeat: no-repeat;
}

tr:hover {
  opacity: 1.0 !important;
}

.table-striped>tbody>tr:nth-child(odd):hover {
background-color: rgba(240, 244, 248, 0.5);
}

.table-striped>tbody>tr:nth-child(even):hover {
background-color: rgba(246, 249, 254, 0.5);
}

.member-action {
  cursor: pointer;
  width: 26px;
  height: 22px;
  display: -webkit-inline-box;
  margin-right: 100px;
}

.member-action:last-of-type {
  margin-right: 0px
}

.member-action.restrict {
  background: url('/images/profile/members_warning.png') no-repeat;
  background-size: 26px 22px;
}

.member-action.remove {
  background: url('/images/profile/members_delete.png') no-repeat;
  background-size: 22px 22px;
}

.member-action.view {
  background: url('/images/profile/members_arrow.png') no-repeat;
  background-size: 13px 22px;
}

.member-action.approve {
  background: url('/images/profile/members_approve.png') no-repeat;
  background-size: 22px 22px;  
}

.member-action.deny {
  background: url('/images/profile/members_delete.png') no-repeat;
  background-size: 22px 22px;
}

.restrict-menu {
  position: relative; 
  left: 38px;
  background: #fff;
  width: 164px;
  height: 86px;
  border: 1px #e4e5ea solid;
}

.restrict-menu:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 8px 9px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -8px;
  top: 2px;
}

.restrict-menu:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 8px 9px 0;
  border-color: transparent #e4e5ea ;
  display: block;
  width: 0;
  z-index: 0;
  left: -9px;
  top: 2px;
}

.restrict-menu ul {
  margin: 0px auto;
  padding: 14px;
  text-align: left;
}

.restrict-menu li {
  list-style: none;
  padding: 5px;
}

.restrict-menu a {
  text-decoration: none;
  font-weight: normal;
}

.remove-menu {
  position: relative; 
  left: 38px;
  background: #fff;
  width: 168px;
  height: 98px;
  border: 1px #e4e5ea solid;
  padding: 10px 12px 0px 12px;
}

.remove-menu:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 8px 9px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -8px;
  top: 2px;
}

.remove-menu:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 8px 9px 0;
  border-color: transparent #e4e5ea ;
  display: block;
  width: 0;
  z-index: 0;
  left: -9px;
  top: 2px;
}

.remove-menu .btn {
/*   margin-right: 10px; */
  width: 61px;
}

.remove-menu .btn-default {
  margin-right: 17px;
}

/* Member Card Modal */
.modal-dialog.member {
  width: 386px;
}
.member-info-top {
  text-align: center;
  background-color: #f8f8f8;
  height: 330px;
  border-bottom: 1px solid #e3e5e9;
}

.card-icon {
  background: url('/images/profile/members_card_icon.png');
  background-size: 30px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: fixed;
  right: 15px;
  top: 15px;
}

.member-avatar {
  padding-top: 40px;
}

.member-name {
  color: black;
  font-size: 20px;
  width: 80%;
  margin: auto;
  font-weight: 900;
  padding-top: 12px;
}

.member-email {
  color: #acacac;
  font-size: 19px;
  width: 80%;
  margin: auto;
  border-bottom: 1px solid #e3e5e9;
  padding-bottom: 6px;
  font-weight: 900;
}

.member-birthday {
  color: black;
  font-size: 19px;
  margin-top: 18px;
  margin-bottom: 3px;
  font-weight: 500;
}

.member-info-top > .location-icon {
  display:inline-block;
  margin-right: 4px;
  height: 12px;
  width:  12px;
  background-size: 12px;
}

.member-location {
  color: #acacac;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 900;
}

.member-info-bottom {
  background: white;
  height: 172px;
}

.member-circle {
  height: 100px;
  width: 100px;
  background: #f8f8f8;
  border: 3px #e3e5e9 solid;
  border-radius: 50%;
  color: #acacac;
  display: inline-block;
  padding-top: 28px;
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2;
  margin-top: 35px;
  margin-left: 26px;
  margin-right: -10px;
}

.interests-header {
  text-align: center;
  background: #f8f8f8;
  height: 60px;
}

.interests-header > .card-icon {
  float: right;
}

.interests-header > h2 {
  display: inline-block;
  font-weight: 100;
  color: #2443A1;
  margin-bottom: 0px;
  margin-top: 15px;
}

.interests-container {
  background: #3A495E;
  height: 423px;
  color: whitesmoke;
  overflow-y: auto;
  overflow-x: hidden;
}

.interests-container ul {
  list-style: none;
  padding: 6px;
  font-size: 18px;
}

.interests-container li {
  float: left;
  margin: 3px;
  padding: 2px 14px 2px 14px;
  background: #5E6B7D;
  border-radius: 22px;
}

.interests-container::-webkit-scrollbar-track {
  background-color: #3A495E;
}

.interests-container::-webkit-scrollbar {
  width: 6px;
}

.interests-container::-webkit-scrollbar-thumb {
  background-color: #5E6B7D;
  border-radius: 6px;
}