.create-overlay {
  z-index: 5000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  overflow-y: auto;
}

.create-form {
  background-color: #fefefe;
  height: auto;
  margin: 107px auto;
  padding-bottom: 40px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
}

.create-form:before {
  content: 'close';
  color: rgba(1, 1, 1, 0);
  display: block;
  height: 20px;
  width: 20px;
  background-image: url('/images/posts/dismiss.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  float: right;
  margin-top: -34px;
}

.create-form .section {
  overflow: hidden;
  line-height: 0;
}

.create-form .section.buttons {
  width: 100%;
  text-align: center;
}

.create-form button, #profileEdit button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.create-form h2 {
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #545358;
  font-size: 24px;
  width: 100%;
  background-color: rgb(228, 229, 234);
  vertical-align: bottom;
  font-weight: 600;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
  margin: 0;
  padding: 0;
}

.create-form h3 {
  width: 100%;
  text-align: left;
  margin: 0;
  padding: 0;
  padding-left: 34px;
  height: 36px;
  background-color: #e4e5ea;
  font-size: 14px;
  color: #050506;
  line-height: 36px;
  vertical-align: middle; 
}

textarea {
  resize: none;
  outline: none;
  line-height: 1.5em;
  color: #545358;
}

.create-form .block {
  -webkit-appearance: none;
  width: 120px;
  height: 71px;
  display: inline-block;
  background-color: #f2f3f9;
  background-image: none;
  border: none !important;
  outline: none !important;
  margin: 2px 1px;
  cursor: pointer;
  line-height: 71px;
  font-weight: normal;
  line-height: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.create-form input.block:checked {
  background-color: #fefefe;
}

.create-form .section .block:first-child {
  margin-left: 0px;
}

.create-form .section .block:last-child {
  margin-right: 0px;
}

.create-form .block.big {
  width: 162px;
  height: 98px;
  margin-top: 1px;
  margin-bottom: 1px;
  text-align: center;
}

.create-form .section .block.big:first-child {
  width: 161px;
}

.create-form input[type='checkbox'] {
  display: none;
  height: 0px;
  width: 0px;
  margin: 0;
  padding: 0;
  position: absolute;
}


.create-form button, #profileEdit button {
  width: 106px;
  height: 38px;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  border: none;
}

button.cancel {
  background-color: #d6d6d7;
  color: #545358;
  margin-right: 11px;
}

button.save {
  background-color: #3e6a9e;
  color: white;
}

button.save:disabled {
 color: #545358;
 background-color: #d6d6d7;
}

/** NEW POST **/
#newPostForm {
  width: 489px;
}

#newPost #preview {
  width: 110px;
  height: 110px;
  margin: 35px 22px 35px 35px;
  background-color: rgb(228, 229, 234);
  display: inline-block;
  padding: 0;
}
 
#newPost textarea {
  height: 110px;
  width: 287px;
  margin: 35px 35px 35px 0px;
  border: none;
}

#photo {
  background-image: url('/images/posts/camera_icon.png');
  background-size: 37px 28px;
}

#location {
  background-image: url('/images/posts/locationpin_icon.png');
  background-size: 24px 32px;
}

#tag {
  background-image: url('/images/posts/usertag_icon.png');
  background-size: 33px 33px;
}

label.block.scope {

}

input#scope + label::after {
  content: '';
  background-image: url('/images/posts/globe_icon.png');
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  outline: 0;
  margin-left: 45.5px;
  margin-top: 20.5px;
  background-size: 30px;

}

input#scope:not(:checked) + label::after  {
  border-color: rgba(82, 168, 236, 0.8);
  outline: thin dotted \9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);

}

.block.big::after {
  position: absolute;
  height: 98px;
  width: 162px;
  text-align: center;
  line-height: 169px;
  vertical-align: baseline;
  margin-left: -80px;
  color: #545358;
  font-size: 14px;
}

.block.big:checked::after{
  color: #334b8f;
}

#aspiration {
  background-image: url('/images/posts/aspirations_icon.png');
  background-size: 34px 25px;
}

#aspiration::after {
  width: 161px;
  content: 'Aspirations';
}

#passion::after {
  content: 'Passions';
}

#experience::after {
  content: 'Experiences';
}

#achievement::after {
  content: 'Achievements';
}

#inspiration::after {
  content: 'Inspirations';
}

#personal::after {
  content: 'Private';
}

#passion {
  background-image: url('/images/posts/passions_icon.png');
  background-size: 33px 29px;
}

#experience {
  background-image: url('/images/posts/experiences_icon.png');
  background-size: 34px 35px;
}

#achievement {
  background-image: url('/images/posts/achievements_icon.png');
  background-size: 34px 35px;
}

#inspiration {
  background-image: url('/images/posts/inspirations_icon.png');
  background-size: 19px 34px;
}

#personal {
  background-image: url('/images/icons/lock.png');
  background-size: 28px 35px;
}

#newPost button  {
  margin-top: 28px;
}
/** NEW GROUP **/
#newGroup input {
  border: 1px solid #c5c8cc;
}

#newGroupForm {
  width: 660px;

}

#newGroupForm .header {
  display: block;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #545358;
  font-size: 24px;
  width: 100%;
  background-color: rgb(228, 229, 234);
  vertical-align: bottom;
  font-weight: 600;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
}

#newGroupForm span.new-group {
  background-image: url('/images/icons/group_icon.png');
  background-size: 29px 16px;
  background-repeat: no-repeat;
  background-position-y: 5px;
  line-height: 36px;
  padding-left: 36px;
  font-size: 24px;
  color: #545358;
  font-weight: bold;
}

#newGroup {
  width: 541px;
  margin: 51px auto 76px auto;
}

#newGroup label {
  display: inline-block;
  width: 30%;
  height: 38px;
  vertical-align: top;
  color: #545358;
  font-size: 18px;
  font-weight: bold;
  padding-right: 5px;
}

#newGroup select#Leader, #newMember select {
  background-image: url('/images/icons/tooltiparrowmenu_icon_blue@2x.png');
  background-size: 7px 4px;
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: center;
  background-color: #fefefe;
  -webkit-appearance: none;
  width: 70%;
  height: 38px;
  line-height: 38px;
  vertical-align: middle;
  border-radius: 0;
  padding-left: 13px;
  border: 1px solid #c5c8cc;
  outline: none;
}

#leader {
  width: 70%;
  height: 38px;
  background: none;
  border-radius: 0;
  display: inline-block;
}

#leader input[type='text'] {
  width: 100%;
}

#leaderSelect {
  margin-top: 0px;
  position: absolute;
  width: 371.6875px;
  padding: 0;
  background-color: #fefefe;
  border: 1px solid #c5c8cc;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}


#leaderSelect li {
  list-style: none;
  width: 100%; 
  height: 44px;
  padding-left: 14px;
  line-height: 44px;
  vertical-align: middle;
  color: #7e7e7f;
}

#leaderSelect li:hover {
  color: white;
  background-color: #3e6a9e;
} 

#leaderSelect li:hover label {
  background-color: #3e6a9e;
}

#leaderSelect label {
  color: inherit;
  height: 44px;
  line-height: 44px;
  font-size: 17px;
  font-weight: normal;
  width: 100%;
  background-color: #fefefe;
}

#leaderSelect input[type='radio'] {
  display: none;
}

#newGroup .profile-icon {
  position: relative;
  left: 14px;
  top: 16px;
  width: 40px;
  height: 40px;
  background-size: 40px;
  background-position: center;
  background-repeat: none;
  border: 1px solid #c0c6e0;
  border-radius: 50%;
  display: inline-block;
}

#newGroup input {
  width: 70%;
  height: 38px;
  line-height: 1em;
  vertical-align: middle;
  font-size: 18px;
  color: #545358;
  padding-left: 13px;
}

#newGroup textarea {
  width: 70%;
  font-size: 18px;
  color: #545358;
  padding-left: 13px;
  padding-right: 13px;
  height: 105px;
  border: 1px solid #c5c8cc;
}

#newGroup .row {
  margin-bottom: 15px;
}

#newGroup button {
  width: 106px;
  height: 38px;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  border: none;
}

#newGroup button.cancel {
  background-color: #d6d6d7;
  color: #545358;
  margin-left: 30%;
  margin-right: 11px;
}

.selectArea {
  height: 245px;
  border: 1px solid #c5c8cc;
  border-position: inside;
  background-color: #fefefe;
  overflow-y: hidden;
  overflow-x: hidden;
}

.selectArea .option {
  width: 100%;
  height: 76px;
  display: block;
}

.selectArea .option .content {
  display: inline-block;
  line-height: 76px;
  height: 100%;
  vertical-align: middle;
  width: 60%;
  border-bottom: 1px solid #e4e5ea;
  margin-left: 28px;
}


#newGroup .selectArea {
  display: inline-block;
  width: 70%;
}

#newGroup .selectArea .option .content {
  width: 328px;
}

.selectArea input[type='checkbox'] + label {
  width: 24px !important;
  height: 24px !important;
  display: inline-block;
  border-radius: 50% !important;
  background-color: #e4e5ea;
  background-image: none;
  border: none;
  float: right;
  margin-right: 21px;
  margin-top: 24px;
}

.selectArea input[type='checkbox']:checked + label {
  background-color: #3e6a9e;
}

.selectArea span.name {
  color: #737e7f;
  font-size: 18px;
}

#newGroup .name {
  color: #7e7e7f;
  font-size: 18px;
}

.selectArea input[type='text'] {
  height: 41px !important;
  width: 100% !important;
  background-image: url('/images/icons/search.png');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  background-position-x: 14px;
  background-position-y: 10px;
  border: none !important;
  border-bottom: 1px solid #c5c8cc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 0 !important;
  padding-left: 62px !important;
  background-color: #f5f6f8;
  outline: none;
  margin: 0 !important;
}

.selectArea .options {
  width: 100%;
  height: 204px;
  overflow-y: auto;
}

/** New Invite Form **/
#newMemberForm {
  width: 489px;
  padding: 0;
}

#newMember {
  width: 100%;
  padding: 0;
}

#newMember label {
  color: #545358;
  font-size: 18px;
  font-weight: 400;
  display: block;
  width: 85%;
  margin: 65px auto 11px auto;
}

#submitArea {
  text-align: center;
}



#newMember textarea, #newMember select {
  width: 85%;
  display: block;
  height: 160px;
  margin: 0px auto 9px auto;
  border: 1px solid #e4e5ea;
}

#newMember select {
  height: 37px;
  margin-top: 40px;
  color: #545358;
  font-size: 18px;
}

#newMember .tip {
  color: #818284;
  font-size: 14px;
  font-weight: 400;
  width: 85%;
  margin: 0 auto 46px auto;
}

#newMember #add {
  width: 98px;
  height: 41px;
  background-color: #3e6a9e;
  color: white;
  margin: 0 auto 28px auto;
  display: block;
}

#newMember .description{
  width: 100%;
  background-color: #f9f9fb; 
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #e4e5ea;
  border-bottom: 1px solid #e4e5ea;
}

#newMember .description:last-child {
  margin-bottom: 0px;
}

#newMember .description p {
  width: 85%;
  margin: 0 auto;
  color: #818284;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

#newMember ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 234px;
  overflow: auto;
}

#newMember li {
  width: 100%;
  border-top: 1px solid #e4e5ea;
  margin: 0;
  padding: 0;
  color: #545358;
  font-size: 18px;
}

#newMember li .content {
  width: 85%; 
  height: 23px;
  margin: 21px auto;
}

#newMember .right {
  float: right;
}

#newMember .resend {
  display: inline-block;
  background-image: url('/images/icons/email-icon.png');
  background-size: 26px 16px;
  background-position: center;
  background-repeat: no-repeat;
  height: 23px;
  width: 26px;
  margin-left: 25px;
}

#newMember .remove {
  display: inline-block;
  background-image: url('/images/icons/cancel_icon.png');
  background-size: 23px 23px;
  background-position: center;
  background-repeat: no-repeat;
  height: 23px;
  width: 23px;
  margin-left: 25px;
}

#newCSVForm {
  width: 489px;
}

#newCSV {
  display: block;
  width: 85%;
  margin: 0 auto;
  padding-top: 43px;
}

#newCSV h3 {
  background-color: inherit;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 47px 0;
  padding: 0;
}

#newCSV input {
  height: 0px;
  width: 0px;
}

#newCSV label {
  display: block;
  width: 100%;
  padding-left: 33px;
  font-size: 18px;
  font-weight: 400;
  color: #545358;
}

#newCSV input + label::before {
  content: '';
  display: block;
  position: absolute;
  margin-left: -33px;
  margin-top: 2px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #a9aaae;
}

#newCSV input:checked + label::before {
  background-color: #334b8f;
  border: 1px solid #334b8f;
}

#newCSV .button-section {
  width: 100%;
  text-align: center;
  margin-top: 60px;
}

#newInsightForm {
  width: 489px;
}

#newInsightForm input, #newInsightForm textarea {
  width: 86%;
  height: 37px;
  display: block;
  margin: 14px auto 0px auto;
  border: 1px solid #e4e5ea;
  padding: 13px 12px 12px 12px;
  color: #979799;
  font-size: 15px;
}

#newInsight textarea {
  height: 88px;
}

#imageContainer {
  background-image: url('/images/icons/upload_image.png');
  background-size: initial;
}

#previewImage {
  background-size: contain;
}

#newInsightForm #imageContainer, #newInsightForm #previewImage {
  width: 86%;
  height: 404px;
  margin: 14px auto 0px auto;
  border: 1px solid #e4e5ea;
  background-position: center;
  background-repeat: no-repeat;
}

#newInsightForm .section.buttons {
  margin-top: 48px;
}

#newInsightForm .selectArea .option .content {
  width: 100%;
  margin-left: 0;
  padding-left: 20px;
}

#newInsightForm .selectArea {
  width: 86%;
  margin: 14px auto 0px auto;
  border: 1px solid #e4e5ea;
}

#newInsight #photoInstructions {
  color: #343642;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  width: 188px;
  height: 34px;
  margin: 284px auto 0 auto;
  text-align: center;
}


@media screen and (max-width: 600px) {

  #newGroupForm {
    width: 520px;
  }

  #newGroup {
    width: 460px;
  }

  #newGroup .selectArea .option .content {
    width: 272px;
  }



}

@media screen and (max-width: 488px) {
  #newGroupForm {
    width: 420px;
  }

  #newPostForm {
    width: 360px;
    margin-top: 20px;
  }

  #newGroup, #newPost {
    width: 360px;
  }

  #newGroup .selectArea .option .content {
    width: 202px;
  }
  .create-form .block {
    width: 88.5px;
  }
 
  .create-form .block.big {
    width: 119px;
    height: 66px;
  }
 
  .block.big::after {
    position: absolute;
    height: 60px;
    width: 119px;
    text-align: center;
    line-height: 116px;
    vertical-align: baseline;
    margin-left: -60px;
    color: #545358;
    font-size: 12px;
  }

  #aspiration::after {
    width: 118px;
  }

  .create-form .section .block.big:first-child {
    width: 118px;
  }

  input#scope + label::after {
    margin-left: 29.25px;
  }
  
  #newPost textarea {
    height: 110px;
    width: 220px;
    margin: 35px 10px 35px 0px;
    border: none;
  }

  #newPost #preview {
    margin: 35px 10px 35px 10px;
  }
} 

@media screen and (max-width: 410px) {
  #newGroupForm, #newPostForm, #newPost {
    width: 320px;
  }

  #newGroup {
    width: 280px;
  }

  #newPostForm {
    margin-top: 0;
  }

  #newGroup .selectArea .option .content {
    width: 162px;
  }
  #newGroup label {
    font-size: 16px;
  }

  #newGroup span.name {
    color: #7e7e7f;
    font-size: 16px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #newGroup .profile-icon {
    left: 14px;
    top: 6px;
    width: 25px;
    height: 25px;
    background-size: 25px;
    background-position: center;
    background-repeat: none;
    border: 1px solid #c0c6e0;
    border-radius: 50%;
    display: inline-block;
  }

  #newGroup input, #newGroup textarea, #newGroup button {
    font-size: 16px;
  }

  #newGroup button {
    width: 80px;
  }

  .create-form .block {
    width: 78.5px;
  }
 
  .create-form .block.big {
    width: 106px;
    height: 66px;
  }
 
  .block.big::after {
    position: absolute;
    height: 60px;
    width: 106px;
    text-align: center;
    line-height: 116px;
    vertical-align: baseline;
    margin-left: -53px;
    color: #545358;
    font-size: 12px;
  }

  #aspiration::after {
    width: 104px;
  }

  .create-form .section .block.big:first-child {
    width: 104px;
  }

  input#scope + label::after {
    margin-left: 24.25px;
  }
  
  #newPost textarea {
    height: 110px;
    width: 180px;
    margin: 35px 10px 35px 0px;
    border: none;
  }

  #newPost #preview {
    margin: 35px 10px 35px 10px;
  }

}

