/* Navigation Bar */
.topnav-offset {
  margin-top: 75px;
}

#profile-navbar {
  float: right;
  cursor: pointer;
}

#navbar-login a {
  font-size: 18px;
  float: right;
  margin-top: 48px;
  margin-right: 16px;
}

#avatar-navbar {
  float: left;
}

#avatar-navbar img {
  margin-top: 24px;
  width: 40px;
  height: 40px;
  border: 2px #d4daea solid;
  border-radius: 50%;
}

#navbar-name {
  display: inline-block;
  float: right;
  margin-top: 26px;
  margin-left: 24px;
  margin-right: 16px;
}

#navbar-name p {
  margin-top: 8px;
  font-size: 16px;
  text-transform: uppercase;
}

#profile-menu {
  margin-top: -4px;
  position: fixed;
  top: 75px; 
  background: #FBFCFF;
  width: 120px;
  border-radius: 10px;
}

#profile-menu:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 12px 15px;
  border-color: #FFFFFF transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -10px;
  left: 12px;
}

#profile-menu ul {
  margin: 0px auto;
  width: 120px;
  float: left;
  padding: 0px;
  text-align: center;
}

#profile-menu li {
  list-style: none;
  border-bottom: 1px #d4daea solid;
  padding: 12px;
}

#profile-menu li:last-child {
  border: none;
}

/* Avatars */
.prizm-avatar-xs {
  height: 40px;
  width: 40px;
  border: 2px #d4daea solid;
  border-radius: 50%;
}

.prizm-avatar-sm {
  height: 64px;
  width: 64px;
  border: 2px #d4daea solid;
  border-radius: 50%;
}

.prizm-avatar-md {
  height: 96px;
  width: 96px;
  border: 2px #d4daea solid;
  border-radius: 50%;
}

.prizm-avatar-lg {
  height: 128px;
  width: 128px;
  border: 2px #d4daea solid;
  border-radius: 50%;
}

/* Icons */

.like-icon {
  background-image: url('/images/icons/like_icon.png');
  width: 24px;
  height: 20px;
  background-size: 24px 20px;
  background-repeat: no-repeat;
}

.location-icon {
  height: 13px;
  width: 10px;
  background-image: url('/images/icons/location_icon.png');
  background-size: 10px 13px;
  background-repeat: no-repeat;
}

.clock-icon {
  height: 15px;
  width: 15px;
  background-image: url('/images/icons/clock_icon.png');
  background-size: 15px;
  background-repeat: no-repeat;
}

.category-icon {
  height: 23px;
  width: 23px;
  background-size: 23px;
  background-repeat: no-repeat;
}