@font-face { 
 font-family: 'proxima_nova_ltlight';
  src: url('/fonts/ProximaNova-Light-webfont.eot');
  src: url('/fonts/ProximaNova-Light-webfont.eot?#iefix') 
          format('embedded-opentype'),
       url('/fonts/ProximaNova-Light-webfont.woff') format('woff'),
       url('/fonts/ProximaNova-Light-webfont.ttf') format('truetype'),
       url('/fonts/ProximaNova-Light-webfont.svg#proxdffdaia83a#LKJF')
           format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: proxima_nova_ltlight, 'Helvetica', sans-serif; 
  color: #2443A1;
  background-color: #e4e5ea;
}

body a:hover {
  text-decoration: none;
}

.topnav-offset {
  margin-top: 75px;
}

.cursor {
  cursor: pointer;
}

.light-grey {
  background-color: #eef0f4;
}

.white {
  background-color: #fff;
}

/* Avatars */
.prizm-avatar-xs, .prizm-avatar-sm, .prizm-avatar-md, .prizm-avatar-lg {
  border: 1px #d4daea solid;
  border-radius: 50%;
  background-color: #d4daea;
}

.prizm-avatar-xs {
  height: 40px;
  width: 40px;
}

.prizm-avatar-sm {
  height: 64px;
  width: 64px;
}

.prizm-avatar-md {
  height: 96px;
  width: 96px;
}

.prizm-avatar-lg {
  height: 128px;
  width: 128px;
}

/* Icons */
.action-icon {
  background-image: url('/images/icons/action_icon.png');
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-repeat: no-repeat;
}

.comment-icon {
  background-image: url('/images/icons/comment_icon.png');
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-repeat: no-repeat;
}

.like-icon {
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-repeat: no-repeat;
}

.like-icon.liked {
  background-image: url('/images/icons/heart_full_icon@2x.png');
} 

.like-icon.not-liked{
  background-image: url('/images/icons/heart_outline_icon@2x.png');
}

.location-icon {
  height: 24px;
  width: 24px;
  background-image: url('/images/icons/location_icon.png');
  background-size: 24px;
  background-repeat: no-repeat;
}

.menu-icon {
  height: 24px;
  width: 24px;
  background-image: url('/images/icons/menu_icon@2x.png');
  background-size: 24px;
  background-repeat: no-repeat;
}

.plus-icon {
  height: 24px;
  width: 24px;
  background-image: url('/images/icons/plus_icon.png');
  background-size: 24px;
  background-repeat: no-repeat;
}

.repost-icon {
  background-image: url('/images/icons/repost_icon.png');
  width: 24px;
  height: 24px;
  background-size: 24px;
  background-repeat: no-repeat;
}

.clock-icon {
  height: 15px;
  width: 15px;
  background-image: url('/images/icons/clock_icon.png');
  background-size: 15px;
  background-repeat: no-repeat;
}

.category-icon {
  height: 23px;
  width: 23px;
  background-size: 23px;
  background-repeat: no-repeat;
}

/* Error Messages */

.error-message {
  height: 58px;
  display: table;
  width: 100%;
  border-left: 4px solid #FF716F;
  background-color: #ffffff;
}

.error-message p {
  display: table-cell;
  vertical-align: middle;
}

span.error {
  display: inline-block;
  float: left;
  width: 58px;
  height: 58px;
  background: url('/images/warning_icon.png');
  background-size: 26px 22px;
  background-repeat: no-repeat;
  background-position: center;
}

/* UI Elements */
.toggle-container {
    width: 64px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid #d1d1d2;
    overflow: hidden;
    position: relative;
    z-index: 500;
}

.toggle-container[data-toggle="off"] .toggle-switch {
  left: 0px;
}

.toggle-container[data-toggle="on"] .toggle-switch {
  left: 31px;
}
.toggle-switch {
  border-radius: 50%;
  height: 100%;
  width: 50%;
  position: relative;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(209,209,210,1);
     -moz-box-shadow: 0px 0px 2px 1px rgba(209,209,210,1);
          box-shadow: 0px 0px 2px 1px rgba(209,209,210,1);

  -webkit-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.995); 
     -moz-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.995); 
       -o-transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.995); 
          transition: all 500ms cubic-bezier(1.000, 0.000, 0.000, 0.995); /* custom */

  -webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 0.995); 
     -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 0.995); 
       -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 0.995); 
          transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 0.995); /* custom */
}

@media screen and (max-width:800px) {
.prizm-avatar-xs {
  height: 30px;
  width: 30px;
}

.prizm-avatar-sm {
  height: 44px;
  width: 44px;
}

.prizm-avatar-md {
  height: 60px;
  width: 60px;
}

.prizm-avatar-lg {
  height: 90px;
  width: 90px;
}
}
