input {
  outline: none;
}

.messages-header {
  display: block;
  height: 42px;
  line-height: 36px;
  background-image: url('/images/messages/message_icon.png');
  background-size: 36px;
  background-repeat: no-repeat;
  padding-left: 52px;
  vertical-align: middle;
  font-size: 24px;
}

.message-container {
  width: 944px;
  height: 700px;
  margin: 0 auto 40px auto;
  border: 1px solid #c5c8cc;
}

.left-box {
  float: left;
  width: 346px;
  height: 698px;
  background-color: #e4e5ea;
  border-right: 1px solid #c5c8cc;
}

.right-box {
  float: right;
  width: 595px;
  height: 698px;
  background-color: #fefefe;
 
}

ul#topics, ul#messages, ul#members {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

ul#topics li, ul#messages li, ul#members li {
  display: block;
  width: 100%;
}

.profile-icon {
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-position: center;
  background-repeat: none;
  border: 1px solid #c0c6e0;
  border-radius: 50%;
  display: inline-block;
}

/** TOPICS **/
#topics {
  height: 624px;
}

.header {
  height: 74px;
  background-color: #3c485e;
  color: #fefefe;
  font-size: 18px;
}

.header .profile-icon {
  float: left;
  margin: 12px 17px 12px 13px;
}

.header .group-name {
  display: inline-block;
  height: 74px;
  line-height: 74px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#topics .topic {
  height: 72px;
  line-height: 72px;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
  color: #545358;
  font-weight: bold; 
  border-bottom: 1px solid #c5c8cc;
  cursor: pointer;
}

#topics .topic.active {
  background-color: #fefefe;
  border-left: 9px solid #ea622c;
}

/* MESSAGES */
#messages {
  height: 572px;
  border-bottom: 1px solid #c5c8cc;
  padding-bottom: 100px;
}

.right-box>.topic {
  height: 74px;
  line-height: 74px;
  vertical-align: middle;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #545358;
  padding-left: 45px;
  border-bottom: 1px solid #c5c8cc;
}

.right-box .topic input {
  border: none;
  height: 74px;
  line-height: 1em;
  outline: none;
  background: none;
  display: inline-block;
  float: left;
}

#groupName {
  float: left;
}

.right-box #groupMembers {
  display: inline-block;
  float: right;
  background-size: 29px 16px;
  background-image: url('/images/icons/group_icon.png');
  background-repeat: no-repeat;
  margin-top: 28px;
  margin-right: 32px;
  height: 16px;
  width: 46px;
  vertical-align: middle;
  padding-left 30px;
  padding-top: 0;
  padding: bottom: 0;
}

#groupMembers .group-count {
  float: right;
  display: inline-block;
  font-size: 10px;
  color: white;
  height: 16px;
  width: 16px;
  line-height: 16px; 
  vertical-align: middle;
  background-color: #f67914;
  border-radius: 50%;
  text-align: center;
  font-weight: 400;
}

li.message, li.member {
  min-height: 108px;
  width: 100%;
  float: left;
}

.message .profile-icon, .member .profile-icon {
  float: left;
  margin: 27px 16px 0px 45px;
}

li.message .content, li.member .content {
  float: left;
  display: inline-block;
  width: 478px;
  min-height: 108px;
  border-bottom: 1px solid #c5c8cc;
  padding: 33px 0 10px 0;
  clear: none;
}

li.member .content {
  height: 108px;
}

ul#messages li:last-child, ul#members li:last-child {
  margin-bottom: 20px;
}

.message .creator, .member .creator {
  float: left;
  font-size: 18px;
  color: #545358;
}

.member .content .creator {
  line-height: 40px;
}

.message .message {
  float: left;
  clear: left;
  font-size: 16px;
  color: #8b8989;
  width: 325px;
}

.message .foot {
  display: block;
  width: 100%;
  height: 20px;
  float: left;
  clear: left;
  margin-top: 9px;
  line-height: 20px;
  vertical-align: middle;
}

.message .clock-icon {
  width: 17px;
  height: 17px;
  background-image: url('/images/icons/dark_clock.png');
  background-size: 17px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
}

.message .time-since {
  color: #484849;
  font-size: 14px;
  margin-left: 8px;
  height: 17px;
  line-height: 17px;
  vertical-align: top;
  font-weight: 300;
}

.heart {
  display: inline-block;
  background-size: 16px 14px;
  width: 16px;
  height: 17px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 15px;
  cursor: pointer;
}

.heart.full {
  background-image: url('/images/icons/heart_full_icon@2x.png');
}

.heart.empty {
  background-image: url('/images/icons/heart_outline_icon@2x.png');
}

#likesCount {
  font-size: 15px;
  color: #484849;
  font-weight: 300;
  height: 17px;
  line-height: 17px;
  margin-left: 9px;
  vertical-align: top;

}

#likesCount.clear {
  color: rgba(0, 0, 0, 0);
}

/** NEW MESSAGE **/
#newMessage {
  margin: 0;
  width: 595px;
  height: 52px;
  background-color: #fefefe;
  border-position: outside;
}

#newMessage .message-icon {
  height: 52px;
  width: 52px;
  display: inline-block;
  background-color: #f4f5f7;
  border-right: 1px solid #c5c8cc;
  float: left;
  margin: 0;
  background-image: url('/images/messages/message_post.png');
  background-position: center;
  background-size: 16px 18px;
  background-repeat: no-repeat;
}

#newMessage input {
  display: inline-block;
  border: none;
  height: 52px;
  vertical-align: middle;
  width: 543px;
  padding: 0 17px;
  color: #8b8989;
  font-size: 16px;
  outline: none;
}

button.circle {
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: none;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  float: right;
  margin-top: 8px;
}

#memberArea.all button.remove {
  display: none;
}

button.action {
  background-image: url('/images/profile/members_warning.png');
  background-size: 26px 22px;
  width: 26px;
  height: 22px; 
  margin-right: 53px;
}

button.remove {
  background-image: url('/images/profile/members_delete.png');
  background-size: 22px 22px;
  width: 22px;
  height: 22px;
  margin-right: 32px; 
}

#members {
  height: 624px;
  overflow-y: auto;
} 


@media screen and (max-width: 600px) {
  .container.topnav-offset {
    width: 520px;
    padding: 0;
  }

  .messages-header {
    display: none;
  }

  .message-container {
     overflow: hidden;
     width: 520px;
     height: 700px;
  }

  .left-box {
    position: absolute;
    width: 520px;
    float: left;
    margin-top: -700px;
    transition: all 500ms linear; 
  }
  
  .left-box.visible {
    margin-top: 0px !important;
    transition: all 500ms linear; 
  }

  .right-box {
    width: 520px;
    float: left;
    transition: all 500ms linear; 
  }

  #messages {
  }

  
  #newMessage {
    width: 100%;
    z-index: 1000;
    position: relative;
    bottom: 0;
  }

  li.message .content, li.member .content {
    width: 440px;
  }

  .message .profile-icon, .member .profile-icon {
    margin-left: 10px;
  }

  .message .time {
    width: 100px;
  }

  .message .message {
    width: 305px;
  }
}

@media screen and (max-width: 488px) {
  .container.topnav-offset {
    width: 420px;
    padding: 0;
  }
  
  .message-container {
     width: 420px;
     height: 600px;
  }

  .left-box {
    position: absolute;
    width: 420px;
    height: 600px;
    float: left;
    margin-top: -600px;
    transition: all 500ms linear; 
  }
  
  .left-box.visible {
    margin-top: 0px !important;
    transition: all 500ms linear; 
  }

  .right-box {
    width: 420px;
    height: 600px;
    float: left;
    transition: all 500ms linear; 
  }

  #newMessage {
    width: 100%;
    z-index: 1000;
    position: relative;
    bottom: 0;
  }

  li.message .content, li.member .content {
    width: 338px;
  }

  .message .profile-icon, .member .profile-icon {
    margin-left: 10px;
  }

  .message .time {
    width: 85px;
  }

  .message .time-since {
    font-size: 14px;
  }

  .message .clock-icon {
    height: 15px;
    width: 15px;
    background-size: 15px;
  }

  .message .message {
    width: 240px;
  }

  #messages, ul#topics, #members {
    height: 474px;
  }
}

@media screen and (max-width: 410px) {
  .profile-icon {
    width: 35px;
    height: 35px;
    background-size: 35px;
  }
  
  .header .profile-icon {
    margin: 5px 5px 5px 5px;
  }

  .header .group-name {
    height: 44px;
    line-height: 44px;
    margin-left: 20px;
  }

  .container.topnav-offset {
    width: 320px;
    padding: 0;
  }
  
  .message-container {
     width: 320px;
     height: 405px;
  }

  .left-box {
    position: absolute;
    width: 320px;
    height: 405px;
    float: left;
    margin-top: -405px;
    transition: all 500ms linear; 
  }
  
  .left-box.visible {
    margin-top: 0px !important;
    transition: all 500ms linear; 
  }

  .right-box {
    width: 320px;
    height: 405px;
    float: left;
    transition: all 500ms linear; 
  }
  
  li.message .content, li.member.content {
    width: 240px;
    padding: 15px 0 14px 0;
    min-height: initial;
  }

  .message .profile-icon, .member .profile-icon {
    margin-left: 10px;
    margin-top: 15px;
  }

  .message .creator {
    font-size: 14px;
  }

  .message .time {
    width: 65px;
  }

  .message .time-since {
    font-size: 12px;
  }

  .message .clock-icon {
    height: 12px;
    width: 12px;
    background-size: 12px;
  }

  .message .message {
    width: 170px;
    font-size: 15px;
  }

  #messages, ul#topics, #members {
    height: 306px;
  }

  ul#topics {
    width: 100%;
  }

  #topics .topic {
    height: 44px;
    line-height: 44px;
    font-size: 18px;
  }

  .left-box>.header, .right-box>.topic {
    height: 44px;
    line-height: 44px;
  }

  #newMessage input {
    width: 268px;
  }

  li.message {
    min-height: 60px;
  } 
}
