input {
  outline: none;
}

.messages-header {
  display: block;
  height: 42px;
  line-height: 36px;
  background-image: url('/images/messages/message_icon.png');
  background-size: 36px;
  background-repeat: no-repeat;
  padding-left: 52px;
  vertical-align: middle;
  font-size: 24px;
}

.message-container {
  width: 944px;
  height: 700px;
  margin: 0 auto 40px auto;
  border: 1px solid #c5c8cc;
}

.left-box {
  float: left;
  width: 346px;
  height: 698px;
  background-color: #e4e5ea;
  border-right: 1px solid #c5c8cc;
}

.right-box {
  float: right;
  width: 595px;
  height: 698px;
  background-color: #fefefe;
 
}

ul#topics, ul#messages {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

ul#topics li, ul#messages li {
  display: block;
  width: 100%;
}

.profile-icon {
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-position: center;
  background-repeat: none;
  border: 1px solid #c0c6e0;
  border-radius: 50%;
  display: inline-block;
}

/** TOPICS **/
#topics {
  height: 624px;
}

.header {
  height: 74px;
  background-color: #3c485e;
  color: #fefefe;
  font-size: 18px;
}

.header .profile-icon {
  float: left;
  margin: 12px 17px 12px 13px;
}

.header .group-name {
  display: inline-block;
  height: 74px;
  line-height: 74px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#topics .topic {
  height: 72px;
  line-height: 72px;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
  color: #545358;
  font-weight: bold; 
  border-bottom: 1px solid #c5c8cc;
  cursor: pointer;
}

#topics .topic.active {
  background-color: #fefefe;
  border-left: 9px solid #ea622c;
}

/* MESSAGES */
#messages {
  height: 572px;
  border-bottom: 1px solid #c5c8cc;
  padding-bottom: 100px;
}

.right-box>.topic {
  height: 74px;
  line-height: 74px;
  vertical-align: middle;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #545358;
  padding-left: 45px;
  border-bottom: 1px solid #c5c8cc;
}

li.message {
  min-height: 108px;
  width: 100%;
  float: left;
}

.message .profile-icon {
  float: left;
  margin: 27px 16px 0px 45px;
}

.message .time {
  float: right;
  display: block;
  clear: right;
  margin-top: 3px;
  margin-right: 0px;
  width: 153px;
}

li.message .content {
  float: left;
  display: inline-block;
  width: 478px;
  min-height: 108px;
  border-bottom: 1px solid #c5c8cc;
  padding: 33px 0 34px 0;
  clear: none;
}

ul#messages li:last-child {
  margin-bottom: 20px;
}

.message .creator {
  float: left;
  font-size: 18px;
  color: #545358;
}

.message .message {
  float: left;
  clear: left;
  font-size: 16px;
  color: #8b8989;
  width: 325px;
}

.message .clock-icon {
  width: 17px;
  height: 17px;
  background-image: url('/images/icons/dark_clock.png');
  background-size: 17px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
}

.message .time-since {
  color: #484849;
  font-size: 15px;
  margin-left: 8px;
  height: 17px;
  line-height: 17px;
  vertical-align: top;
}

/** NEW MESSAGE **/
#newMessage {
  margin: 0;
  width: 595px;
  height: 52px;
  background-color: #fefefe;
  border-position: outside;
}

#newMessage .message-icon {
  height: 52px;
  width: 52px;
  display: inline-block;
  background-color: #f4f5f7;
  border-right: 1px solid #c5c8cc;
  float: left;
  margin: 0;
  background-image: url('/images/messages/message_post.png');
  background-position: center;
  background-size: 16px 18px;
  background-repeat: no-repeat;
}

#newMessage input {
  display: inline-block;
  border: none;
  height: 52px;
  vertical-align: middle;
  width: 543px;
  padding: 0 17px;
  color: #8b8989;
  font-size: 16px;
  outline: none;
}

/** NEW GROUP **/

#newGroupForm {
  background-color: #fefefe;
  height: 100%;
}

#newGroupForm .header {
  display: block;
  height: 73px;
  line-height: 83px;
  text-align: center;
  width: 100%;
  background-color: #fefefe;
  vertical-align: bottom;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); 
}

#newGroupForm span.new-group {
  background-image: url('/images/icons/group_icon.png');
  background-size: 29px 16px;
  background-repeat: no-repeat;
  background-position-y: 5px;
  line-height: 36px;
  padding-left: 36px;
  font-size: 24px;
  color: #545358;
  font-weight: bold;
}

#newGroup {
  width: 541px;
  margin: 51px auto 76px auto;
}

#newGroup label {
  display: inline-block;
  width: 30%;
  height: 38px;
  line-height: 38px;
  vertical-align: top;
  color: #545358;
  font-size: 18px;
  font-weight: bold;
}

#newGroup input#Leader {
  background-image: url('/images/icons/tooltiparrowmenu_icon_blue@2x.png');
  background-size: 7px 4px;
  background-repeat: no-repeat;
  background-position-x: 97%;
  background-position-y: center;
}

#leader {
  width: 70%;
  height: 38px;
  background: none;
  border-radius: 0;
  display: inline-block;
}

#leader input[type='text'] {
  width: 100%;
}

#leaderSelect {
  margin-top: 0px;
  position: absolute;
  width: 371.6875px;
  padding: 0;
  background-color: #fefefe;
  border: 1px solid #c5c8cc;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}


#leaderSelect li {
  list-style: none;
  width: 100%; 
  height: 44px;
  padding-left: 14px;
  line-height: 44px;
  vertical-align: middle;
  color: #7e7e7f;
}

#leaderSelect li:hover {
  color: white;
  background-color: #3e6a9e;
} 

#leaderSelect li:hover label {
  background-color: #3e6a9e;
}

#leaderSelect label {
  color: inherit;
  height: 44px;
  line-height: 44px;
  font-size: 17px;
  font-weight: normal;
  width: 100%;
  background-color: #fefefe;
}

#leaderSelect input[type='radio'] {
  display: none;
}

#newGroup .profile-icon {
  position: relative;
  left: 14px;
  top: 16px;
  width: 40px;
  height: 40px;
  background-size: 40px;
}

#newGroup input {
  width: 70%;
  height: 38px;
  line-height: 1em;
  vertical-align: middle;
  font-size: 18px;
  color: #545358;
  padding-left: 13px;
}

#newGroup textarea {
  width: 70%;
  font-size: 18px;
  color: #545358;
  padding-left: 13px;
  padding-right: 13px;
  height: 105px;
  border: 1px solid #c5c8cc;
}

#newGroup .row {
  margin-bottom: 15px;
}

#newGroup button {
  width: 106px;
  height: 38px;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
  border: none;
}

#newGroup button.cancel {
  background-color: #d6d6d7;
  color: #545358;
  margin-left: 30%;
  margin-right: 11px;
}

#newGroup button.save {
  background-color: #3e6a9e;
  color: white;
}

#newGroup .selectArea {
  display: inline-block;
  width: 70%;
  height: 245px;
  border: 1px solid #c5c8cc ;
  border-position: inside;
  background-color: #fefefe;
  overflow-y: auto;
  overflow-x: hidden;
}

#newGroup .selectArea .option {
  width: 100%;
  height: 76px;
  display: block;
}

#newGroup .selectArea .option .content {
  display: inline-block;
  height: 100%;
  line-height: 76px;
  vertical-align: middle;
  width: 305px;
  border-bottom: 1px solid #e4e5ea;
  margin-left: 24px;
}

#newGroup input.members + label {
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 50%;
  background-color: #e4e5ea;
  background-image: none;
  border: none;
  float: right;
  margin-right: 21px;
  margin-top: 24px;
}

#newGroup .name {
  color: #7e7e7f;
  font-size: 18px;
}

#newGroup input.members:checked + label {
  background-color: #3e6a9e;
}

@media screen and (max-width: 600px) {
  .container.topnav-offset {
    width: 520px;
    padding: 0;
  }

  .messages-header {
    display: none;
  }

  .message-container {
     overflow: hidden;
     width: 520px;
     height: 700px;
  }

  .left-box {
    position: absolute;
    width: 520px;
    float: left;
    margin-top: -700px;
    transition: all 500ms linear; 
  }
  
  .left-box.visible {
    margin-top: 0px !important;
    transition: all 500ms linear; 
  }

  .right-box {
    width: 520px;
    float: left;
    transition: all 500ms linear; 
  }

  #messages {
  }

  
  #newMessage {
    width: 100%;
    z-index: 1000;
    position: relative;
    bottom: 0;
  }

  li.message .content {
    width: 440px;
  }

  .message .profile-icon {
    margin-left: 10px;
  }

  .message .time {
    width: 100px;
  }

  .message .message {
    width: 305px;
  }
}

@media screen and (max-width: 488px) {
  .container.topnav-offset {
    width: 420px;
    padding: 0;
  }
  
  .message-container {
     width: 420px;
     height: 600px;
  }

  .left-box {
    position: absolute;
    width: 420px;
    height: 600px;
    float: left;
    margin-top: -600px;
    transition: all 500ms linear; 
  }
  
  .left-box.visible {
    margin-top: 0px !important;
    transition: all 500ms linear; 
  }

  .right-box {
    width: 420px;
    height: 600px;
    float: left;
    transition: all 500ms linear; 
  }

  #newMessage {
    width: 100%;
    z-index: 1000;
    position: relative;
    bottom: 0;
  }

  li.message .content {
    width: 338px;
  }

  .message .profile-icon {
    margin-left: 10px;
  }

  .message .time {
    width: 85px;
  }

  .message .time-since {
    font-size: 14px;
  }

  .message .clock-icon {
    height: 15px;
    width: 15px;
    background-size: 15px;
  }

  .message .message {
    width: 240px;
  }

  #messages, ul#topics {
    height: 474px;
  }
}

@media screen and (max-width: 410px) {
  .profile-icon {
    width: 35px;
    height: 35px;
    background-size: 35px;
  }
  
  .header .profile-icon {
    margin: 5px 5px 5px 5px;
  }

  .header .group-name {
    height: 44px;
    line-height: 44px;
    margin-left: 20px;
  }

  .container.topnav-offset {
    width: 320px;
    padding: 0;
  }
  
  .message-container {
     width: 320px;
     height: 405px;
  }

  .left-box {
    position: absolute;
    width: 320px;
    height: 405px;
    float: left;
    margin-top: -405px;
    transition: all 500ms linear; 
  }
  
  .left-box.visible {
    margin-top: 0px !important;
    transition: all 500ms linear; 
  }

  .right-box {
    width: 320px;
    height: 405px;
    float: left;
    transition: all 500ms linear; 
  }
  
  li.message .content {
    width: 240px;
    padding: 15px 0 14px 0;
    min-height: initial;
  }

  .message .profile-icon {
    margin-left: 10px;
    margin-top: 15px;
  }

  .message .creator {
    font-size: 14px;
  }

  .message .time {
    width: 65px;
  }

  .message .time-since {
    font-size: 12px;
  }

  .message .clock-icon {
    height: 12px;
    width: 12px;
    background-size: 12px;
  }

  .message .message {
    width: 170px;
    font-size: 15px;
  }

  #messages, ul#topics {
    height: 306px;
  }

  ul#topics {
    width: 100%;
  }

  #topics .topic {
    height: 44px;
    line-height: 44px;
    font-size: 18px;
  }

  .left-box>.header, .right-box>.topic {
    height: 44px;
    line-height: 44px;
  }

  #newMessage input {
    width: 268px;
  }

  li.message {
    min-height: 60px;
  } 
}
