.messages-header {
  display: block;
  height: 42px;
  line-height: 36px;
  background-image: url('/images/messages/message_icon.png');
  background-size: 36px;
  background-repeat: no-repeat;
  padding-left: 52px;
  vertical-align: middle;
  font-size: 24px;
}

.message-container {
  width: 944px;
  height: 700px;
  margin: 0 auto 40px auto;
  border: 1px solid #c5c8cc;
}

.left-box {
  float: left;
  width: 346px;
  height: 698px;
  background-color: #e4e5ea;
  border-right: 1px solid #c5c8cc;

}

.right-box {
  float: right;
  width: 595px;
  height: 698px;
  background-color: #fefefe;
}

ul#topics, ul#messages {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

ul#topics li, ul#messages li {
  display: block;
  width: 100%;
}

.profile-icon {
  width: 50px;
  height: 50px;
  background-size: 50px;
  background-position: center;
  background-repeat: none;
  border: 1px solid #c0c6e0;
  border-radius: 50%;
  display: inline-block;
}

/** TOPICS **/
#topics {
  height: 624px;
}

.header {
  height: 74px;
  background-color: #3c485e;
  color: #fefefe;
  font-size: 18px;
}

.header .profile-icon {
  float: left;
  margin: 12px 17px 12px 13px;
}

.header .group-name {
  display: inline-block;
  height: 74px;
  line-height: 74px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#topics .topic {
  height: 72px;
  line-height: 72px;
  vertical-align: middle;
  text-align: center;
  font-size: 24px;
  color: #545358;
  font-weight: bold; 
  border-bottom: 1px solid #c5c8cc;
  cursor: pointer;
}

#topics .topic.active {
  background-color: #fefefe;
  border-left: 9px solid #ea622c;
}

/* MESSAGES */
#messages {
  height: 572px;
  border-bottom: 1px solid #c5c8cc;
  padding-bottom: 100px;
}

.right-box>.topic {
  height: 74px;
  line-height: 74px;
  vertical-align: middle;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: #545358;
  padding-left: 45px;
  border-bottom: 1px solid #c5c8cc;
}

li.message {
  min-height: 108px;
  width: 100%;
  float: left;
}

.message .profile-icon {
  float: left;
  margin: 27px 16px 0px 45px;
}

.message .time {
  float: right;
  display: block;
  clear: right;
  margin-top: 3px;
  margin-right: 0px;
  width: 153px;
}

li.message .content {
  float: left;
  display: inline-block;
  width: 478px;
  min-height: 108px;
  border-bottom: 1px solid #c5c8cc;
  padding: 33px 0 34px 0;
  clear: none;
}

.message .creator {
  float: left;
  font-size: 18px;
  color: #545358;
}

.message .message {
  float: left;
  clear: left;
  font-size: 16px;
  color: #8b8989;
  width: 325px;
}

.message .clock-icon {
  width: 17px;
  height: 17px;
  background-image: url('/images/icons/dark_clock.png');
  background-size: 17px;
  background-repeat: no-repeat;
  display: inline-block;
  background-position: center;
}

.message .time-since {
  color: #484849;
  font-size: 15px;
  margin-left: 8px;
  height: 17px;
  line-height: 17px;
  vertical-align: top;
}

/** NEW MESSAGE **/
#newMessage {
  margin: 0;
  width: 595px;
  height: 52px;
  background-color: #fefefe;
  border-position: outside;
}

#newMessage .message-icon {
  height: 52px;
  width: 52px;
  display: inline-block;
  background-color: #f4f5f7;
  border-right: 1px solid #c5c8cc;
  float: left;
  background-image: url('/images/messages/message_post.png');
  background-position: center;
  background-size: 16px 18px;
  background-repeat: no-repeat;
}

#newMessage input {
  display: inline-block;
  border: none;
  height: 52px;
  line-height: 52px;
  vertical-align: middle;
  width: 543px;
  padding: 0 17px;
  color: #8b8989;
  font-size: 16px;
}
