body, div, input, p, h1, h2, h3, h4, span, ul, li {
  box-sizing: border-box;
  font-size: 100%;
}

button {
  cursor: pointer;
}

.navbar .already {
  display: inline-block;
  float: right;
  height: 100%;
  line-height: 75px;
  vertical-align: middle;
}

.already .teaser {
  font-size: 1.125em;
  color: #4b4b4b;
  font-weight: 400;
  margin-right: 27px;
}

button.login, button.next {
  -webkit-appearance: none;
  outline: none;
  color: #fafafc;
  font-weight: 400;
  padding: 11.5px 36px 9px 37px;
  background-color: #465297;
  border: none;
  font-size: 1.125em;
}

.container.topnav-offset {
  margin: 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
  z-index: 500;
}

form.body:not(.active) {
  display: none;
}

/** NEW ACCOUNTS **/
.registration {
  width: 56.3%;
  margin: 82.5px auto;
  background-color: white;
}

.registration ul.tabs {
  padding-bottom: 0;
  box-shadow: none;
  border: none;
}

.registration ul.tabs li {
  background-color: inherit;
  color: black;
  border-position: inside;
  width: 50%;
  margin-bottom: 0;
  padding-bottom: 0;
  border: 1px solid #c5c8cc;
  height: 49px;
  line-height: 49px;
}

.registration ul.tabs li.active {
  background-color: #3e6a9e;
  color: white;
  border: none;
}

.registration h2 {
  height: 92px;
  line-height: 92px;
  text-align: center;
  vertical-align: middle;
  color: #545358;
  font-weight: 700;
  font-size: 1.875em;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.multi-form {
  width: 62.5%;
  margin: 0 auto;
}

.multi-form p {
  text-align: center;
  font-size: 1.125em;
  width: 100%;
  color: #545358;
  font-weight: 400;
}

.multi-form ul {
  list-style: none;
  margin: 54.5px 0 0 0;
  padding: 0;
  width: 100%;
}

.multi-form ul li {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1.125em; 
}

.multi-form ul li label {
  display: block;
  font-size: 0.77em;
  color: #545358;
  font-weight: 600;
}

.multi-form ul li input:not([type='radio']), .multi-form ul li select {
  width: 100%;
  height: 29px;
  border: 1px solid #c5c8cc;
  margin-top: 5px;
  outline: none;
  font-size: 0.77em;
  padding-left: 0.77em;
  box-sizing: border-box;
  color: #545358;
}

.multi-form ul li input:not([type='radio']):focus {
  border: 1px solid #2f38a2;
}

.multi-form ul li label.inline {
  display: inline-block;
  width: auto;
  float: left;
}

span.radio {
  display: inline-block;
  width: auto;
  text-align: center;
  margin-left: 10%;
}

span.radio label {
  width: auto;
  display: block;
  font-weight: 400!important;
}

span.radio input[type='radio'] {
  height: 19px;
  width: 19px;
  border-radius: 50%;
  -webkit-appearance: none;
  border: 1px solid #c5c8cc;
}

span.radio input[type='radio']:checked {
  background-color: #3e6a9e;
  border: none;
}

select {
  -webkit-appearance: none;
  margin: 0;
  border-radius: 0;
  background-color: inherit;
  background-image: url('/images/icons/disclosure_grey.png');
  background-size: 21px 4px;
  background-repeat: no-repeat;
  background-position: right center;
}

.buttons {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.buttons button.save {
  font-size: 1.125em;
  height: 49px;
  background-color: #334b8f;
  color: white;
  font-weight: 400;
  border: none;
  padding: 0 74.5px;
  width: auto;
}

.registration .tagline {
  font-size: 0.89em;
  color: rgb(67, 67, 67);
  width: 64%;
  margin: 22px auto;
  text-align: center;
}

/** INTERESTS **/

ul#interests {
  list-style: none;
  width: 64%;
  margin: 12px auto;
  padding: 0;
  font-size: 0.89em;
  color: rgb(67,67,67);
  height: 350px;
  overflow: auto;
}

ul#interests li {
  margin: 0 0 6px 0;
  display: inline-block;
  background-color: #c0c0c0; 
  border-radius: 24px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  vertical-align: middle;
  cursor: pointer;
}

ul#interests li.subinterest {
  display: none;
}

ul#interests li.selected {
  background-color: rgba(94,107,125, 0.5) !important;
  color: white; 
}

button.next:disabled {
  background-color: #d6d6d7;
}

ul#follow {
  width: 100%;
  height: 465px;
  overflow: auto;
  text-align: center;
  list-style: none;
  padding: 0;
  margin-top: 0px;
  padding-top: 15px;
}

ul#follow li {
  width: 70.8%;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fbfbfb;
  margin: 0 auto 40px auto;

}

ul#follow li:after {
  display: block;
  height: 0;
  margin-bottom: 100%;
}

div.follow {
  text-align: right;
  width: 100%;
  height: 24px;
}

button.follow {
  display: inline-block;
  margin: 19px 16px 0 0;
  top: 0px;
}

.user-circle {
  display: inline-block;
  width: 26.38%;
  border: 3px solid #c5c8cc;
  border-radius: 50%;
  padding-top: 7.78%;
  margin: 42px 2% 14px 2%;
}

.user-circle:after {
  display: block;
  content: '';
  height: 0;
  padding-bottom: 30%;
}

#follow .profile-avatar {
  position: relative;
  height: 95px;
  width: 95px;
  border: 1px solid #c5c8cc;
  border-radius: 50%;
  margin-top: 39px;
  display: inline-block;
  background-size: contain;
  background-position: center;
}

#follow p.name {
  margin-top: 0px;
  font-size: 1.125em;
  font-weight: 400;
  color: black;
}

#follow .location {
  margin-top: 12px;
  height: 16px;
  font-size: 0.875em;
  color: #a3a4a6;
  font-weight: 400;
  background-image: url('/images/profile/members_location.png');
  background-repeat: no-repeat;
  padding-left: 19px;
  width: initial;
  display: inline-block;
  clear: right;

}

#follow button {
  -webkit-appearance: none;
  background-image: none;
  outline: none;
  width: 102px;
  height: 29px;
  border: 1px solid #828282;
  font-weight: 400;
  font-size: 0.875em;
  vertical-align: middle;
  text-align: center;
  background-color: #fefefe;
}

#imageContainer {
  background-image: url('/images/icons/upload_image.png');
  background-size: initial;
  width: 86%;
  margin: 14px auto 0px auto;
  border: 1px solid #e4e5ea;
  background-position: center;
  background-repeat: no-repeat;
  
}

#imageContainer:after {
  content: '';
  display: block;
  height: 0;
  padding-bottom: 100%;
}

#photoInstructions {
  color: #343642;
  font-size: 0.875em;
  font-weight: 300;
  line-height: 21px;
  height: 34px;
  text-align: center;
  float: left;
  margin-top: 65%;
  width: 100%;
}

input#imageFile {
  display: none;
}

#welcomeImage {
  width: 100%;
  height: 265px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width:600px) {
  body {
    font-size: 80%;
  }

  .registration {
    width: 100%;
  }

  .multi-form {
    width: 85%;
  }

  .navbar .already .teaser {
    display: none;
  }

  ul#interests {
    width: 80%;
  }

  .user-circle {
    font-size: 0.8em;
  }

 
}


@media screen and (max-width:480px) {
  #photoInstructions {
    margin-top: 72%;
  }
}
