@media screen and (max-width:500px) {
  body {
    font-size: 14px;
  }

  .wrap {
    width: 300px;
    margin: 0 auto;
  }

  .column {
    width: 300px;
  }

  ul.text-box.column {
    padding-left: 20px;
    width: 280px;
  }

  .right, .left {
    float: none;
  }

  .top75 {
    margin-top: 64px;
  }

  /** NAVIGATION BAR **/

  #menu-button {
    display: block;
    float: right;
    height: 14px;
    width: 22px;
    margin-top: 40px;
    margin-right: 5px;
    background: url(/images/icons/menu_icon@2x.png) no-repeat;
    background-size: 20px;
    border: none;
  } 

  .nav-top {
    height: 64px;
    width: 300px;
  }

  .menu {
    display: none;
    position: absolute;
    top: 64px;
    width: 300px;
    height: auto;
    background-color: #e4e5ea;
    z-index: 1;
  }

  .menu-button {
    display: block;
    margin-top: 0px;
    margin-bottom: 2px;
    background: #e4e5ea;
    height: 44px;
    margin-left: 0px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #d4daea;
  }

  .menu-button a {
    display: block;
    height: 30px;
    padding-top: 14px;
  }

  #logo {
    height: 36px;
    width: 88px;
    margin-top: 24px;
  }

  #alt-logo {
    height: 36px;
    width: 88px;
    margin-top: 24px;
    background-size: 88px 36px;
  }

  #navbar-login a {
    margin-top: 32px
  }

  /** SIDE NAVIATION **/
  .dotNav {
    display: none;
  }

  /** HOME **/
  
  #home-block {
    height: 460px;
  }

  .home {
    height: 524px;
  }

  .home > h2 {
    font-size: 18px;
    margin-top: -48px;
    width: 300px;
  }

  p.sign-up-desc {
    margin: 345px auto 5px auto;
    font-size: 16px;
    width: 300px;
    text-align: center;
  }

  #sign-up {
    vertical-align: middle;
    text-align: center;
    line-height: 44px;
    font-size: 13px;
    height: 44px;
    width: 135px;
    margin: 10px auto;
    display: block;
  }

  #android {
    margin: 2px auto;
    display: block;
  }

  #home-phone {
    position: absolute;
    top: 120px;
    height: 325px;
    width: 258px;
    background-size: 258px 411px;
    margin-left: -280px;
    float: none;
  }

  .overlay {
    top: 440px;
    height: 65px;
  }
  
  .overlay p {
    width: 300px;
    height: 65px;
    font-size: 12px;
  }

  .overlay p .column {
    margin-top: 7px;
  }
  
  .overlay .column {
    width: 300px;
  }

  /** FOOTER **/

  .legal {
    top: 645px;
    font-size: 10px;
  }

  .legal-span {
    width: 300px;
    margin-bottom: 24px;
  }

  .legal-block {
    top: 10px;
    margin: 20px auto;
  }


  /** TERMS PAGE **/
  #terms p, ul, h2, h3 {
    width: 300px;
  }

  #terms p.full {
    width: 310px;
  } 

  /** ABOUT **/
  #about-block {
    height: 1050px;
  }
  
  #insight-block {
    height: 800px
  }
  
  #mission-block {
    height: 930px;
  }

  #about-block p, #mission-block p, #insight-block p {
    width: 300px;
    font-size: 16px;
    line-height: 20px;
    margin: 0px auto;
  }

  .about {
    width: 300px;
    padding: 40px 0 40px 0;
  }
  
  .insight, .mission {
    width: 300px;
    padding: 0px 0 40px 0;
  }

  .insight.left {
    margin: 0px auto;
  }
  
  .mission.right {
    margin: 0px auto;
  }
  
  .phone {
    height: 540px;
    width: 278px;
    padding: 0px;
    background-size: 278px 540px;
  }

  #about-phone, #insight-phone, #mission-phone {
    top: -20px;
    height: 530px;
    width: 278px;
    background-size: 278px 530px;
    margin: 0px auto;
  }
  
  #mission-block, #insight-block {
    margin-top: 0px;
    float: none;
    padding-top: 20px;
    padding-bottom: 20px;
  } 

  /** LUMINARY PAGE **/
  
  #luminary .text-box {
    width: 300px;
    font-size: 0.9em;
  }
  
  #quote {
   width: 300px;
   margin: 0px auto;
  }

  #quote-avatar {
    background-image: url('/images/quote-avatar.png');
    background-size: 90px 118px;
    background-position: -9px -5px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 48px;
    float: none;
    clear: none;
  }

  .quote-main {
    font-size: 1.9em;
    letter-spacing: 4px;
    margin-top: 24px;
    float: none;
    clear: none;
  }

  .quote-credit {
    margin-top: -24px;
    font-size: .8em;
    letter-spacing: 0px;
    text-align: right;
    float: none;
  }

  .tagline {
    font-size: 0.9em;
    width: 270px;
    margin: 20px auto;
  }
  
  #luminary-block1 {
    height: 694px;
    margin-top: 52px;
  }
  
  #luminary-block2 {
    height: 959px;
  }
  
  #luminary-block3 {
    height: 914px;
    margin-bottom: 0px;
  }

  #lum-section-1, #lum-section-2, #lum-section-3 {
    margin: 0px auto;
    padding-top: 24px;
    width: 300px;
  }
  
  #luminary-phone1, #luminary-phone2, #luminary-phone3 {
    margin: 0px auto;
    background-size: 280px 514px;
    height: 400px;
    width: 280px;
  }

  .full {
    width: 300px;
    font-size: 0.67em;
  }

  .section {
    width: 300px;
  }
  
  .section.left {
    margin: 0px auto;
  }
  
  .section.right {
    margin: 0px auto;
  }
  
  #luminary h2 {
    width: 300px;
  }
  
  /** PARTNER **/
  
  #header-title {
    font-size: 18px;
    margin-top: -48px;
    width: 300px;
  }
  
  #find-out-more {
   margin-bottom: 50px;
  }
  
  #partner-section-1, #partner-section-2, #partner-section-3, #partner-section-4 {
    margin: 0px auto;
   padding-top: 24px;
   width: 300px;
  }
  
  #partner-block-1 {
    height: 660px;
  }

  #partner-block-2 {
    max-height: 1040px;
  }

  #partner-block-3 {
    height: 760px;
  }

  #partner-block-4 {
    height: 800px;
  }
  
  #partner-phone-1 {
    margin-top: 25px;
    background: url('/images/partner-phone1.png') no-repeat;
    height: 382px;
    width: 280px;
    background-size: 280px 473px;
  }


  #partner-phone-2 {
    margin-top: 25px;
    background: url('/images/partner-phone2.png') no-repeat;
    height: 399px;
    width: 308px;
    background-size: 308px 490px;
  }


  #partner-phone-3 {
    margin-top: 25px;
    background: url('/images/partner-phone3.png') no-repeat;
    height: 399px;
    width: 280px;
    background-size: 280px 516px;
  }
  
  /** INFORMATION FORM **/

  #info-form {
    width: 290px;
    border-radius: 2px;
  }

  .form-header {
    height: 70px;
  }

  .form-header > h1 {
    height: 70px; 
    background-size: 84px 20px; 
  }

  .form-instructions {
    height: 60px;
  }

  .form-section p {
    font-size: 17px;
    margin-top: 20px;
  }
  
  .form-section label {
    font-size: 14px;
    margin-left: 10px;
  }

  .form-section input {
    height: 60px;
    line-height: 18px;
    font-weight: normal;
    color: #666;
  }

  .form-section > input.input-block {
    margin: 0;
    border: none;
    height: 58px;
    width: 150px;  
    font-size: 14px;
    vertical-align: middle;
  }

  #info-form #send {
    right: 70px;
  }

  .form-section ::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
  }

  input[type="radio"] {
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    margin-top: 22px;
    background: url(/images/radio.png) no-repeat;
    width: 23px;
    height: 20px;
    background-size: 20px 20px;
  }

  input[type="radio"]:checked {
    -webkit-appearance: none;
    appearance: none;
    background: url(/images/radio-checked.png) no-repeat;
    background-size: 22px 20px;
  }

  .radio-label {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    font-size: 14px;
    vertical-align: middle;
    margin: -15px 10px 0px 10px;
  }

  #male-label, #female-label {
    margin-top: -15px;
  }

  button.close {
    height: 14px;
    width: 14px;
    background-size: 14px 14px;
    background-repeat: no-repeat;
    margin: 0 10px 0 0;
    padding: 0;
  }

  p.form-confirm-text {
    margin: 10px 10px 30px 10px;
    font-size: 17px;
  }

  p.form-confirm-close {
    margin: 30px 30px 60px 30px;
    font-size: 17px;
  }

}
