.settings-form {
  width: 100%;
  float: left;
  padding-top: 44.5px;
  height: 100%;
}

h4 {
  font-size: 18px;
  color: #545358;
  font-weight: 600;
  padding-left: 6%;
}

/** GENERAL **/

.settings-form ul {
  list-style: none;
  margin: 0;
  padding: 0 8% 0 6%;
}

.settings-form ul li {
  width: 100%;
  height: 38px;
  margin-bottom: 18px;
}

.settings-form label {
  width: 35%;
  font-size: 18px;
  font-weight: 600;
  height: 38px;
}

.settings-form input {
  width: 65%;
  height: 38px;
  padding-left: 18px;
  padding-right: 18px;
  color: #97959c;
  font-weight: 600;
}

.logo {
  display: block;
  margin-top: 46px;
  text-align: center;
  width: 100%;
}

.logo .label {
  width: 100%;
}

.logo-drop, .welcome-drop {
  border: 1px dashed rgba(0, 0, 0, 0.11);
  width: 191px;
  height: 180px; 
  margin: 18px auto 0 auto;
  vertical-align: baseline;
  line-height: 180px;
  background-image: url('/images/icons/upload_image.png');
  background-size: 64px 57px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.logo-drop .instructions, .welcome-drop .instructions {
  width: 156px;
  font-size: 10px;
  font-weight: 300;
  line-height: 16px;
  margin: 120px auto 0 auto;
}

.buttons {
  width: 100%;
  text-align: center;
  margin-top: 18px;

}

button.save {
  background-color: #3e6a9e;
  outline: none;
  -webkit-style: none;
  border: none;
  width: 35%;
  height: 38px;
  font-size: 18px;
  font-weight: 400;
  line-height: 17px;
}

/** THEME **/

ul.themes li {
  display: inline-block;
  width: auto;
  margin-right: 1.5%;
}

ul.themes input[type='radio'] {
  height: 0;
  width: 0;
  background: none;
  display: none;
}

ul.themes li:last-child {
  margin-left: 8%;
}

ul.themes li label {
  cursor: pointer;
}

ul.themes li.opt:hover {
  border-bottom: 4px solid #2444a2;
}

.color, label.color {
  display: block;
  height: 27px;
  width: 27px;
}

.green {
  background-color: #155f47;
} 

.pink {
  background-color: #d8008f;
}

.red {
  background-color: #a20723;
}

.blue {
  background-color: #4870a0;
}

.purple {
  background-color: #694c87;
}

.orange {
  background-color: #df8832;
}

.black {
  background-color: #34343c;
}

/** WELCOME SCREEN **/
.welcome-drop {
  text-align: center;
  margin-bottom: 40px;
}

#welcome h4 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}

/** WHO TO FOLLOW **/

#follow input[type='checkbox'], #featured input[type='checkbox'] {
  display: none;
}

#follow .checkbox, #featured .checkbox {
  width: 28px;
  height: 28px;
  background-color: #fefefe;
  border: 1px solid #c5c8cc;
  display: inline-block;
  float: left;
  cursor: pointer;
}

#follow input[type='checkbox']:checked + .checkbox, #featured input[type='checkbox']:checked + .checkbox { 
  background-color: #3e6a9e;
  border: none;
}

#follow label, #featured label {
  float: left;
  line-height: 28px;
  margin-top: 10px;
  margin-left: 3%;
  width: auto;
  font-weight: 400;
}


