/** ANIMATIONS **/

@-webkit-keyframes drop {
  0% {
    top: 0;
    opacity: 0;
  }

  30% {
    top: 0.625em;
    opacity: 1;
  }

  100% {
    top: 1.5625em;
    opacity: 0;
  }
}

@keyframes drop {
  0% {
    top: 0;
    opacity: 0;
  }

  30% {
    top: 0.625em;
    opacity: 1;
  }

  100% {
    top: 1.5625em;
    opacity: 0;
  }

}

/** END ANIMATIONS **/

/** CORE CSS **/

html {
  font-size: 16px;
  box-sizing: border-box;
 
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-size: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #485366;
}

a {
  color: #4A4A4A;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.anchor {
  background: url('/images/placeholder.png') no-repeat;
  position: relative;
  top: -75px;
}

h2 {
  font-size: 1.7143em;
  font-weight: 500;
}

h3 {
  font-size: 1.4286em;
  font-weight: 500;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

.topnav-offset {
  top: 3.2857em;
}

.cursor {
  cursor: pointer;
}

.wrap {
  width: 300px;
  margin: 0 auto;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.topnav-offset {
  margin-top: 3.285em; 
}

.full-width {
  width: 100%;
}

.modal-overlay {
  z-index: 5000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

#new-home .modal-overlay {
  height: 100%;
  width: 100%;
  display: none;
}

button {
  -webkit-appearance: none;
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

button.blue {
  border-radius: 1.3214em;
  color: white;
  background-color: #628ad0;
  height: 2.6429em;
  width: 8.5714em;
  text-align: center;
  line-height: 2.6429em;
  vertical-align: middle;

}

button.blue:hover {
  background-color: #78a4f0; 
}

button.blue:active {
  background-color: #314991;
}

.v-flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.v-item {
  flex: 1 1 10em;
}

/** END CORE CSS **/

/** SITE NAVIGATION **/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3.285em;
  background-color: white;  
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.08);
  padding: 0.5em 1.0714em 0 1.1429em;
  z-index: 1000;
  margin: 0;

}

#navbar * {
}

#navbar .wrap {
  width: 100%;
  height: 100%;
  line-height: 100%;
  vertical-align: middle;
  margin: 0 auto;
}

img#logo {
  margin-left: 1.1429em;
  margin-top: 0;
  margin-bottom: 0;
  width: 6.9286em;
  height: auto;
}

.menu {
  display: none;
  position: absolute;
  top: 3.285em;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 900;
}

button#menu-button {
  display: block;
  float: right;
  height: 1.2em;
  width: 1.5714em;
  background-image: url('/images/icons/menu_icon@2x.png');
  background-size: 1.5714em auto;
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
  margin-top: 0.5em;
}

span.menu-button {
  display: block;
  width: 100%;
  height: auto;
  text-align: center;
  border-bottom: 1px solid #EEE;
  margin: 0;
}

span.menu-button a {
  display: block;
  width: 100%;
  height: 3.2857em;
  line-height: 3.2857em;
  vertical-align: middle;
  font-size: 1em;
  text-transform: uppercase;
  margin: 0;
}

/** END NAVBAR **/

/** MAIN PAGE **/

.gray-background {
  background-color: #E4E5EA;
}

.blue-background {
  background-color: #314991;
  color: #FFF;
}

.truewhite-background {
  background-color: #ffffff;
}

button#watch {
  display: block;
  position: relative;
  font-size: 1em;
  width: 3.7571em;
  height: 3.7571em;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  margin-top: 48.8px;
}

button#watch::before {
  content: '';
  font-size: inherit;
  display: block;
  position: absolute;
  top: 1.1857em;
  left: 1.4929em;
  width: 0;
  height: 0;
  border-top: 0.7143em solid transparent;
  border-bottom: 0.7143em solid transparent;
  border-radius: 2px;
  border-left: 1.2643em solid #628ad0;
  z-index: 1;
  transition: all 0.3s;
}

button#watch::after {
  content: 'Watch Video';
  display: block;
  position: relative;
  width: 7.1429em;
  font-size: 1.0827em;
  color: white;
  margin-left: 4em;

}

button#watch:hover::before {
  border-left-color: #78a4f0;
}

button#watch:active::before {
  border-left-color: #314991;
}


p.disclaimer {
  clear: both;
  padding-top: 2em;
  padding-bottom: 4em;
  font-size: 0.875em;
  color #4A5568;
  margin: 0 auto;

}

#new-home .sign-up-area {
  text-align: center;
  font-size: 0.875em;
  padding-top: 3.2143em;
}

.social {
  margin-top: 80px;
  display: block;
  width: 100%;
  text-align: center;
}

#sign-up {
  top: 50px;
  display: inline-block;
  margin-top: 30px;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: -1px;
  background: url('/images/app_store.png') no-repeat;
  width: 135px;
  height: 40px;
  background-size: 135px 40px;
  color: #FFF;
  font-weight: bold;
  opacity: 0.8;
}

#android {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -1px;
  background: url('/images/google.png') no-repeat;
  background-size: 135px 40px;
  width: 135px;
  height: 40px;
  color: #FFF;
  font-weight: bold;
  opacity: 0.8;
}

#follow-prizm {
  font-size: 1.4286em;
  font-weight: 500;
}

#follow-prizm::after {
  content: '';
  display: block;
  position: relative;
  height: 1px;
  width: 3.15em;
  background-color: #D0D2D7;
  margin: 0.25em auto 0 auto;
}

.contact-button {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 44px;
  display: inline-block;
  background-repeat: none;
}

#twitter, #instagram, #facebook {
  background-size: 32px 32px;
}

#twitter {
  background-image: url('/images/twitter.png');
}

#facebook {
  background-image: url('/images/facebook.png');
}

#instagram {
  background-image: url('/images/instagram.png');
}

.legal-span {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 24px;
  padding-top: 12px;
}

.mixpanelbadge {
  display: block;
  margin: 36px auto;
}

.legal {
  margin: 0;
  padding: 1px;
  margin: 0 auto;
  font-size: .6em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: white;
}



/** END MAIN PAGE **/

/** REGISTRATION **/

form#registration {

}

/** 600PX BREAK **/

@media screen and (min-width:600px) {

  .wrap {
    width: 600px;
  }


  
}

/** 900PX BREAK **/

@media screen and (min-width:900px) {


  .right {
    float: right;
  }


  .wrap {
    width: 900px;
  }

  .topnav-offset {
    margin-top: 75px;
  }

  /** NAVIGATION **/

  #navbar {
    height: 75px;
    padding: 0 0 1em 0;
  }


  #navbar .wrap {
    width: 900px !important;
  }

  button#menu-button {
    display: none;
  }

  
  img#logo {
    width: 139px;
    height: 47px;
    margin-left: 0;
    margin-top: 12px;
  }

  .menu {
    position: relative;
    top: 0;
    display: block;
    height: initial;
    margin: 0;
    padding: 0;
    width: initial;
    float: right;
    clear: right;
    vertical-align: middle;
  }

  span.menu-button {
    display: inline-block;
    height: initial;
    margin-left: 2.1875em;
    line-height: 75px;

    vertical-align: middle;
    border: none;
    width: initial;
  }

  span.menu-button a {
    font-size: 0.875em;
    display: inline-block;
    width: initial;
    font-size: 0.875em;
    font-weight: 400;
    line-height: initial;
    height: initial;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }

  span.menu-button.selected a {
    color: #628ad0;
  }
  
  .menu-button a.sign-up-button {
    display: inline-block;
    width: 120px;
    text-transform: uppercase;
    font-size: 14px;
    height: initial;
    padding: 11px 0 10px 0;
    background-color: #628ad0;
    text-align: center;
    line-height: initial;
    border-radius: 18.5px;
    color: #ffffff;
  }

  .menu-button a.sign-up-button:hover {
    text-decoration: none;
    background-color: #78a4f0;
   }

  .menu-button a.sign-up-button:active {
    background-color: #314991;
  }


  #main-screen {
    height: 100vh;
    width: 100%;
  }

  #main-screen .wrap {
  }

  #main-screen .header-title {
    font-size: 4.11875em;
    width: 10.07em;
    color: white;
    line-height: 0.8889em;
    top: 174px; 
  }

  #main-screen .header-blurb {
    font-size: 1.83125em;
    width: 20.5em;
    line-height: 1.1em;
    font-weight: 200;
    top: 200px;
  }

  

}

/** END 900PX BREAK **/

/** 1200PX BREAK **/
@media screen and (min-width:1200px) {

 
  .wrap {
    width: 1200px;
  }

 

 
  #navbar .wrap {
    width: 1200px !important;
  }

  
  

  /** END NAVIGATION **/



}

/** END 960PX BREAL **/

.two-col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
}

.two-col:nth-child(odd) {
  flex-wrap: wrap-reverse;
}

.two-col:nth-child(odd) .phone {
  background-position: right top;
}

.two-col:nth-child(odd) .phone.center {
  background-position: right center;
}

.one-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

#main .one-col {
  width: 65.5625em;
  color: #FFFFFF;
  height: 100vh;
}

#main {
  height: calc(100vh - 75px);
}

#main * {
}

#underlay-color {
  position: absolute;
  width: 100%;
  height: calc(100% - 75px);
  background-color: rgba(49, 73, 145, .6);
  background-blend-mode: darken;
  margin: 0;
  padding: 0;
}

#overlay-image {
  position: absolute;
  background-image: url('/images/hero@2x.png');
  background-position: center;
  background-size: 140% auto;
  background-repeat: no-repeat;
  height: calc(100% - 75px);
  width: 100%; 
  margin: 0;
  padding: 0;
}

#overlay-color {
  position: absolute;
  width: 100%;
  height: calc(100% - 75px);
  background-color: rgba(49, 73, 145, .6);
  background-blend-mode: color;
  margin: 0;
}


#main .header-title {
  position: relative;
  font-size: 65.9px;
  font-weight: 300;
  line-height: 55px;
  width: 589px;
}

#main .header-blurb {
  position: relative;
  font-size: 29.3px;
  font-weight: 200;
  line-height: 28.6px;
  width: 600px;
  margin-top: 36px;
}

.phone {
  height: 368px;
  flex-basis: 544px;
  min-width: 344px;
  background-repeat: no-repeat;
  background-size: 290px 540px;
  background-position: left top;
  margin-top: 85px; 
}

.computer {
  height: 667px;
  flex-basis: 544px;
  background-size: 278px 187px;
  background-repeat: no-repeat;
  background-position: center;

}

.phone:nth-child(odd) {
  background-position: right top;
}

.phone.center {
  height: 329px;
  background-position: left center;
  margin: 0;
  padding: 0;
}

#about .phone {
  background-image: url('/images/explore-phone@2x.png');
}

#product .phone {
  background-image: url('/images/nohassle-phones@2x.png');
  background-size: 344px 540px;
}

#connect .phone {
  background-image: url('/images/connect-phone@2x.png');
}

#engage .phone {
  background-image: url('/images/engage-phone@2x.png');
}

#measure .phone {
  background-image: url('/images/measure-phone@2x.png');
}


#whyprizm .phone {
  background-image: url('/images/whyprizm-phone@2x.png');
  background-position: right center;
  height: 640px;
  margin: auto 0;
}

#whyprizm .text {
  margin: auto 0;
}

#manage {
  background-image: url('/images/laptop-copy-1-b@2x.png');
  background-position: right bottom;
  background-size: 706px 545px;
  background-repeat: no-repeat;
}

#bridge {
  background-image: url('/images/laptop-copy-2-b@2x.png');
  background-position: left bottom;
  background-size: 706px 545px;
  background-repeat: no-repeat;
}



.text {
  flex-basis: 544px;
  margin-top: 85px;
  padding-top: 1em;
}

.text h2 {
  margin-bottom: 28.4px;
}

.text h3 {
  margin-bottom: 17.9px;
}

.text p {
  font-size: 1.1875em;
  line-height: 1.3684em;
  font-weight: 200;
}

#connect .text, #engage .text, #measure .text, #bridge .text, #manage .text {
  margin: auto 0;
}

#pricing {
  text-align: center;
  padding-top: 71px;
}

#pricing h2 {
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

#pricing h2::after {
  content: '';
  display: block;
  position: relative;
  height: 1px;
  width: 62px;
  background-color: #d0d2d7;
  margin: 0 auto 0 auto;
}

div#plans {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 57px auto 0 auto;
  max-width: 1200px;
  flex-wrap: wrap;
}

.plan {
  display: block;
  position: relative;
  width: 265px;
  height: 377px;
  background-color: white;
  border: solid 1px #d7d9df;
  border-radius: 4px;
  margin-top: 19px;
}

.plan .name {
  margin-top: 48px;
  font-size: 14px;
  font-weight: 500;
}

.plan .name::after {
  content: '';
  display: block;
  height: 1px;
  width: 62px;
  margin: 0 auto;
  background-color: #314991;
  position: relative;
}

.plan .price {
  font-size: 16px;
  font-weight: 500;
  margin-top: 43px;
}

.plan .price-type, .plan .users, .plan ul.features li {
  font-size: 14px;
  font-weight 200
}

.plan ul.features {
  margin-top: 22px;
}


.plan button {
  position: absolute;
  bottom: 47px;
  left: 66px;
}

  #scroll-down {
    width: 54px;
    height: 60px;
    margin: 0 auto 0 auto;
    position: absolute;
    bottom: 26.2px;
    left: calc(50% - 60px/2);
  }

  #scroll-down a {
    height: 23px;
    width: 54px;
    background-size: 54px 23px;
    background-image: url('/images/arrow-down@2x.png');
    position: relative;
    color: black;
    display: block;
    -webkit-animation-name: drop;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    position: relative;
    -webkit-animation-name: drop;
    -webkit-animation-duration: 10s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-name: drop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-play-state: running;
  }

  #back-up {
    position: fixed;
    width: 43px;
    height: 61px;
    background-image: url('/images/backup@2x.png');
    background-size: 43px auto;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    display: block;
    border: none;
    outline: none;
    z-index: 5000;
    bottom: 2em;
    right: 2em;
    transition: all 0.3s;
  }
  
  #back-up.hidden {
    display: none;
  }

  #back-up:hover {
    mix-blend-mode: luminosity;
  }


@media screen and (max-width:1199px) {

  #main .one-col {
    width: 700px;
  }

  #main * {
  }

  #manage {
    background-size: 600px auto;
  }

  #bridge {
    background-size: 600px auto;
  }

}

@media screen and (max-width:1087px) {
  
  .text, .phone, .computer {
    flex-basis: 300px;
  }

  .text p {
    font-size: 16px;
  }

  .text h3 {
    font-size: 18px;
  }

  .text h2 {
    font-size: 20px;
  }

}

@media screen and (max-width:843px) {
  
  #main, #overlay-image, #overlay-color, #underlay-color, #main .one-col {
    height: 500px;
  }

  #scroll-down {
    display: none;
  }

  #back-up {
    display: none;
  }

  #main .one-col {
    width: 500px;
    font-size: 14px;
  }

  #main .header-title {
    font-size: 36px;
    line-height: 0.9em;
    width: 80%;
  }

  #main .header-blurb {
    font-size: 19px;
    line-height: 1.1em;
    width: 80%;
  }


  #manage {
    background-image: none;
  }

  #bridge {
    background-image: none;
  }

  .computer {
    height: 187px;
    width: 100%;
    margin-top: 49px;
  }

  #bridge .computer {
    background-image: url('/images/Laptop-copy3002b@2x.png');
  }

  #manage .computer {
    background-image: url('/images/Laptop-copy3001b@2x.png');
  }

}

@media screen and (max-width: 1023px) {
  #manage {
    height: 400px;
    background-size: 400px auto;
  }

  #bridge {
    height: 400px;
    background-size: 400px auto;
  }

  #manage .text, #bridge .text, #manage .computer, #bridge.computer {
    height: 300px;
  }

}

@media screen and (max-width:799px) {

  .two-col {
    align-items: center !important;
  }

  #connect .text, #engage .text, #measure .text {
    margin: initial;
  }

  #overlay-image {
    background-size: auto 140%;
  }
  
  .phone {
    height: 540px;
    background-position: center !important;
    background-size: 290px auto;
    margin-top: 49px;
  }

  .phone.center {
    height: 540px;
    background-position: center !important;
    background-size: 290px auto;
    margin-top: 49px;
  }

  .phone:nth-child(odd) {
    background-position: center;
  }

  #product .phone {
    background-size: 344px auto;
    background-position: center;
  }

  .text {
    margin-top: 23px;
    padding-top: 0;
    margin-bottom: 39px !important;
  }
}

@media screen and (max-width:599px) {
   #manage {
    height: initial;
  }

  #bridge {
    height: initial;
    background-size: 400px auto;
  }

  #main {
    height: 368px;
  }

  #main .one-col {
    width: 300px;
    height: 368px;
    font-size: 10px;
  }

  #overlay-image, #overlay-color, #underlay-color {
    height: 368px;
  }

  #main .header-title {
    font-size: 31.5px;
    line-height: 26.3px;
    width: 100%;
  }

  #main .header-blurb {
    font-size: 13px;
    line-height: 14px;
    width: 100%;
  }




}

