@font-face { 
 font-family: 'proxima_nova_ltlight';
  src: url('/fonts/ProximaNova-Light-webfont.eot');
  src: url('/fonts/ProximaNova-Light-webfont.eot?#iefix') 
          format('embedded-opentype'),
       url('/fonts/ProximaNova-Light-webfont.woff') format('woff'),
       url('/fonts/ProximaNova-Light-webfont.ttf') format('truetype'),
       url('/fonts/ProximaNova-Light-webfont.svg#proxdffdaia83a#LKJF')
           format('svg');
  font-weight: normal;
  font-style: normal;
}

/** GLOBAL STYLE MODIFIERS **/

.full-width {
  width: 100%;
  clear: both;
}

.wrap {
  margin: 0 auto;
  width: 1200px;
  clear: both;
}

.column {
  width: 560px;
  display: inline-block;
  margin-top: 15px;
  font-size: 1.2em;
}

.blue-background {
  background-color: #4e70b7;
  opacity: 1;
  color: #FFF;
}

.phone {
  height: 700px;
  width: 350px;
  background-size: 350px 700px;
}

.right {
  float: right;
}

.left {
  float: left
}

.hidden {
  display: none;
}

.anchor {
  background: url('/images/placeholder.png') no-repeat;
  position: relative;
  top: -75px;
}

/** STANDARD ELEMENTS **/

body {
  font-family: proxima_nova_ltlight, 'Helvetica', sans-serif; 
  font-size: 100%;
  color: #2443A1;
  margin: 0;
  padding: 0;
  border: none;
  font-weight: normal;
  background-color: #EEF0F4;
}

a {
  text-decoration: none;
  color: #2443A1;
}

.selected {
  border-bottom: 3px solid #536BB4;
}

/** NAVIGATION BAR **/

#logo {
  cursor: pointer;
  height: 75px;
  width: 176px;
  background: url('/images/logo.png') no-repeat;
  background-size: 176px 72px;
  background-position: left bottom;
}

#navbar {
  position: fixed;
  top: 0px;
  background-color: #EEF0F4;
  z-index: 1000;
}

.nav-top {
    height: 75px;
    width: 1200px;
    border-bottom: 1px #d4daea solid;
    background-color: #EEF0F4;
}

.nav-top h1 {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  font-size: 2em;
  float: left;
  clear: left;
}

.menu {
  height: 70px;
  float: right;
  clear: right;
  vertical-align: baseline;
}

#menu-button {
  display: none;
}

.menu-button {
  display: inline-block;
  margin-top: 48px;
  height: 25px;
  margin-left: 75px;
  vertical-align: middle;
}

.menu-button a {
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  text-transform: uppercase;
}

/** HOME **/

#home-block {
  margin-top: 75px;
}

.home {
  clear: both;
  height: 584px;
  float: left;
  margin-top: 75px;
}

.home > h2 {
  font-weight: normal;
  font-size: 38px;
  margin-top: 100px;
}

p.sign-up-desc {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 22px;
  width: 340px;
}

#sign-up {
  top: 50px;
  display: inline-block;
  margin-top: 30px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -1px;
  background: url('/images/app_store.png') no-repeat;
  width: 135px;
  height: 40px;
  background-size: 135px 40px;
  color: #FFF;
  font-weight: bold;
  opacity: 0.8;
}

#android {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -1px;
  background: url('/images/google.png') no-repeat;
  background-size: 120px 40px;
  width: 120px;
  height: 40px;
  color: #FFF;
  font-weight: bold;
  opacity: 0.8;
}

#home-phone {
  height: 599px;
  width: 490px;
  margin-top: 60px;
  margin-right: -10px;
  background: url('/images/phone-home.png');
  background-size: 490px 782px;
  display: inline-block;
  float: right;
}

.overlay {
  position: absolute;
  top: 655px;
  height: 80px;
  width: 100%;
  background: #2346b1;
  opacity: 0.75;
  margin: 0;
  padding: 0;
  left: 0;
  border: none;
}

.overlay p {
  color: #FFF;
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  font-size: 16px;
  vertical-align: middle;
}

.overlay .column {
  width: 480px;
}

/** ABOUT **/

#about-block {
  height: 634px;
}

.about.right {
  margin-right: 48px;
  margin-top: 200px;
}

#about-phone {
  background-image: url(/images/phone-about.png);
  height: 559px;
  margin-top: 75px;
  margin-left: 48px;
}

/** INSIGHTS **/

#insight-block {
  height: 640px;
}

.insight.left {
  margin-left: 48px;
  margin-top: 200px
}

#insight-phone {
  background-image: url(/images/phone-insight.png);
  height: 565px;
  margin-top: 75px;
  margin-right: 48px
}

/** MISSION **/

#mission-block {
  height: 640px;
}

.mission.right {
  margin-right: 48px;
  margin-top: 200px;
}

#mission-phone {
  background-image: url(/images/phone-mission.png);
  height: 565px;
  margin-top: 75px;
  margin-left: 48px;
}

/** LEGAL **/

.legal {
  margin: 0;
  padding: 0;
  height: 300px;
  width: 100%;
  margin: 0 auto;
  font-size: .6em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #EEF0F4;
}

.legal-span {
  display: inline-block;
  margin-top: 50px;
  padding-top: 12px;
  border-top: 1px solid #D4DAEA;
}

.contact-button {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  background-repeat: none;
}

#twitter, #instagram, #facebook {
  background-size: 32px 32px;
}

#twitter {
  background-image: url('/images/twitter.png');
}

#facebook {
  background-image: url('/images/facebook.png');
}

#instagram {
  background-image: url('/images/instagram.png');
}

.social {
  margin-top: 80px; 
  display: block;
  width: 100%;
  text-align: center;
}

#follow-prizm {
  color: #8698C5;
  font-size: 1.2em;
  margin: 0 auto 20px auto;
  display: block;
  width: 160px;
  height: 2em;
  border-bottom: 1px solid #8698C5;
}

.mixpanelbadge {
  display: block;
  margin: 36px auto;
}

/** TERMS **/

#terms p, ul, h2, h3{
  width: 600px;
}

/** LUMINARY **/

#luminary-qoute {
  margin-top: 75px;
}

.luminary-block {
  height: 670px
}

.full a:hover {
  text-decoration: underline;
  z-index: 1000;
}

.bordered {
  margin-top: 150px;
  margin-bottom: 75px;
  border-top: 1px solid #a2aed5;
  border-bottom: 1px solid #a2aed5;
}

.full {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1.2em;
}

.quote {
  font-size: 1.6em;
}

.tagline {
  font-size: 1.3em;
  width: 400px;
}

#lum-section-1 {
  margin-top: 150px;
}

#lum-section-2 {
  margin-top: 150px;
}

#luminary-phone1 {
  background: url('/images/lphone2.png') no-repeat;
  height: 680px;
  width: 400px;
  background-size: 400px 680px;
}

#luminary-phone2 {
  background: url('/images/lphone1.png') no-repeat;
  height: 680px;
  width: 400px;
  background-size: 400px 680px;
}

/** PARTNER **/

#partner {
  margin-top: 75px;
  padding-top: 1px;
}