

/** GLOBAL STYLE MODIFIERS **/
body {
  font-weight: 100;
}

h1,h2,h3,h4,h5 {
  font-weight: normal;
}

strong {
  font-weight: normal;
}

p {
  font-weight: 300;
}

.full-width {
  width: 100%;
  clear: both;
}

.wrap {
  margin: 0 auto;
  width: 1200px;
  clear: both;
}

.topnav-offset {
  margin-top: 75px;
}

.wrap-profile {
  margin: 0 auto;
  width: 1200px;
  clear: both;
}

.column {
  width: 560px;
  display: inline-block;
  margin-top: 15px;
  font-size: 1.2em;
}

.blue-background {
  background-color: #314991;
  opacity: 1;
  color: #FFF;
}


.gray-background {
  background-color: #e4e5ea;
}

.white-background {
  background-color: #EEF0F4;
}

.phone {
  height: 700px;
  width: 350px;
  background-size: 350px 700px;
}

.right {
  float: right;
}

.left {
  float: left
}

.hidden {
  display: none;
}

.anchor {
  background: url('/images/placeholder.png') no-repeat;
  position: relative;
  top: -75px;
}

.tagline {
  padding-top: 48px;
  padding-bottom: 12px;
  margin: 0 auto;
  font-size: 1.3em;
  width: 370px;
  clear: both;
  border-bottom: 1px #314991 solid
}

.section.left {
  margin-left: 48px;
}

.section.right {
  margin-right: 48px;
}

/** STANDARD ELEMENTS **/

body {
  font-family: proxima_nova_ltlight, 'Helvetica', sans-serif; 
  font-size: 100%;
  color: #2443A1;
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 300;
  background-color: #e4e5ea;
}

a {
  text-decoration: none;
  color: #2443A1;
}

.selected {
  border-bottom: 3px solid #536BB4;
}

/** NAVIGATION BAR **/

#logo {
  cursor: pointer;
  height: 72px;
  width: 176px;
  margin-top: 3px;
}

#alt-logo {
  cursor: pointer;
  height: 75px;
  width: 176px;
  background: url('/images/logo.png') no-repeat;
  background-size: 176px 72px;
  background-position: left bottom; 
}

#navbar {
  position: fixed;
  top: 0px;
  background-color: #e4e5ea;
  z-index: 1000;
}

.nav-top {
    height: 75px;
    width: 1200px;
    border-bottom: 1px #d4daea solid;
    background-color: #e4e5ea;
}

.nav-top h1 {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  font-size: 2em;
  float: left;
  clear: left;
}

.menu {
  height: 70px;
  float: right;
  clear: right;
  vertical-align: baseline;
}

#menu-button {
  display: none;
}

.menu-button {
  display: inline-block;
  margin-top: 48px;
  height: 25px;
  margin-left: 75px;
  vertical-align: middle;
}

.menu-button a {
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  text-transform: uppercase;
}

/** SIDE NAVIGATION **/

.dotNav {
  position: fixed;
  margin-top: 225px;
  z-index: 5;
  padding: 7px;
  margin-left: 1146px;
}

.dotNav ul {
  list-style: none;
  width: 0px;
  margin: 0px auto;
}
.dotNav li {
  position: relative;
  background: none repeat scroll 0 0 #314991;
  border:1px solid #aaaaaa;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  height: 12px;
  margin: 10px 10px 0px 0px;
  width: 12px;
  vertical-align:bottom;
}

.dotNav.blue-nav li {
  background-color: #e4e5ea;
}


.dotNav li.active {
  background-color: #e4e5ea;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
  background-repeat: repeat-x;
}

.dotNav.blue-nav li.active {
  background-color: #314991;
}

.dotNav li:hover {
  background: none repeat scroll 0 0 #EEEEEE;
}

.dotNav.blue-nav li:hover {
  background-color: #314991;
}

.dotNav a {
  outline: 0;
  vertical-align:top;
  margin: 0px 0px 0px 25px;
  position: relative;
  top:-5px;
}

/** HOME **/

.home {
  clear: both;
  height: 584px;
  float: left;
}

.home > h2 {
  font-weight: 300;
  font-size: 38px;
  margin-top: 100px;
}

p.sign-up-desc {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 22px;
  width: 340px;
}

#sign-up {
  top: 50px;
  display: inline-block;
  margin-top: 30px;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: -1px;
  background: url('/images/app_store.png') no-repeat;
  width: 135px;
  height: 40px;
  background-size: 135px 40px;
  color: #FFF;
  font-weight: bold;
  opacity: 0.8;
}

#android {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -1px;
  background: url('/images/google.png') no-repeat;
  background-size: 135px 40px;
  width: 135px;
  height: 40px;
  color: #FFF;
  font-weight: bold;
  opacity: 0.8;
}

#home-phone {
  height: 599px;
  width: 490px;
  margin-top: 60px;
  margin-right: -10px;
  background: url('/images/phone-home.png');
  background-size: 490px 782px;
  display: inline-block;
  float: right;
}

.overlay {
  position: absolute;
  top: 655px;
  height: 80px;
  width: 100%;
  background: #2346b1;
  opacity: 0.75;
  margin: 0;
  padding: 0;
  left: 0;
  border: none;
}

.overlay p {
  color: #FFF;
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  font-size: 16px;
  vertical-align: middle;
}

.overlay .column {
  width: 480px;
}

/** ABOUT **/

#about-block {
  height: 634px;
}

.about.right {
  margin-right: 48px;
  margin-top: 100px;
}

.about.right a {
  text-decoration: none;
  color: #FFFFFF;
}

.about.right a:hover {
  text-decoration: underline;
}

#about-phone {
  background-image: url(/images/phone-about.png);
  height: 559px;
  margin-left: 48px;
}

/** INSIGHTS **/

#insight-block {
  height: 640px;
}

.insight.left {
  margin-left: 48px;
  margin-top: 200px
}

#insight-phone {
  background-image: url(/images/phone-insight.png);
  height: 565px;
  margin-right: 48px
}

/** MISSION **/

#mission-block {
  height: 640px;
}

.mission.right {
  margin-right: 48px;
  margin-top: 200px;
}

#mission-phone {
  background-image: url(/images/phone-mission.png);
  height: 565px;
  margin-left: 48px;
}

/** LEGAL **/

.legal {
  margin: 0;
  padding: 1px;
  margin: 0 auto;
  font-size: .6em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #e4e5ea;
}

.legal-span {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 24px;
  padding-top: 12px;
  border-top: 1px solid #D4DAEA;
}

.contact-button {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  background-repeat: none;
}

#twitter, #instagram, #facebook {
  background-size: 32px 32px;
}

#twitter {
  background-image: url('/images/twitter.png');
}

#facebook {
  background-image: url('/images/facebook.png');
}

#instagram {
  background-image: url('/images/instagram.png');
}

.social {
  margin-top: 80px; 
  display: block;
  width: 100%;
  text-align: center;
}

#follow-prizm {
  color: #8698C5;
  font-size: 1.2em;
  margin: 0 auto 20px auto;
  display: block;
  width: 160px;
  height: 2em;
  border-bottom: 1px solid #8698C5;
}

.mixpanelbadge {
  display: block;
  margin: 36px auto;
}

/** TERMS **/

li#org-first{
}

/** LUMINARY **/

#luminary-quote {
  text-align: center;
  height: 505px;
}

#quote {
  width: 850px;
  margin: 0px auto;
}

#quote-avatar {
  background-image: url('/images/quote-avatar.png');
  background-size: 90px 118px;
  background-position: -9px -5px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 128px;
  float: left;
  clear: right;
}

.quote-main {
  font-size: 1.9em;
  letter-spacing: 5px;
  margin-top: 158px;
  float: right;
  clear: right;
}

.quote-credit {
  margin-top: -24px;
  font-size: 1.2em;
  letter-spacing: 2px;
  float: right;
}

#luminary-block1 {
  height: 610px;
}

#luminary-block2 {
  height: 510px;
}

#luminary-block3 {
  height: 645px;
}

#lum-section-1 {
  margin-top: 190px;
}

#lum-section-2 {
  margin-top: 120px;
}

#lum-section-3 {
  margin-top: 120px;
}

#luminary-phone1 {
  margin-top: 150px;
  background: url('/images/luminary-phone1.png') no-repeat;
  height: 460px;
  width: 400px;
  background-size: 400px 740px;
}

#luminary-phone2 {
  background: url('/images/luminary-phone2.png') no-repeat;
  height: 560px;
  width: 400px;
  background-size: 400px 740px;
}

#luminary-phone3 {
  background: url('/images/luminary-phone3.png') no-repeat;
  height: 570px;
  width: 400px;
  background-size: 400px 740px;
}

/** PARTNER **/

#partner-header {
  text-align: center;
}

#header-title {
  font-weight: normal;
  font-size: 38px;
  padding-top: 120px;
  margin: 0px auto;
  width: 800px;
}

#partner-header .tagline {
  margin-top: 0px;
  margin-bottom: 0px;
}

#find-out-more {
  display: table;
  margin: 0px auto;
  margin-top: 48px;
  margin-bottom: 100px;
  width: 160px;
  cursor: pointer;
}

#find-out-more p {
  display: block
}

#partner-block-1 {
  height: 640px;
}

#partner-block-2 {
  min-height: 645px;
}

#partner-block-3 {
  min-height: 640px;
}

#partner-block-4 {
  min-height: 645px;
}

#partner-block-5 {
  height: 120px;
}

#partner-section-1 {
  margin-top: 125px;
}

#partner-section-2 {
  margin-top: 90px;
  width: 630px;
}

#partner-section-3 {
  margin-top: 125px
}


#partner-section-4 {
  margin-top: 125px
}

#partner-phone-1 {
  background: url('/images/partner-phone1.png') no-repeat;
  height: 565px;
  width: 400px;
  background-size: 400px 697px;
}

#partner-phone-2 {
  background: url('/images/partner-phone2.png') no-repeat;
  height: 570px;
  width: 440px;
  background-size: 440px 700px;
}

#partner-phone-3 {
  background: url('/images/partner-phone3.png') no-repeat;
  height: 570px;
  width: 400px;
  background-size: 400px 737px;
}

#partner-phone-4 {
  background: url('/images/partner-phone4.png') no-repeat;
  height: 565px;
  width: 400px;
  background-size: 400px 697px;
}

ul.text-box.column {
  padding-left: 20px;
  width: 540px;
}
