html {
  font-size: 18px;
}

/** GLOBAL STYLE MODIFIERS **/
body {
  font-weight: 100;
  height: 100%;
  font-size: 100%;
  box-sizing: border-box;
}

.about.right a.underline {
  text-decoration: underline;
}

.videooverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 9999;
  text-align: center;
}

#ytVideo {
  width: 100%;
  height: 100%;
  margin-top: -15.17em;
  z-index: 1;
}

html {
  height: 100%;
  font-size: 16px;
}

h1,h2,h3,h4,h5 {
  font-weight: normal;
}

strong {
  font-weight: normal;
}

p {
  font-weight: 300;
}

.full-width {
  width: 100%;
  clear: both;
}

.snap {
  height: 100%;
}

.wrap {
  margin: 0 auto;
  width: 1200px;
  clear: both;
}

.minor-wrap {
  margin: 0 auto;
  width: 1200px;
  clear: both;
}

.topnav-offset {
  margin-top: 75px;
}

.wrap-profile {
  margin: 0 auto;
  width: 1200px;
  clear: both;
}

.column {
  width: 100%;
  display: inline-block;
  margin-top: 15px;
  font-size: 1.2em;
}

.blue-background {
  background-color: #314991;
  color: #FFF;
}

.bottom-bar-wrap {
  min-height: 600px;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #314991;
}

.blue-barback {
  min-height: 800px;
  height: 100%;
  background-color: #314991;
}

#partner-header.hero {
  background-image: url('/images/hero@2x.jpg');
  background-size: 1536px 781px;
  height: 781px;
  background-position: center;

}

.gray-barback {
  min-height: 800px;
  height: 100%;
  background-color: #e4e5ea;
}

.blue-barback .wrap {
  height: 600px;
  background-color: #e4e5ea;
  overflow: hidden;
}

.gray-barback .wrap {
  height: 600px;
  background-color: #314991;
  overflow: hidden;
}

.gray-background {
  background-color: #e4e5ea;
}


.white-background {
  background-color: #EEF0F4;
}

.phone {
  height: 700px;
  width: 350px;
  background-size: 350px 700px;
}

.right {
  float: right;
}

.left {
  float: left
}

.hidden {
  display: none;
}

.anchor {
  background: url('/images/placeholder.png') no-repeat;
  position: relative;
  top: -75px;
}

.tagline {
  margin: 1.3em auto 0 auto;
  font-size: 1.25em;
  width: 16.4em;
  clear: both;
  font-weight: 300;
}

#header-title.main-blurb {
  font-size: 3.25em;
  line-height: 0.888em;
  color: #ffffff;
  width: 8.957em;
  text-align: left;
  font-family: proxima_nova_ltlight, 'Helvetica', sans-serif; 
  font-weight: 200;
  padding-top: 3.829em;
}

#partner-header .description {
  font-size: 1.444em;
  font-weight: 200;
  color: #ffffff;
  width: 20.5em;
  line-height: 1.1em;
  margin: 1.2em auto 0 auto;
}

.section.left {
  margin-left: 48px;
  width: 46.67%;
}

.section.right {
  margin-right: 48px;
  width: 46.67%;
}

/** STANDARD ELEMENTS **/

body {
  font-family: proxima_nova_ltlight, 'Helvetica', sans-serif; 
  font-size: 100%;
  color: #2443A1;
  margin: 0;
  padding: 0;
  border: none;
  font-weight: 300;
  background-color: #e4e5ea;
}

a {
  text-decoration: none;
  color: #2443A1;
}

.selected {
}

/** NAVIGATION BAR **/

#logo {
  cursor: pointer;
  height: 47px;
  width: 139px;
  margin-top: 14px;
}

#alt-logo {
  cursor: pointer;
  height: 75px;
  width: 176px;
  background: url('/images/logo.png') no-repeat;
  background-size: 176px 72px;
  background-position: left bottom; 
}

#navbar {
  position: fixed;
  top: 0px;
  background-color: #ffffff;
  z-index: 1000;
  border-bottom: 1px #d4daea solid;
}

.nav-top {
    height: 75px;
    width: 1200px;
    background-color: #ffffff;
}

.nav-top h1 {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
  font-size: 2em;
  float: left;
  clear: left;
}

.menu {
  height: 75px;
  float: right;
  clear: right;
  vertical-align: middle;
}

#menu-button {
  display: none;
}

.menu-button {
  display: inline-block;
  height: 25px;
  margin-left: 35px;
  line-height: 75px;
  vertical-align: middle;
}

.menu-button a {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
}

.menu-button a:hover {
  text-decoration: underline;
 } 

.menu-button a.sign-up-button {
  display: inline-block;
  width: 120px;
  text-transform: uppercase;
  font-size: 14px;
  height: initial;
  padding: 11px 0 10px 0;
  background-color: #628ad0;
  text-align: center;
  line-height: initial;

  border-radius: 18.5px;
  color: #ffffff;
}

.menu-button a.sign-up-button:hover {
  text-decoration: none;
 } 

/** SIDE NAVIGATION **/

.dotNav {
  position: fixed;
  margin-top: 225px;
  z-index: 5;
  padding: 7px;
  margin-left: 1146px;
}

.dotNav ul {
  list-style: none;
  width: 0px;
  margin: 0px auto;
}
.dotNav li {
  position: relative;
  background: none repeat scroll 0 0 #314991;
  border:1px solid #aaaaaa;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  height: 12px;
  margin: 10px 10px 0px 0px;
  width: 12px;
  vertical-align:bottom;
}

.dotNav.blue-nav li {
  background-color: #e4e5ea;
}


.dotNav li.active {
  background-color: #e4e5ea;
  background-image: -moz-linear-gradient(center top , #FFFFFF, #EEEEEE);
  background-repeat: repeat-x;
}

.dotNav.blue-nav li.active {
  background-color: #314991;
}

.dotNav li:hover {
  background: none repeat scroll 0 0 #EEEEEE;
}

.dotNav.blue-nav li:hover {
  background-color: #314991;
}

.dotNav a {
  outline: 0;
  vertical-align:top;
  margin: 0px 0px 0px 25px;
  position: relative;
  top:-5px;
}

/** HOME **/

.home {
  height: 584px;
  float: left;
  width: 46.67%;
}

.home > h2 {
  font-weight: 300;
  font-size: 2.04em;
  margin-top: 100px;
}

p.sign-up-desc {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 22px;
  width: 340px;
}

#sign-up {
  top: 50px;
  display: inline-block;
  margin-top: 30px;
  font-size: 17px;
  font-weight: normal;
  letter-spacing: -1px;
  background: url('/images/app_store.png') no-repeat;
  width: 135px;
  height: 40px;
  background-size: 135px 40px;
  color: #FFF;
  font-weight: bold;
  opacity: 0.8;
}

#android {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  font-size: 17px;
  font-weight: bold;
  letter-spacing: -1px;
  background: url('/images/google.png') no-repeat;
  background-size: 135px 40px;
  width: 135px;
  height: 40px;
  color: #FFF;
  font-weight: bold;
  opacity: 0.8;
}

#home-phone {
  height: 599px;
  width: 490px;
  margin-top: 60px;
  margin-right: -10px;
  background: url('/images/phone-home.png');
  background-size: 490px 782px;
  display: inline-block;
  float: right;
}

.overlay {
  position: absolute;
  top: 655px;
  height: 80px;
  width: 100%;
  background: #2346b1;
  opacity: 0.75;
  margin: 0;
  padding: 0;
  left: 0;
  border: none;
}

.overlay p {
  color: #FFF;
  width: 1200px;
  height: 80px;
  margin: 0 auto;
  font-size: 16px;
  vertical-align: middle;
}

.overlay .column {
  width: 480px;
}

/** ABOUT **/

#about-block {
  height: 634px;
}

.about.right {
  margin-right: 48px;
  margin-top: 100px;
  width: 46.67%;
}

.about.right a {
  text-decoration: none;
  color: #FFFFFF;
}

.about.right a:hover {
  text-decoration: underline;
}

#about-phone {
  background-image: url(/images/phone-about.png);
  height: 559px;
  margin-left: 48px;
}

/** INSIGHTS **/

#insight-block {
  height: 640px;
}

.insight.left {
  margin-left: 48px;
  margin-top: 200px;
  width: 46.67%;
}

#insight-phone {
  background-image: url(/images/phone-insight.png);
  height: 565px;
  margin-right: 48px
}

/** MISSION **/

#mission-block {
  height: 640px;
}

.mission.right {
  margin-right: 48px;
  margin-top: 200px;
  width: 46.67%;
}

#mission-phone {
  background-image: url(/images/phone-mission.png);
  height: 565px;
  margin-left: 48px;
}

/** LEGAL **/

.legal {
  margin: 0;
  padding: 1px;
  margin: 0 auto;
  font-size: .6em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: #e4e5ea;
}

.legal-span {
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 24px;
  padding-top: 12px;
  border-top: 1px solid #D4DAEA;
}

.contact-button {
  width: 32px;
  height: 32px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  background-repeat: none;
}

#twitter, #instagram, #facebook {
  background-size: 32px 32px;
}

#twitter {
  background-image: url('/images/twitter.png');
}

#facebook {
  background-image: url('/images/facebook.png');
}

#instagram {
  background-image: url('/images/instagram.png');
}

.social {
  margin-top: 80px; 
  display: block;
  width: 100%;
  text-align: center;
}

#follow-prizm {
  color: #8698C5;
  font-size: 1.2em;
  margin: 0 auto 20px auto;
  display: block;
  width: 160px;
  height: 2em;
  border-bottom: 1px solid #8698C5;
}

.mixpanelbadge {
  display: block;
  margin: 36px auto;
}

/** TERMS **/

li#org-first{
}

/** LUMINARY **/

#luminary-quote {
  text-align: center;
  height: 505px;
}

#quote {
  width: 850px;
  margin: 0px auto;
}

#quote-avatar {
  background-image: url('/images/quote-avatar.png');
  background-size: 90px 118px;
  background-position: -9px -5px;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 128px;
  float: left;
  clear: right;
}

.quote-main {
  font-size: 1.9em;
  letter-spacing: 5px;
  margin-top: 158px;
  float: right;
  clear: right;
}

.quote-credit {
  margin-top: -24px;
  font-size: 1.2em;
  letter-spacing: 2px;
  float: right;
}

#luminary-block1 {
  height: 610px;
}

#luminary-block2 {
  height: 510px;
}

#luminary-block3 {
  height: 645px;
}

#lum-section-1 {
  margin-top: 190px;
}

#lum-section-2 {
  margin-top: 120px;
}

#lum-section-3 {
  margin-top: 120px;
}

#luminary-phone1 {
  margin-top: 150px;
  background: url('/images/luminary-phone1.png') no-repeat;
  height: 460px;
  width: 400px;
  background-size: 400px 740px;
}

#luminary-phone2 {
  background: url('/images/luminary-phone2.png') no-repeat;
  height: 560px;
  width: 400px;
  background-size: 400px 740px;
}

#luminary-phone3 {
  background: url('/images/luminary-phone3.png') no-repeat;
  height: 570px;
  width: 400px;
  background-size: 400px 740px;
}

/** PARTNER **/

#partner-header {
  text-align: center;
  height: 100%;
}

#partner-header .blurb {
  width: 39.8125em;
  height: 13.125em;
  border-top: 1px solid #bdc3d6;
  border-bottom: 1px solid #bdc3d6;
  padding-top: 1.625em;
  padding-bottom: 1.625em;
  margin: 1.2em auto 0 auto;
}

#partner-header .video-blurb {
  width: 39.75em;
  height: 21.375em;
  box-shadow: 0 0.625em 3.125em rgba(0, 0, 0, 0.4);
  background-image: url('/images/video-back.png');
  background-size: 39.75em 21.375em;
  background-repeat: no-repeat;
  margin-left:  auto;
  margin-right: auto;
  margin-top: -18em;
  z-index: 200;
  position: relative;
  cursor: pointer;

}

#main-screen button.watch {
  -webkit-appearance: none;
  font-size: 1.125em;
  text-align: left;
  position: relative;
  border: none;
  height: 83px;
  color: white;
  background-color: transparent;
  padding: 0 0px 0 103px;
  line-height: 0px;
  background-image: url('/images/play-button@2x.png');
  background-repeat: no-repeat;
  background-size: 101px 103px;
  background-position: left top;
  font-weight: 400;
  margin-top: 2.716em;
}

#partner-header .minor-wrap {
  width: 29.6111em;
  margin: 0 auto;
  text-align: left;
}

.video-blurb iframe.yt {
  height: 100%;
  width: 100%;
  font-size: 0.875em;
  margin-top: -17.4285em;
  display: none;
}

#partner-header.blue-barback {
  overflow: visible;
}

#header-title {
  font-weight: normal;
  font-size: 2.125em;
  margin: 0px auto;
  width: 17em;
  font-weight: 400;
}

#find-out-more {
  display: table;
  margin: 0px auto;
  margin-top: 48px;
  margin-bottom: 100px;
  width: 160px;
  cursor: pointer;
}

#find-out-more p {
  display: block
}

#partner-block-1, #partner-block-2, #partner-block-3, #partner-block-4 {
}


#partner-block-5 {
  height: 120px;
}

#partner-section-1 {
  margin-top: 125px;
}

.partner-block h2 {
  font-weight: 600;
}


.partner-block h3 {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1em;
  margin: 1em 0;
}

#partner-section-1 p {
  font-size: 1em;
  width: 28.277em;
  margin-top: 0;
}

#partner-section-2 {
  margin-top: 90px;
  width: 42.5%;
}

#partner-section-3 {
  margin-top: 125px
}


#partner-section-4 {
  margin-top: 125px
}

#partner-phone-1 {
  background: url('/images/partner-phone1.png') no-repeat;
  height: 565px;
  width: 400px;
  background-size: 400px 697px;
}

#partner-phone-2 {
  background: url('/images/partner-phone2.png') no-repeat;
  height: 570px;
  width: 440px;
  background-size: 440px 700px;
}

#partner-phone-3 {
  background: url('/images/partner-phone3.png') no-repeat;
  height: 570px;
  width: 400px;
  background-size: 400px 737px;
}

#partner-phone-4 {
  background: url('/images/partner-phone4.png') no-repeat;
  height: 565px;
  width: 400px;
  background-size: 400px 697px;
}

ul.text-box.column {
  padding-left: 20px;
}

#new-main #main-screen {
  width: 100%;
  height: 43.38em;

}

#overlay-image {
  background-image: url('/images/hero@2x.jpg');
  background-position: center ;
  background-size: 100% auto ;
  height: 43.38em;
  width: 100%;
  background-color: rgba(49.73,145,.3);
  background-blend-mode: color;

  position: absolute;
}

#underlay-color {
  width: 100%;
  height: 43.38em;
  position: absolute;
  background-color: rgba(49,73,145,.6);
  background-blend-mode: darken;
}

#overlay-color {
  width: 100%;
  height: 43.38em;
  background-color: rgba(49, 73, 145, .6);
  position: absolute;
  background-blend-mode: color;
}


#main-screen {
  height: 43.38em;
}

#main-screen .wrap {
  width: 29.61em;
}

#main-screen .header-title {
  display: block;
  font-size: 3.25em;
  width: 10.07em;
  height: 2.22em;
  color: white;
  position: relative;
  line-height: 0.8889;
  font-weight: 200;
  padding-top: 3.2478em;
}

#main-screen .header-blurb {
  display: block;
  font-size: 1.444em;
  width: 20.5em;
  height: 3.5769em;
  color: white;
  position: relative;
  line-height: 1.1em;
  font-weight: 200; 
}

#main-about {
  box-sizing: border-box;
    }

#main-about .wrap {
  background-image: url('/images/explore-phone.png');
  background-position: -2em 4.375em;
  background-repeat: no-repeat;
  height: 27.375em;
}

#main-about #about-phone-1 {
  display: block;
  font-size: 1em;
  background-size: 230px auto;
  width: 230px;
  margin-top: 4.375em;
  margin-bottom: 0;
  height: 20.4444em;
  padding: 0;
  position: relative;
}

#new-home .section {
  width: 19.5em;
  margin: 0;
}

#new-home .section.right {
}

#new-home .section.left {
}


#new-home .section h2 {
  font-size: 1.333em;
  font-weight: 500;
  line-height: 0.9166em;
  margin-top: 3.875em;
}

#new-home .section h3 {
  font-size: 1.125em;
  font-weight: 500;
  margin: 1.3888em 0 0 0;
}

#new-home .section .text-box {
  font-size: 0.875em;
  margin-bottom: 0;
  font-weight: 200;
}

#new-home #product {
  position: relative;
  height: 31.625em;

}

#new-home #product .wrap {
  background-image: url('/images/product-phone.png');
  background-position:  right 4.375em;
  background-repeat: no-repeat;
  height: 31.625em;
}

#new-home #connect {
  position: relative;
  height: 20.5625em;
  padding: 0;
  margin: 0;
  }

#new-home #connect .wrap {
  height: 100%;
  background-image: url('/images/connect-phone.png');
  background-position: -2em center;
  background-repeat: no-repeat;

}

#new-home #connect .section h3 {
  margin-top: 3.2727em;
}

#new-home #engage {
  position: relative;
  height: 20.5625em;
}

#new-home #engage .wrap {
  height: 100%;
  background-image: url('/images/engage-phone.png');
  background-position: right center;
  background-repeat: no-repeat;
}

#new-home .wrap {
  width: 47.1875em;
}

#new-home .nav-top.wrap {
  width: 1200px;
}

#new-home #engage .section h3, #new-home #engage .section .text-box {
  width: 23.25em;
}

#new-home #engage .section h3 {
  margin-top: 5.75em;
}

#new-home #engage .section {
  padding-top: 0em;
}

#new-home #measure {
  position: relative;
  height: 20.5625em; 
}

#new-home #measure .wrap {
  height: 100%;
  background-image: url('/images/measure-phone.png');
  background-repeat: no-repeat;
  background-position: -2em center;
}

#new-home #measure .section h3, #new-home #measure .section .text-box {
  width: 24.125em;
}

#new-home #measure .section h3 {
  margin-top: 5.5625em;
}

#manage {
  height: 36.625em;
  position-relative;
  background-image: url('/images/laptop-copy-1@2x.png');
  background-size: 42.0625em 29.1875em;
  background-position: right 7.4375em;
  background-repeat: no-repeat;
}

#new-home #manage .section h3, #new-home #manage .section .text-box {
  width: 19.625;
}

#new-home #manage .section h3 {
  margin-top: 14.0625em;
}

.truewhite-background {
  background-color: #ffffff;
}

#bridge {
  height: 36.625em;
  position: relative;
  background-image: url('/images/group@2x.png');
  background-size: 42.0625em 29.1875em;
  background-position: left 7.4375em;
  background-repeat: no-repeat;
}

#new-home #bridge .section h3, #new-home #bridge .section .text-box {
  width: 19.625;
}

#new-home #bridge .section h3 {
  margin-top: 14.0625em;
}

#whyprizm {
  height: 40em;
  position: relative;
 }

#whyprizm .wrap {
  height: 100%;
  background-image: url('/images/whyprizm-phone.png');
  background-position: right center;
  background-repeat: no-repeat;

}

#new-home #whyprizm .section h3, #new-home #whyprizm .section .text-box {
  width: 25.9375em;
}

#new-home #whyprizm .section h2 {
  margin-top: 5.9583em;
}

#pricing {
  text-align: center;
  padding-top: 4.4375em;
  color: #4a5568;
}

#pricing h2 {
  text-decoration: underline;
  text-decoration-color: #d0d2d7;
  text-decoration-skip: ink;
}

#plans {
  display: block;
  width: 100%;
  height: 20.5625em;
  padding-left: 2.5em;
  padding-right: 2.5em;
  color: #4a5568;
  margin-top: 4.75em;
}

#pricing .wrap {
  width: 1200px;
}

#plans span {
  display: inline-block;
  position: relative;
  float: left;
  width: 16.5625em;
  height:  23.5625em;
  background-color: #ffffff;
  text-align: center;
  padding-top: 3em;
  margin-left: 1.25em;
  border: 1px solid #d7d9df inside;
  border-radius: 4px;
}

#plans span:first-child {
  margin-left: 0;
}

#plans .plan {
  font-size: 0.875em;
  line-height: 1.571428em;
  vertical-align: top;
  border-bottom: 1px solid #314991;
  font-weight: 600;
  width: auto;
  display: inline;
}

#plans p.price {
  font-size: 1em;
  font-weight: 600;
  margin-top: 2.5em;
}

#plans p.price-type, #plans p.users {
  font-size: 0.875em;
  line-height: 1.57142em;
  margin-bottom:  0;
  margin-top: 0;
}

#plans ul.features {
  list-style: none; 
  margin: 0;
  padding: 0;
  position: absolute;
  top: 14.0625em;
  width: 16.5625em;
}

#plans ul.features li {
  margin: 0;
  padding: 0;
}

#plans button {
  -webkit-appearance: none;
  border: none;
  position: absolute;
  font-size: 1em;
  display: block;
  bottom: 2.9375em;
  margin-left: 4.5em;
  margin-right: 4.5em;
  color: white;
  background-color: #628ad0;
  height: 2.3125em;
  width: 7.5em;
  font-family: proxima_nova_ltlight, 'Helvetica', sans-serif; 
  border-radius: 1.15625em;
}

p.disclaimer {
  clear: both;
  padding-top: 4em;
  font-size: 0.875em;
  color: #4a5568;
}
