.survey-header {
  line-height: 1.67em;
  background-image: url('/images/icons/survey_main_icon.png');
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-size: 1.5em;
  padding-left: 2.17em;
  width: 95.7%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 0;
}

form.survey {
  width: 95.7%;
  margin: 0 auto 12.5em auto;
  background-color: #fefefe;
  padding-bottom: 69px;
}

form.survey h3 {
  width: 100%;
  height: 42px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); 
  font-size: 24px;
  font-weight: 700;
  line-height: 52px;
  color: #545358;
  vertical-align: baseline;
  text-align: center;
}

form.survey h3 span.lighter {
  color: #bbc3cc;
}

form.survey h4 {
  width: 42%;
  margin: 40px auto 49px auto;
  color: #545358;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}

form.survey .survey-progress {
  margin: 0 auto;
  min-width: 33px;
  text-align: center;
}

form.survey .survey-progress .circle {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  color: #fefefe;
  font-size: 19px;
  font-weight: 700;
  line-height: 33px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}


.divider {
  width: 8.3%;
  height: 8px;
  display: inline-block;
}

.circle.empty, .divider.empty {
  background-color: #bbc3cc;
}

.circle.full, .divider.full {
  background-color: #34c256;
}


p.question {
  color: #545358;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  width: 50.4%;
  background-color: #f4f5f7;
  border: 1px solid #d8d8d8;
  padding: 31px;
  margin: 48px auto 0 auto;
}

.scale {
  min-width: 46%;
  max-width: 60%;
  margin: 0 auto;
}

.scale .legend {
  width: 100%;
  margin: 48px auto 36px auto; 
  color: #545358;
  font-size: 18px;
  font-weight: 700;
}

.scale .legend .lower-threshold {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.scale .legend .upper-threshold {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.scale .control {
  width: 100%;
  text-align: center;
}

span.choice {
  display: inline-block;
  width: 54px;
  text-align: center;
  min-width: 0;
  max-width: initial;

}

span.choice label {
  color: #545358;
  font-size: 19px;
  font-weight: 700;
}

input.scale {
  -webkit-appearance: none;
  border-radius: 0;
  width: 54px;
  height: 52px;
  border: 1px solid #d8d8d8;
  outline: none;
  display: block;
  margin: 0;
  min-width: 0;
  max-width: initial;

 }

input.scale:focus {
  outline: none;
}

input.scale:checked {
  background-color: #12b950;
  border: 1px solid #d8d8d8;
  outline: none;
}

ul.multiple {
  list-style: none;
  width: 50.4%;
  margin: 50px auto 0 auto;
  padding: 0;
  clear: right;
}

ul.multiple li {
  color: #545358;
  font-size: 18px;
  font-weight: 700;
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
  display: block;
  width: 100%;
}

ul.multiple li label {
  float: left;
  clear: right;
}

input.multiple {
  width: 20px;
  height: 20px;
  background-color: #fefefe;
  border: 1px solid #a9aaae;
  -webkit-appearance: none;
  border-radius: 50%;
  outline: none;
  display: inline-block;
  margin: 3px 21px 0 0;
  float: left;
  clear: left;
}

input.multiple:checked {
  background-color: #334b8f;
  border: none;
  outline: none;
}

input.multiple:focus {
  outline: none;
}


.buttons {
  width: 100%;
  text-align: center;
  margin-top: 65px;
}

button {
  -webkit-appearance: none;
  outline: none;
  background-color: #334b8f;
  color: #fefefe;
  border: none;
  color: #fefefe;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 36px 14px 38px;
  text-align: center;
}

ul#surveyAdmin {
  list-style: none;
  width: 95.7%;
  margin: 1em auto 40px auto;
  border: 1px solid #c5c8cc;
  padding: 0;
  background-color: #fefefe;
}

ul#surveyAdmin li {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  height: 3.75em;
}

ul#surveyAdmin li.control-board {
  height: 3.75em;
  line-height: 4em;
  vertical-align: middle;
  box-shadow: 0 0.063em 0.063em rgba(0, 0, 0, 0.2);
  z-index: 10;
  background-color: #fefefe;
  padding-left: 1.5625em;
  padding-right: 1.5625em;
}

ul#surveyAdmin li.control-board h3 {
  vertical-align: baseline;
  display: inline-block;
  width: 33.3333%;
  font-size: 1.125em;
}

ul#surveyAdmin li.control-board h3.active {
}

ul#surveyAdmin li.control-board h3:nth-child(2){
  text-align: center;
}

ul#surveyAdmin li.control-board h3 span {
  text-align: left;
  cursor: pointer;
}


ul#surveyAdmin li.control-board h3 span.active {

  color: #336c9f;
} 



ul#surveyAdmin li.control-board h3:nth-child(3) {
  text-align: right;
}



h3 span {
  background-repeat: no-repeat;
  background-size: 0.94444em;
  background-position: left 0.3em;
  color: #545358;
  padding-left: 1.34375em;
  vertical-align: middle;
  line-height: 1.5em;
  display: inline-block;
}

h3 .dashboard {
  background-image: url('/images/icons/dashboard.png');
}

h3 .dashboard.active {
  background-image: url('/images/icons/dashboard_active.png');  
}

h3 .results {
  background-image: url('/images/icons/results.png');
}

h3 .results.active {
  background-image: url('/images/icons/results_active.png');
}

h3 .summary {
  background-image: url('/images/icons/summary.png');
}

h3 .summary.active {
  background-image: url('/images/icons/summary_active.png');
}

ul#surveyAdmin li.head {
  box-shadow: 0 0.031em 0 rgba(0, 0, 0, 0.2);
  color: #545358;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul#surveyAdmin li.body {
  height: 600px;
  overflow: scroll;
  margin: 0;
  padding: 0;
}

ul#surveyAdmin li.body li {
  margin: 0;
  padding: 0;
  border: none;
}

ul#surveyAdmin .col {
  font-size: 0.938em; 
  height: 4em;
  line-height: 3.3em;
  vertical-align: middle;
  float: left;
  padding: 0 0 0 1.66667em;
  color: #545358;
  margin: 0;
}

ul#surveyAdmin .col:not(:last-child) {
  border-right: 1px solid #cbcbcb;
}

ul#surveyAdmin li.body li:first-child .col {
  padding-top: 2em;
  height: 6em;
}

ul#surveyAdmin .col:first-child {
  width: 28.2%;
}

ul#surveyAdmin .col:nth-child(2) {
  width: 24.8%;
}

ul#surveyAdmin .col:nth-child(3) {
  width: 14.5%;
}

ul#surveyAdmin .col:nth-child(4) {
  width: 32.5%;
}

ul#surveyAdmin li.head .col {
  font-size: 1.125em;
  font-weight: 400;
  padding-left: 1.36111em;
  vertical-align: middle;
}

.sortable {
  cursor: pointer;
}

ul#surveyAdmin li.head .col.sortable:after {
  content: '';
  font-size: 1em;
  width: 0.438em;
  height: 0.25em;
  background-size: 0.438em 0.25em;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('/images/icons/tooltip.png');
  position: absolute;
  margin-top: 1.575em;
  margin-left: 0.6562em;
}

ul#surveyAdmin ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul#surveyAdmin button {
  -webkit-appearance: none;
  border: none;
  font-size: 1.06667em;
  padding: 0;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  margin-top: 1em;
}

ul#surveyAdmin button:not(:first-child) {
  margin-left: 2.9375em;
}

ul#surveyAdmin button.summary {
  width: 0.906em;
  height: 1em;
  background-image: url('/images/icons/survey_summary.png');
}

ul#surveyAdmin button.summary:hover {
  background-image: url('/images/icons/survey_summary_hover.png');
}

ul#surveyAdmin button.graph {
  width: 1em;
  height: 0.875em;
  background-image: url('/images/icons/survey_graph.png');
}

ul#surveyAdmin button.graph:hover {
  background-image: url('/images/icons/survey_graph_hover.png');
}

ul#surveyAdmin button.resend {
  width: 1.125em;
  height: 0.78125em;
  background-image: url('/images/icons/survey_resend.png');
}

ul#surveyAdmin button.resend:hover {
  background-image: url('/images/icons/survey_resend_hover.png');
}

ul#surveyAdmin button.edit {
  margin-top: 0.3958em;
  width: 2.20833em;
  height: 2.20833em;
  background-image: url('/images/icons/survey_edit.png');
  background-size: 1em;
  background-position: center;
}

ul#surveyAdmin button.edit:hover {
  background-image: url('/images/icons/survey_edit_hover.png');
}

ul#surveyAdmin button.edit.active {
  background-image: url('/images/icons/survey_edit_hover.png');
  border: 1px solid #c5c8cc;
  border-radius: 3px;
  box-shadow: 0 0.094em 0.156em rgba(0, 0, 0, 0.06);
}

.action-menu {
  visibility: hidden;
  position: absolute;
  font-size: 0.8em;
  padding: 0.625em;
  margin: 0;
  background-color: #fefefe;
  border: 1px solid #c5c8cc;
  border-radius: 2px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.06);
  line-height: 1.2em;
  margin-left: 20em;
  z-index: 9999;
}

.col.sortable .action-menu {
  margin-left: 5.593em;
  font-size: 16px;
}

.action-menu:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 8px 9px 0px;
  border-color: transparent #c5c8cc ;
  display: block;
  width: 0;
  z-index: 0;
  left: -8px;
  top: 12px;

}

.col.sortable .action-menu:before {
  border-width: 0px 9px 8px 9px;
  border-color: #c5c8cc transparent;

  left: 30px;
  top: -8px;
}

.col.sortable:nth-child(2) .action-menu:before {
  left: 22px;
}

.action-menu:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 8px 9px 0px;
  border-color: transparent #fefefe;
  display: block;
  width: 0;
  z-index: 0;
  left: -7px;
  top: 12px;
}

.col.sortable .action-menu:after {
  border-width: 0px 9px 8px 9px;
  left: 30px;
  top: -7px;
  border-color: #fefefe transparent;
}

.col.sortable:nth-child(2) .action-menu:after {
  left: 22px;
}

.action-menu .action-edit, .action-menu .action-delete, .action-menu .action-sort  {
  padding: 0 0 0 1.375em;
  line-height: 1.3em;
  vertical-align: middle;
  background-repeat: no-repeat;
  color: #9c9d9f;
  background-position: left ;
  height: 1.25em;
  cursor: pointer;
}

.action-menu .action-sort {
  margin: 1.2875em 1em 1.2875em 0;
}

.action-menu .action-edit:hover, .action-menu .action-delete:hover {
  color: #3e6a9e;
}

.action-menu .action-edit {
  margin: 0 0 1em 0;
  background-image: url('/images/icons/action_edit.png');
  background-size: 1.125em 1.25em;
}

.action-menu .action-sort:hover {
  color: #3e6a9e; 
}

.action-menu .action-delete {
  background-image: url('/images/icons/action_delete.png');
  background-size: 1.25em 1.25em;
}

.action-menu .action-edit:hover {
  background-image: url('/images/icons/action_edit_selected.png');
}

.action-menu .action-delete:hover {
  background-image: url('/images/icons/action_delete_selected.png');
}

ul#surveyAdmin button.edit.active + .action-menu, .col.sortable.active .action-menu {
  visibility: visible;
  z-index: 5000;
}

/** RESULTS PAGE **/

ul#surveyAdmin li.results, ul#surveyAdmin li.results li {
  height: auto;
}

ul#surveyAdmin li.total {
  font-size: 1.125em;
  height: 1.0333em;
  padding-left: 4.3333em;
  margin-top: 1.3em;
  color: #545358;
  font-weight: 600;
}

ul#surveyAdmin li.total span {
  display: inline-block;
  height: 1.1em;
  line-height: 1.1em;
  vertical-align: top;
  border-bottom: 1px solid #a8abb0;
}

ul#surveyAdmin li.results {
  margin: 0;
  width: 100%;
}

ul#surveyAdmin li.results .q-label {
  display: block;
  font-size: 1.125em;
  color: #545358;
  font-weight: 600;
}

ul#surveyAdmin li.results li.question {
  padding: 3.3125em 4.875em 3.3125em 4.875em;
  height: auto;
  border-bottom: 1px solid #cbcbcb;
}

ul#surveyAdmin li.results li.question:first-child {
  padding-top: 1.78125em;
}

ul#surveyAdmin li.results .survey-row:last-child {
  margin-top: 1em;
}

ul#surveyAdmin li.results .q-text {
  display: inline-block;
  font-size: 1em;
  color: #545358;
  font-weight: 400;
}

ul#surveyAdmin .q-csv {
  display: inline-block;
  font-size: 0.906em;
  width: 9.3819em;
  height: 2.483em;
  vertical-align: middle;
  text-align: left;
  padding-left: 2.333em;
  line-height: 2.6em;
  background-color: #3e6a9e;
  border: 0.031em solid #e2e4e8;
  border-radius: 1px;
  color: #fefefe;
  background-image: url('/images/icons/export_csv.png');
  background-repeat: no-repeat;
  background-position: 5.5px center;
  background-size: 14px 18px;
  margin-right: 4.862em;
  font-weight: 400;
  cursor: pointer;
}

ul#surveyAdmin li.results .chart {
  width: 18.656em;
  height: 13.906em;
  background-color: #f2f5fb;
  padding-left: 1.65625em;
  padding-top: 0.53125em;
}

ul#surveyAdmin li.results .chart.pie {
  background-color: #fefefe;
}

ul#surveyAdmin .chart-data {
  width: 21.063em;
  height: auto;
  background-color: #f2f5fb;
  color: #545358;
  margin: 0 0 0 auto;

}

ul#surveyAdmin .chart-body {
  padding-bottom: 1.96875em;
  padding-top: 1.96875em;
}

ul#surveyAdmin .chart-data .chart-row {
  width: 100%;
  padding: 0;
}

ul#surveyAdmin .chart-data .chart-header {
  width: 100%;
  height: 1.875em;
  background-color: #e4e5ea;
}

ul#surveyAdmin .chart-data span {
  display: inline-block;
  text-align: right;
}

ul#surveyAdmin .chart-data .desc {
  width: 53.7%;
  padding-right: 1em;
  font-size: 1em;
}

ul#surveyAdmin .chart-data .val {
  width: 8%;
  text-align: center;
  font-size: 0.75em;
}

ul#surveyAdmin .chart-data .num {
  width: 15%;
  text-align: center;
  font-size: 0.75em;
}

ul#surveyAdmin .chart-data .per {
  width: 18%;
  text-align: center;
  font-size: 0.75em;
}

.left-half {
  width: 50%;
  text-align: left;
  display: inline-block;
  height: auto;
  vertical-align: top;
}

.right-half {
  width: 50%;
  text-align: right;
  display: inline-block;
  height: auto;
  vertical-align: top;
}

.margin-left {
  width: 100%;
  text-align: left;
  height: auto;
}

/** SUMMARY PAGE **/

ul#surveyAdmin li.summary-chart {
  height: auto;
  padding-top: 0.96875em;
  padding-bottom: 3.5em;
}

#summaryChart {
  height: 248px;
  width: 896px;
  border: 1px solid #ddd;
  margin: 0 auto;
  display: block;
}

ul#surveyAdmin li.summary-responses {
  height: auto;
}

ul#surveyAdmin li.summary-responses h4 {
  font-size: 1.125em;
  height: 2em;
  line-height: 2em;
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  color: #545358;
  background-color: #f4f5f7;
  width: 100%;
}

ul#surveyAdmin li.summary-responses .tabs {
  font-size: 1.125em;
  height: 2.0869em;
  width: 100%;
  background-color: #fefefe;
  border-bottom: 1px solid #c6c8cc;
}

.tabs .tab-block {
  display: inline-block;
  height: 100%;
  width: 10.722em;
  text-align: center;
  color: #949292;
  line-height: 2.0869em;
  vertical-align: middle;
  cursor: pointer;
}

.tabs .tab-block.active {
  color: #334b8f;
}

.tabs .tab-block:first-child {
  border-right: 1px solid #c6c8cc;
}

ul#surveyAdmin ul.user-list li {
  padding-top: 1.4375em;
  font-size: 1em;
  height: 4.03em;
  color: #7e7e7f;
  border-bottom: 1px solid #c6c8cc;
}

ul#surveyAdmin ul.user-list li:first-child {
  padding-top: 0;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
  color: #545358;
}

ul.user-list li div {
  display: inline-block;
}

ul.user-list .name {
  width: 45%;
  padding-left: 1.53125em;
  vertical-align: top;
  cursor: pointer;
}

ul.user-list .name .profile-avatar {
  background-size: cover;
  background-repeat: no-repeat;
  height: 2.1875em;
  width: 2.1875em;
  border: 1px solid #e1e2f3;
  border-radius: 50%;
  margin-right: 0.65625em;
  vertical-align: top;
  margin-top: -0.375em;
}

ul.user-list .name .profile-name {
  vertical-align: top;
}

ul.user-list .date {
  width: 17%;
}

ul.user-list .time {
  width: 17%;
}

ul.user-list .duration {
  width: 16%;
}

ul.user-list .duration.center {
  width: 16%;
}


ul#nonresponders {
  display: none;
}

ul#surveyAdmin li.summary-tag {
  height: auto;
  font-size: 0.938em;
  text-align: right;
  color: #545358;
  margin-top: 1.6em;
  padding-right: 0.8em;
}

ul#surveyAdmin li .duration .resend {
  width: 1.125em;
  height: 0.781em;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/images/icons/email.png');
  text-align: center;
  cursor: pointer;
}

ul#surveyAdmin li .duration .resend:hover {
  background-image: url('/images/icons/email-hover.png');
}
