.survey-header {
  line-height: 1.67em;
  background-image: url('/images/icons/survey_main_icon.png');
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-size: 1.5em;
  padding-left: 2.17em;
  width: 95.7%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  padding-bottom: 0;
}

form.survey {
  width: 95.7%;
  margin: 0 auto 12.5em auto;
  background-color: #fefefe;
  padding-bottom: 69px;
}

form.survey h3 {
  width: 100%;
  height: 42px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); 
  font-size: 24px;
  font-weight: 700;
  line-height: 52px;
  color: #545358;
  vertical-align: baseline;
  text-align: center;
}

form.survey h3 span.lighter {
  color: #bbc3cc;
}

form.survey h4 {
  width: 42%;
  margin: 40px auto 49px auto;
  color: #545358;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}

form.survey .survey-progress {
  margin: 0 auto;
  min-width: 33px;
  text-align: center;
}

form.survey .survey-progress .circle {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  color: #fefefe;
  font-size: 19px;
  font-weight: 700;
  line-height: 33px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}


.divider {
  width: 8.3%;
  height: 8px;
  display: inline-block;
}

.circle.empty, .divider.empty {
  background-color: #bbc3cc;
}

.circle.full, .divider.full {
  background-color: #34c256;
}


p.question {
  color: #545358;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
  width: 50.4%;
  background-color: #f4f5f7;
  border: 1px solid #d8d8d8;
  padding: 31px;
  margin: 48px auto 0 auto;
}

.scale {
  min-width: 46%;
  max-width: 60%;
  margin: 0 auto;
}

.scale .legend {
  width: 100%;
  margin: 48px auto 36px auto; 
  color: #545358;
  font-size: 18px;
  font-weight: 700;
}

.scale .legend .lower-threshold {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.scale .legend .upper-threshold {
  display: inline-block;
  width: 50%;
  text-align: right;
}

.scale .control {
  width: 100%;
  text-align: center;
}

span.choice {
  display: inline-block;
  width: 54px;
  text-align: center;
  min-width: 0;
  max-width: initial;

}

span.choice label {
  color: #545358;
  font-size: 19px;
  font-weight: 700;
}

input.scale {
  -webkit-appearance: none;
  border-radius: 0;
  width: 54px;
  height: 52px;
  border: 1px solid #d8d8d8;
  outline: none;
  display: block;
  margin: 0;
  min-width: 0;
  max-width: initial;

 }

input.scale:focus {
  outline: none;
}

input.scale:checked {
  background-color: #12b950;
  border: 1px solid #d8d8d8;
  outline: none;
}

ul.multiple {
  list-style: none;
  width: 50.4%;
  margin: 50px auto 0 auto;
  padding: 0;
  clear: right;
}

ul.multiple li {
  color: #545358;
  font-size: 18px;
  font-weight: 700;
  height: 26px;
  line-height: 26px;
  vertical-align: middle;
  display: block;
  width: 100%;
}

ul.multiple li label {
  float: left;
  clear: right;
}

input.multiple {
  width: 20px;
  height: 20px;
  background-color: #fefefe;
  border: 1px solid #a9aaae;
  -webkit-appearance: none;
  border-radius: 50%;
  outline: none;
  display: inline-block;
  margin: 3px 21px 0 0;
  float: left;
  clear: left;
}

input.multiple:checked {
  background-color: #334b8f;
  border: none;
  outline: none;
}

input.multiple:focus {
  outline: none;
}


.buttons {
  width: 100%;
  text-align: center;
  margin-top: 65px;
}

button {
  -webkit-appearance: none;
  outline: none;
  background-color: #334b8f;
  color: #fefefe;
  border: none;
  color: #fefefe;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 36px 14px 38px;
  text-align: center;
}

ul#surveyAdmin {
  list-style: none;
  width: 95.7%;
  margin: 1em auto 40px auto;
  border: 1px solid #c5c8cc;
  padding: 0;
  background-color: #fefefe;
}

ul#surveyAdmin li {
  height: 3.75em;
  line-height: 3.75em;
  vertical-align: middle;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #c5c8cc;
  box-shadow: 0 0.063em 0.063em rgba(0, 0, 0, 0.2);
}

#surveyAdmin .title-label, #surveyAdmin .title, #surveyAdmin .date-label, #surveyAdmin .date {
  display: inline-block;
  height: 100%;
  line-height: 3.33em;
  vertical-align: middle;
  float: left;
}

#surveyAdmin .title-label, #surveyAdmin .date-label {
  color: #545358;
  font-size: 1.125em;
  font-weight: 600;
  margin-right: 0.83em;
  width: 12.93%;
}

#surveyAdmin .date-label {
  width: 11%;
}

#surveyAdmin .title, #surveyAdmin .date {
  color: #545358;
  font-weight: 400;
  font-size: 0.94em;
  width: 14.26%;
  height: 1.77em;
  line-height: 1.77em;
  text-align: center;
  vertical-align: middle;
  margin-top: 1.14em;
  border: 1px solid #e4e5ea;
}

#surveyAdmin .title {
  margin-right: 4.5%;
}

#surveyAdmin .date {
}
button.details {
  height: 100%;
  width: 6.25%;
  border: none;
  outline: none;
  background-image: url('/images/icons/button_details.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1.66em;
  background-color: inherit;
  display: inline-block;
  float: left;
}

button.resend {
  margin-left: 8%;
  width: 12.88%;
  height: 2.306em;
  margin-top: 1.07em;
  font-size: 0.84em;
  color: white;
  float: left;
  padding: 0;
  line-height: 2.306px;
  vertical-align: middle;
}

button.edit {
  float: right;
  clear: right;
  width: 1.66em;
  background: none;
  background-image: url('/images/icons/edit_button_sm.png');
  background-size: 1.66em;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  outline: none;
  height: 1.66em;
  margin-right: 0;
  margin-top: 0.9em;
}



