.modal-overlay(onclick='overlay.cancel(event)')
  .content(style='width: 411px')
    h2 Reset Password
    form#resetPassword
      label.block.fill-x(for='email') Email
      input#email.block.fill-x(type='text' name='email')
      label.block.fill-x(for='password') Password
      input#password.block.fill-x(type='password' name='password')
      label.block.fill-x(for='confirm') Confirm Password
      input#confirm.block.fill-x(type='password')
      .section.buttons
        button.cancel(type='button' onclick='overlay.cancel()') Cancel
        button.save(type='submit' disabled='disabled') Done
