.modal-overlay(onclick='overlay.cancel(event)')
  .content(style='width: 411px')
    .information
      p
        | This is the signup page for education, military, community 
        | organizations, foundations and corporate partners to engage
        | with students on Prizm. You will receive a confirmation email
        | once we have verified your entity and approved your status.
        | Thank you!
      .buttons
        button.save(type='button' onclick='overlay.cancel()') OK
