extends ../altlayout

block head
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-theme-prizm.css')
  link(rel='stylesheet', href='/stylesheets/login/login.css')


block content
  .container.top75
    include login_form
