extends ../layouts/layout_app

block head
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-theme-prizm.css')
  link(rel='stylesheet', href='/stylesheets/login/login.css')

block content
  .container.topnav-offset
    .row
      .col-mob-12
        include login_form
  script(type='text/javascript').
    var _interval = window.setInterval(function(){
      var autofills = $('input:-webkit-autofill');
      if (autofills.length > 0) {
        window.clearInterval(_interval);
        autofills.each(function(){
          var clone = $(this).clone(true, true);
          $(this).after(clone).remove();
        });
      }
    }, 20);
