extends ../layouts/app_layout

block head
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(rel='stylesheet', href='/stylesheets/bootstrap-theme-prizm.css')
  link(rel='stylesheet', href='/stylesheets/login/login.css')

block profileMenu
  #profile-navbar.hidden

block content
  .full-width.white-background.topnav-offset
    .container
      include login_form
