extends ../layouts/new_site_layout

block content
  .wrap.topnav-offset
    h2.full-width.underline Sign Up for Your 30-Day Trial
    p
      | No credit card required. Integration takes seconds.
    form#registration.v-flex
      div.v-item.v-flex
        label(for="name").v-item Organization Name
        input#name.v-item(type="text" name="first_name")
      div.v-item.v-flex
        label.v-item(for="type") Type
        select#type.v-item(name="type")
          option -
      div.v-item.v-flex
        label.v-item(for="email") Email
        input#email.v-item(type="email" name="email")
      div.v-item.v-flex
        label.v-item(for="password") Password
        input#password.v-item(type="password" name="password")
      div.v-item.v-flex
        label.v-item(for="confirm") Confirm Password
        input#confirm.v-item(type="password" name="confirm")


