mixin sidenav
  .dotNav()
    ul
      li.active
        a(href='#partner-home' elem='partner-header')
      li
        a(href='#what-is-prizm' elem='partner-block-1')
      li
        a(href='#custom-app' elem='partner-block-2')
      li
        a(href='#measure' elem='partner-block-3')
      li
        a(href='#why-prizm' elem='partner-block-4')

extends ../layouts/site_layout

block head
  //script(type='text/javascript' src='/javascripts/snap.js')

block content
  .wrap

  #underlay-color
  #overlay-image
  #overlay-color
  #main-screen.full-width.topnav-offset
    .wrap
      .header-title
        | Meet your members where they are.
      .header-blurb
        | Create a private digital community for your youth organization. 
        | Communicate and engage with members on their smartphones. 
      button#watch(onclick='prizm.playVideo(event)')  
      #scroll-down
          span

  #main-about.full-width
    a#about.anchor 
    .wrap
      .section.right
        h2 About Prizm
        h3 Built for organizations
        p.text-box.column
          | Prizm makes it easy for you and your members to stay 
          | in touch privately when they’re not in your scheduled 
          | in-person activities. Prizm is an app and web tool that 
          | helps eliminate email and paper flyers for communication, 
          | gives organization leaders back actionable data for 
          | fundraising purposes, and feels like popular social 
          | apps your members are already using. It’s time to 
          | start engaging with your members in a way that 
          | makes sense to them.
       
  #product.full-width.blue-background
    a#prizmproduct.anchor
    .wrap
      .section.left
        h2 Product
        h3 Custom app without the hassle 
        p.text-box.column
            | Prizm helps you stay connected to everyone in your organization, whether 
            | they are using iPhones, Android smartphones or the web. The self-service 
            | customization that Prizm offers gives you the feeling of a custom app 
            | without having to worry about testing, coding, software  updates or bug fixes.
  #connect.full-width.gray-background
    .wrap
      .section.right
        h3 Connect beyond email
        p.text-box.column
          | Prizm’s Message feature is easy to use and familiar to teens 
          | (and you don’t need their phone numbers to use it). It’s like a live 
          | mic to your members. Send a message to start a conversation, 
          | and push notifications get sent to everyone’s smartphone. 
          | Have a message for only a subgroup in your organization? 
          | No problem! You can easily organize members into the groups 
          | that reflect your organization so messages stay on point.
  #engage.full-width.truewhite-background
    .wrap
      .section.left
        h3 Engage members with relevant content
        p.text-box.column
          | You can send helpful material to your members with Insights. 
          | Maybe there’s an online article that has great advice about 
          | writing college essays or a story about a local hero that’s 
          | particularly inspirational. Insights are a way to stay connected 
          | with your members in real time. You don’t have to wait until 
          | your next meeting or send an email that won’t get read.
  #measure.full-width.gray-background
    .wrap
      .section.right
        h3 Measure impact of programs
        p.text-box.column
          | Use Prizm’s Survey feature to learn anything from opinions on 
          | a recent guest speaker to more longitudinal information that 
          | can be shared with your board and donors. Results are 
          | automatically compiled and accessible on the web or your 
          | smartphone. The built-in group Leaderboard allows you to offer 
          | prizes or other incentives to encourage member participation. 
  #manage.full-width.truewhite-background
    .wrap
      .section.left
        h3 Manage the experience
        p.text-box.column
          | Prizm gives you the tools to reflect your organization in the app 
          | right from your members’ first launch. Customize with your 
          | organization’s color scheme, pictures and subgroup names. Then 
          | invite and approve members, and adjust subgroups as needed. Prizm 
          | empowers you with information about member usage and viewed messages. 
          | You can even export group message logs for record keeping purposes.
  #bridge.full-width.gray-background
    .wrap
      .section.right
        h3 Bridge the gap
        p.text-box.column
          | Not only does Prizm make it easy to stay engaged with members, 
          | it provides organization leaders with a comprehensive view of 
          | what’s happening. Every post, hashtag, stated interest and survey 
          | response by members add up to a real time reflection of the 
          | organization’s impact. Prizm connects programming outcomes to 
          | development efforts by surfacing data for raising large donations 
          | from foundations and individuals.
  #whyprizm.full-width.blue-background
    a#why.anchor
    .wrap
      .section.left
        h2 Why Prizm?
        h3 Creating opportunities through connections
        p.text-box.column
          | We began this project because we saw firsthand how the world has 
          | changed with the adoption of mobile devices. The way people— especially 
          | teens— communicate and relate to each other has fundamentally changed in 
          | the past 10 years. Today, 73% of teenagers have or have access to a 
          | smartphone. We know that community organizations have a unique challenge in 
          | trying to engage their teen members with tools that aren’t effective anymore. 
          | Our goal is to help organizations stay relevant to their members, and teens 
          | stay connected to their clubs and organizations while learning about future 
          | opportunities like college and internships.
  #pricing.full-width.gray-background
    a#plans.anchor
    .wrap
      h2.center Pricing
      #plans
        span
          .plan FREE PLAN
          p.price FREE
          p.users 0 - 50 users
          ul.features
            li - Forever FREE
            li - Limited Email Support
          button Get Started
        span
          .plan LOCAL PLAN
          p.price $1
          p.price-type per user/month
          p.users 51 - 1000 users
          ul.features
            li - 30 Day 
              strong FREE TRIAL
            li - Email Support
          button Get Started
        span
          .plan REGIONAL PLAN
          p.price $1,000
          p.price-type per month
          p.users 1,001 - 10,000 users
          ul.features
            li - 30 Day 
              strong FREE TRIAL
            li - Phone Support
          button Get Started
        span
          p.plan NATIONAL PLAN
          p.price Let's Talk
          p.price-type per month
          p.users 10,000+ users
          ul.features
            li - 30 Day 
              strong FREE TRIAL
            li - Annual Support Fee
          button Contact Us
    p.disclaimer
      | You only pay for active users. No obligation and no credit card required.

  .sign-up-area
    p
      | Click below to download Prizm.
    a(id='sign-up'
      href='https://itunes.apple.com/us/app/prizm-app/id903458597?mt=8&uo=4"'
      target='itunes_store')
    a(id='android' href='https://play.google.com/store/apps/details?id=co.higheraltitude.prizm')
  .modal-overlay(onclick='prizm.hideOverlay(event)')
    .video-container
      #ytVideo
  


