mixin sidenav
  .dotNav()
    ul
      li.active
        a(href='#partner-home' elem='partner-header')
      li
        a(href='#what-is-prizm' elem='partner-block-1')
      li
        a(href='#custom-app' elem='partner-block-2')
      li
        a(href='#measure' elem='partner-block-3')
      li
        a(href='#why-prizm' elem='partner-block-4')

extends ../layouts/site_layout

block head
  //script(type='text/javascript' src='/javascripts/snap.js')

block content
  .wrap
  #partner-home.anchor
  #partner-header.full-width.hero.topnav-offset.snap
    .wrap
      h2#header-title.main-blurb
        | Meet your members where they are.
      p.description
        | Create a private digital community for your youth organization. 
        | Communicate and engage with members on their smartphones.
      .minor-wrap
        button.watch Watch Video 

  #about.partner-block.full-width.blue-barback.snap
    .gray-background
      .wrap
        #partner-section-1.section.right
          h2 About Prizm
          h3 Built for organizations
          p.text-box.column
            | Prizm makes it easy for you and your members to stay in 
            | touch privately when they’re not in your scheduled in-person 
            | activities. We designed Prizm so that organizations could 
            | eliminate email, paper flyers, and clunky online surveys. 
            | It’s time to start engaging with your members in a way that 
            | makes sense to them.
        #partner-phone-1.phone.left.topnav-offset
  #product.partner-block.full-width.gray-barback.snap
    .blue-background
      .wrap
        #partner-section-2.section.left
          h2 Product
          h3 Custom app without the hassle 
          p.text-box.column
            | Prizm allows you to communicate and engage privately 
            | with your members, whether they are using iPhones or 
            | Android smartphones. The self-service customization 
            | that Prizm offers gives you the feeling of a custom app 
            | without having to worry about testing, coding or bug fixes.
        #partner-phone-2.section.right.topnav-offset
  #partner-block-3.full-width.gray-barback.snap
    #measure.anchor
    .blue-background
      .wrap
        #partner-section-3.section.left
          h2 Measure and Share Outcomes
          p.text-box.column
            | Prizm gives organizations access to dashboards that show 
            | student interests, levels of engagement, and trending topics 
            | and hashtags within the membership. Prizm’s survey tool also 
            | allows organizations to easily create, push out and compile 
            | survey results that can be shared with donors and board 
            | leadership. Program directors can quickly understand and 
            | respond to member needs with access to Prizm’s qualitative 
            | and quantitative data.

        #partner-phone-4.phone.right.topnav-offset
  #partner-block-4.full-width.blue-barback.snap
    #why-prizm.anchor
    .gray-background
      .wrap
        #partner-section-4.section.right
          h2 Why Prizm?
          p.text-box.column
            | We began this project because we saw firsthand how the world 
            | has changed with the adoption of mobile devices. The way 
            | people — especially teens — communicate and relate to each 
            | other has fundamentally changed in the past 10 years. Today, 73% 
            | of teenagers have or have access to a smartphone. We know that 
            | community organizations have a unique challenge in trying to 
            | engage their teen members with tools that aren’t effective 
            | anymore. Our goal is to help organizations stay relevant to 
            | their members, and teens stay connected to their clubs and 
            | organizations while learning about future opportunities like 
            | college and internships.
        #partner-phone-3.phone.left.topnav-offset


 
 

