extends ../layouts/new_site_layout

block content
  .topnav-offset
    #about.two-col.minor-wrap
      .phone(data-src='/images/explore-phone@2x.png')
      .text.cell
         h2 About Prizm
         h3 Built for organizations
         p.text-box.column
          | Prizm makes it easy for you and your members to stay 
          | in touch privately when they’re not in your scheduled 
          | in-person activities. Prizm is an app and web tool that 
          | helps eliminate email and paper flyers for communication, 
          | gives organization leaders back actionable data for 
          | fundraising purposes, and feels like popular social 
          | apps your members are already using. It’s time to 
          | start engaging with your members in a way that 
          | makes sense to them.

