<html>
<head>
</head>
<body>
<p>Hi <%= first %>,</p>
<p>Thank you very much for your interest in being part of the Prizm beta team! 
We’re thrilled that you’re willing to help make this app the best it can be. In 
the next couple days we’ll be sending you an email about getting the test version 
of Prizm onto your iPhone.</p>
<p>Please look out for the email with instructions. We look forward to working 
with you and hearing your feedback!</p>
<p>Thanks,</p>
<br />
<p>Prizm Team</p>
<p>Be You...Be Prizmatic!</p>
</body>
</html>
