extends ../layouts/layout_app
block head
  script(type='text/javascript' src='https://www.google.com/jsapi') 
  script(type='text/javascript').
    google.load('visualization', '1.0', {'packages':['corechart']}); 
    google.setOnLoadCallback(drawChart);
    function drawChart(){
      var raw = !{JSON.stringify(results)};
      var data = new google.visualization.arrayToDataTable(raw);
       
      var options = {
                  title:'Posts By Provider',
                  width: 600,
                  height: 400,
                  backgroundColor: '#E4E5EA',
                  chartArea: {
                    top: 175
                  }
                      
                      };
      var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
block content
  #chart_div(style='height:300px;width:400px;')
