extends ../layouts/registration

block head
  script(type='text/javascript' src='/javascripts/profile/profile.js')
  script(type='text/javascript' src='/javascripts/registration.js')
block content
  .container.topnav-offset
    .registration
      h2 Customize
      form#avatar
        p.tagline
          | Add a photo to your Prizm
        #imageContainer.cursor(
          ondragover='register.drag(event)'
          ondrop='register.drop(event)'
          style=user.profile_photo_url?'background-image: url("#{user.profile_photo_url}")':'')
          if (!user.profile_photo_url)
            div#photoInstructions
              | or drag and drop files onto this window to upload
              br
              | (please limit file size to 2MB)
        input#imageFile(type='file' name='image' accept='image/*' onchange='register.imageChanged(event)')
        .buttons
          button.save Save
