extends ../layouts/registration

block head
  script(type='text/javascript' src='/javascripts/registration.js')

block content
  .container.topnav-offset
    .registration
      h2 Join Prizm Today!
      .multi-form
        p Are you a...
        ul.tabs(data-cols = 2)
          li.active(data-for = 'section1' onclick='tabs.select(event)')
            | Individual
          li(data-for = 'section2' onclick='tabs.select(event)')
            | Partner
        form#section1.active.body.register-form
          input(type='hidden' name='type' value='user')
          include individual
          .buttons
            button.save Save
        form#section2.body.register-form
          input(type='hidden' name='type' value='institution')
          include partner
          .buttons
            button.save Save
