include ../overlays/partner_warning
ul
  li
    label(for='organization') Organization
    input#organization(type='text' name='name' required='required')
  li
    label(for='type') Type
    select#type(name='subtype')
      option(value='community') Community
      option(value='corporate') Corporate
      option(value='education') Education
      option(value='foundation') Foundation
      option(value='military') Military
  li
    label(for='email') Email
    input#email(type='email' name='email' required='required')
  li
    label(for='password') Password
    input#password(type='password' name='password' required='required')
  li
    label(for='confirm') Confirm Password
    input#confirm(type='password' name='confirm' required='required')
  li
    label(for='zip') Zip Code
    input#zip(type='text' name='zip_postal' required='required')
  li
    label(for='website') Web Site
    input#website(type='text' name='website')
  li
    label(for='contact_first') Contact First Name
    input#contact_first(type='text' name='contact_first' required='required')
  li
    label(for='contact_last') Contact Last Name
    input#contact_last(type='text' name='contact_last' required='required')
  li
    label(for='contact_email') Contact Email
    input#contact_email(type='email' name='contact_email' required='required')
