.col-mob-6
  h2 Checkout
  form#payment-form(action='?action=createStripeAccount' method='POST')
      span.payment-errors
      .form-row
        label
          span Name   
          input(type='text' size='20' data-stripe='name')
      .form-row
        label
          span Address
          input(type='text' size='20' data-stripe='address_line_1')
      .form-row
        label
          span City   
          input(type='text' size='20' data-stripe='address_city')
        label
          span State  
          input(type='text' size='2' data-stripe='address_state') 
        label
          span Zip  
          input(type='text' size='5' data-stripe='address_zip')  
      .form-row
        label
          span Card Number   
          input(type='text' size='20' data-stripe='number') 
      .form-row
        label
          span CVC   
          input(type='text' size='3' data-stripe='cvc')   
      .form-row
        label
          span Expiration (MM/YYYY)   
          input(type='text' size='2' data-stripe='exp-month')  
        span 
        input(type='text' size='4' data-stripe='exp-year') 
      button(type='submit')
        | Submit Payment
  p
   | Right now submitting payment information creates a saved customer account
   | in stripe will all the billing information. We will need to create a story
   | to bill our customers accurately
  .message-payment
  button(class='btn btn-primary btn-payment disabled'
         onclick='org.nextSection()')
   | Next
.col-mob-6(style='background-color: aliceblue; height: 100%;')
    h1 IMG